@media (max-width: 970px){
	.hideShowDesktop{
		display: block;
	}
	.hide-me{
		display: none;
	}
	.home-links a{
		padding:10px 10px;
		border:2px solid #3376A9;
		margin:10px;
		font-size: 1em;
		border-radius:0px;
		color:#3376A9;
	}
}
