@import "config/_variables.scss";
article.content.typography{
    margin-bottom: 44px;
}
.typography {

    p {
        margin: 0 0 $line-height-computed/2;
        font-size: 16px;
        line-height: 24px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        /*        margin-top: $line-height-computed;
                font-weight: 500;
                font-family: inherit;
                color: inherit;
                margin-bottom: $line-height-computed/2;
                line-height: 1.1;*/
        a{
            color: inherit;
        }
        /*        &.panel-title {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-size: ceil(($font-size-base * 1.125));
                }*/

    }

    /*    h1 {
            font-size: $font-size-h1;
        }
        h2 {
            font-size: $font-size-h2;
        }
        h3 {
            font-size: $font-size-h3;
        }
        h4 {
            font-size: $font-size-h4;
            margin-top: $line-height-computed/2;
        }
        h5 {
            font-size: $font-size-h5;
            margin-top: $line-height-computed/2;
        }
        h6 {
            font-size: $font-size-h6;
            margin-top: $line-height-computed/2;
        }
        p { }

        em {
            font-style: italic;
        }


        a{
            text-decoration: none;
            &.intro {}
            &:hover {
                text-decoration: underline;

            }
            .btn & {
                &:hover {
                    text-decoration: none;
                }
            }
            &:focus {}
            &.label{
                color: $label-color;
            }
        }*/

    /*
        ul,
        ol,
        dl {

        }
        ul{
            li {

            }
        }
        li {
            margin-bottom: 5px;
        }
        .navbar li {
            margin-bottom: 0;
        }*/
    /*

        table {
            width: 100%;
            max-width: 100%;
            margin-bottom: $line-height-computed;
            // Cells
            > thead,
            > tbody,
            > tfoot {
                > tr {
                    > th,
                    > td {
                        padding: $table-cell-padding;
                        line-height: $line-height-base;
                        vertical-align: top;
                        border-top: 1px solid $table-border-color;
                    }
                }
            }
            // Bottom align for column headings
            > thead > tr > th {
                vertical-align: bottom;
                border-bottom: 2px solid $table-border-color;
            }
            // Remove top border from thead by default
            > caption + thead,
            > colgroup + thead,
            > thead:first-child {
                > tr:first-child {
                    > th,
                    > td {
                        border-top: 0;
                    }
                }
            }
            // Account for multiple tbody instances
            > tbody + tbody {
                border-top: 2px solid $table-border-color;
            }

            tr{
                &:nth-child(even) {
                    background-color: $table-bg-accent
                }
            }
                    th,
                    thead td {
                        background-color: $table-bg-accent
                    }
                    td,
                    th {
                        padding: 2px 5px;
                        border: 1px solid $table-border-color;
                        vertical-align: top;
                        font-size: 14px;
                    }
                    th {
                        font-weight: bold;
                    }
        }

    */

    img {
        height: auto; /* resets the image height so that it maintains its aspect ratio when width is set */
        /*background: transparent url(../images/ajax-loader.gif) no-repeat center center;*/
        &.left {
            float: left;
            max-width: 50%;
            margin: $padding-small-vertical ($padding-small-vertical*4) ($padding-small-vertical*2) 0;
        }
        &.right {
            float: right;
            max-width: 50%;
            margin: $padding-small-vertical 0 ($padding-small-vertical*4) ($padding-small-vertical*2);
        }
        &.leftAlone {
            float: left;
            margin-right: 100%;
            margin-bottom: ($padding-small-vertical*2);
            clear: both;
        }
        &.center {
            float: none;
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-bottom: ($padding-small-vertical*2);
            clear: both;
        }
    }

    /*
        blockquote {
            background: transparent url(../images/blockquote.png) no-repeat 0px 6px;
            display: block;
            font-style: italic;
            margin: 0;
            border: none;
            text-indent: $grid-gutter-width;
            padding-top: ($padding-small-vertical*2);
            padding-bottom: ($padding-small-vertical*2);
            padding-left: 0;
            padding-right: 0;
        }
        blockquote p {
            font-size: 17px;
            line-height: 25px;
        }
        pre {
            background: $gray-lighter;
            border: 1px solid $gray;
            font-family: Courier, monospace;
            margin: 0 0 20px 0;
            padding: 15px;
            clear: both;
        }

        address {
            display: block;
            margin-bottom: 20px;
        }*/

    .align-left {
        float: left;
        margin-right: ($padding-small-vertical*4);
        max-width: 50%;
    }

    .align-right {
        float: right;
        margin-left: ($padding-small-vertical*4);
        max-width: 50%;
    }

    .captionImage {
        width: 100%;
        margin-top: $line-height-computed/4;
        &img {
            margin: 0;
        }
        &.left {
            float: left;
            margin: $line-height-computed/4 $line-height-computed*1.5 $line-height-computed 0px;
        }
        &.right{
            float: right;
            margin: $line-height-computed/4 0 $line-height-computed $line-height-computed*1.5;
            p {
                margin-left: - $line-height-computed/2;
                text-align: left;
                margin-left: - $line-height-computed/2;
            }
        }
        &.left[style],
        &.right[style] {
            max-width: 50%;  //Overides core width to make responsive
        }
        &.left img,
        &.right img {
            float: none;
            max-width: none;
            width: 100%;
        }
        &.left img {
            margin-right: - $line-height-computed/2;
        }
        &.right img {
            margin-left: - $line-height-computed/2;
        }
        &.leftAlone{
            float:none;
            margin: 0 $line-height-computed $line-height-computed 0px;
        }
        &.center{
            margin: 0 auto $line-height-computed;
        }
        p {
            clear: both;
            margin: $line-height-computed/4 0;
            font-style: italic;
            color: $gray-light;
        }
    }

    ::selection,
    ::-moz-selection {  //Applies style to highlighted portion of a page
                        background: $state-warning-bg;
                        color: $state-warning-text;
                        text-shadow: none;
    }

    .left {
        text-align: left
    }
    .center {
        text-align: center;
    }
    .right {
        text-align: right;
    }
}


