/*.container {
    z-index:1;
     background:url(/test/wp-content/themes/twentythirteen/images/college-graduation.jpg);
      opacity:0.2;
    height: 100%;
    width: 100%;
      position: relative;
      background-size: cover;
}
fieldset {
    text-align: center;
}

.form-horizontal .form-group, .form-horizontal div.field.text, .form-horizontal div.field.textarea, .form-horizontal div.field.optionset, .form-horizontal div.field.dropdown, .form-horizontal div.field.datetime, .form-horizontal div.field.file, .form-horizontal div.field.creditcard, .form-horizontal div.field.phonenumber, .form-horizontal div.field.fieldgroup, .form-horizontal div.field.listbox, .form-horizontal div.field.radio, .form-horizontal div.field.checkbox {
    margin-left: 75px;
    margin-right: 0;
    float: left;
}
*/
.navbar.navbar-default {
    margin-bottom: 0px;
    border: 0px solid transparent;
    background-color: #f8f8f8;
    background-image: linear-gradient(to bottom, white 0%, #f8f8f8 100%);
    margin-bottom: 6px;
    box-shadow: none;
    border-radius: 0;
}
.navbar.navbar-default .brand{
    padding: 5px;
    display: inline-block;
}
.navbar.navbar-default .brand img{
    height: auto;
    width: 155px;
}
form.college-search{
    text-align: center;
}
form.college-search .field{
    text-align: left;
}
/*

.site-header {
    height:0px;
}

header .top {
    margin-bottom: 0;
}

header .brand {
    background-color: #f8f8f8;
    background-image: linear-gradient(to bottom, white 0%, #f8f8f8 100%);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
    margin-bottom: 6px;
}

.center {
    background: url(/test/wp-content/themes/twentythirteen/images/college-graduation-darkoverlay.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}

.form-horizontal .Actions input:first-child {
    margin-left: 36%;
    margin-top: 45px;
    margin-bottom: 45px;
}

@media (min-width: 768px){
    .navbar{
        border-radius: 0px;
        float: right;
        width: 88.8%;
        height: 70px;
         margin-left: 15px;
    }

    .navbar-collapse.collapse{
        margin-top: 10px;
    }

    .form-horizontal div.field.text > label, .form-horizontal div.field.textarea > label, .form-horizontal div.field.optionset > label, .form-horizontal div.field.dropdown > label, .form-horizontal div.field.datetime > label, .form-horizontal div.field.file > label, .form-horizontal div.field.creditcard > label, .form-horizontal div.field.phonenumber > label, .form-horizontal div.field.fieldgroup > label, .form-horizontal div.field.listbox > label{
        width: 25%;
        font-size: 20px;
        color: #ffffff;
    }
    .form-horizontal div.field.text > .middleColumn, .form-horizontal div.field.text > .description, .form-horizontal div.field.textarea > .middleColumn, .form-horizontal div.field.textarea > .description, .form-horizontal div.field.optionset > .middleColumn, .form-horizontal div.field.optionset > .description, .form-horizontal div.field.dropdown > .middleColumn, .form-horizontal div.field.dropdown > .description, .form-horizontal div.field.datetime > .middleColumn, .form-horizontal div.field.datetime > .description, .form-horizontal div.field.file > .middleColumn, .form-horizontal div.field.file > .description, .form-horizontal div.field.creditcard > .middleColumn, .form-horizontal div.field.creditcard > .description, .form-horizontal div.field.phonenumber > .middleColumn, .form-horizontal div.field.phonenumber > .description, .form-horizontal div.field.fieldgroup > .middleColumn, .form-horizontal div.field.fieldgroup > .description, .form-horizontal div.field.listbox > .middleColumn, .form-horizontal div.field.listbox > .description{
        width: 75%;
    }
}
*/
@media (min-width: 768px){
    header.site-header  .navbar-nav > li > a{
        padding-top: 31px;
        padding-bottom: 31px;
    }
}

@media (min-width: 1200px){
    .container{
        width: 100%;
    }


}