/*@import '../../../bower_components/bootswatch/cerulean/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/cosmo/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/cyborg/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/darkly/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/flatly/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/journal/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/lumen/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/paper/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/readable/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/sandstone/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/simplex/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/slate/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/spacelab/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/superhero/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/united/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/yeti/_variables.scss';*/
div, article {
  width: 100%;
  margin: 0;
  float: none; }

.navbar, .sidebar-nav, .breadcrumb, .icon, .control, .btn, .carousel-control, .printShare, .resultsHeader, .pagination, #lang, footer {
  display: none; }

/*# sourceMappingURL=print.css.map */
