header.page-header{
    margin-top:0;
    h1{
        margin-top:0;
    }
}

.side{
    h3{
        margin-top: 0;
    }
    &.right, &.left{
        @include make-sm-column(3);
    }
}

.center{
    @include make-sm-column(12);
    &.has-right, &.has-left{
        @include make-sm-column(9);
    }
    &.has-righ.has-left{
        @include make-sm-column(6);
    }
}

.content{
    @include clearfix;
}

