 /* =============================================================================
HOME PAGE
   ========================================================================== */

#core_categoryblock_side_yes .media .pull-left {padding: 6px;background-color: #ededed;-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);-moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);display: inline-block; 
margin-bottom: 10px;margin-right:20px;}
#core_categoryblock_side_yes .media .pull-left img {width: 100px;height: 100px;}

.BasicSearchBox { padding:50px; background-color:#fac564; background-image:url(img/bg1.png);   height:450px; color:#fff; text-shawdow:1px 1px 1px #000; }
.BasicSearchBox h1 { font-size:60px; font-weight: 600; text-shadow: 0 2px 0 #666; }
.BasicSearchBox h2 { margin-bottom:50px; text-shadow: 0 1px 0 #666; }
.BasicSearchBox .well { margin-top:30px; max-width:1100px; background:none; border:1px solid #fff; }
.BasicSearchBox .well .btn { border-radius:0px; height:45px; width:100%; }
@media (min-width: 0px) and (max-width: 995px) {
.BasicSearchBox { padding:10px; }
.BasicSearchBox .well { padding:10px; }
.BasicSearchBox h1 { font-size:30px; text-align:center; }
.BasicSearchBox h2 { font-size:16px; margin:0px; text-align:center; }
.BasicSearchBox input, .BasicSearchBox select { margin-bottom:10px; }
}
.BasicSearchBox input, .BasicSearchBox select {
    border-radius: 0px;
    font-size: 20px;
    height: 45px;
    background: #fafafa;
}

.wlt_object_head_4 { margin-top:20px; margin-bottom:20px; }
.wlt_object_head_4 ul { margin:0px; padding:0px; list-style:none; }
.wlt_object_head_4 ul li .b {  overflow: hidden;    border: 1px solid #c6c6c6;    position: relative;    -moz-transition: 0.5s;    -o-transition: 0.5s;    -webkit-transition: 0.5s;    transition: 0.5s; }
.wlt_object_head_4 ul li img {-moz-transition: 0.3s;-o-transition: 0.3s;-webkit-transition: 0.3s;transition: 0.3s; }
.wlt_object_head_4 ul li .b:hover {-moz-transition: 0.5s;-o-transition: 0.5s;-webkit-transition: 0.5s;transition: 0.5s;-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.33);-moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.33);box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.33); }
.wlt_object_head_4 ul li .b:hover img {  -moz-transition: 0.3s;  -o-transition: 0.3s;  -webkit-transition: 0.3s;  transition: 0.3s; }
.wlt_object_head_4 ul li .item-html h3 {  text-transform: uppercase; color: red;  font-size:25px;  margin: 0;  padding: 0;  -moz-transition: 0.3s;  -o-transition: 0.3s;  -webkit-transition: 0.3s;  transition: 0.3s; }
.wlt_object_head_4 ul li .item-html h3 span {    display: block;  color: #000;    font-size:30px;  }
.wlt_object_head_4 ul li .item-html .btn1:hover {  background: #ff0000;  color: #fff;  padding-left: 30px; }
.wlt_object_head_4 ul li .item-html .btn1:hover:before {    content: "\f105";    font: 400 13px/16px "FontAwesome";    color: #fff;    padding-right: 10px;    -moz-transition: 0.5s;    -o-transition: 0.5s;    -webkit-transition: 0.5s;    transition: 0.5s;    left: 14px;    top: 9px; }
.wlt_object_head_4 ul li img {max-width: 100%;height: auto; } 
@media (max-width: 767px) {    .wlt_object_head_4 {width: 100%;max-width: 100%;padding-left: 0;padding-top: 0; } }  @media (max-width: 767px) {    .wlt_object_head_4 ul {margin: 0 -5px; } }    @media (min-width: 992px) and (max-width: 1199px) {.wlt_object_head_4 ul li {  width: 49%; } }    @media (max-width: 991px) {.wlt_object_head_4 ul li {  width: 49%; } }    @media (max-width: 767px) {.wlt_object_head_4 ul li {  width: 49%; } }    @media (max-width: 479px) {.wlt_object_head_4 ul li {  width: 100%;  float: none; } }  @media (min-width: 1199px) {    .wlt_object_head_4 ul li:hover img {opacity: 0.3;-moz-transform: scale(1.3, 1.3);-ms-transform: scale(1.3, 1.3);-o-transform: scale(1.3, 1.3);-webkit-transform: scale(1.3, 1.3);transform: scale(1.3, 1.3); } }  @media (min-width: 992px) and (max-width: 1199px) {    .wlt_object_head_4 ul li:hover img {opacity: 0.3;-moz-transform: scale(1.3, 1.3);-ms-transform: scale(1.3, 1.3);-o-transform: scale(1.3, 1.3);-webkit-transform: scale(1.3, 1.3);transform: scale(1.3, 1.3); } }  @media (max-width: 991px) {    .wlt_object_head_4 ul li:hover img {opacity: 0.3;-moz-transform: scale(1.3, 1.3);-ms-transform: scale(1.3, 1.3);-o-transform: scale(1.3, 1.3);-webkit-transform: scale(1.3, 1.3);transform: scale(1.3, 1.3); } }.wlt_object_head_4 ul li:hover .item-html .btn1 {  opacity: 1; }.wlt_object_head_4 ul li:hover .item-html h3 {  color: red;  -moz-transition: 0.3s;  -o-transition: 0.3s;  -webkit-transition: 0.3s;  transition: 0.3s; }  .wlt_object_head_4 ul li:hover .item-html h3 span {    color: #000; }    .wlt_object_head_4 ul li .item-html {position: absolute;left: 19px;top: 14px;width: 100%; }@media (max-width: 991px) {  .wlt_object_head_4 ul li .item-html {    left: 9px;    top: 10px; } }@media (max-width: 767px) {  .wlt_object_head_4 ul li .item-html {    top: 8px; } }@media (max-width: 479px) {  .wlt_object_head_4 ul li .item-html {    top: 10px; } }  @media (min-width: 992px) and (max-width: 1199px) {    .wlt_object_head_4 ul li .item-html h3 {font: 700 24px/23px; } }  @media (max-width: 991px) {    .wlt_object_head_4 ul li .item-html h3 {font: 700 20px/19px; } }  @media (max-width: 767px) {    .wlt_object_head_4 ul li .item-html h3 {font: 700 18px/17px; } }  @media (max-width: 479px) {    .wlt_object_head_4 ul li .item-html h3 {font: 700 24px/23px; } }@media (max-width: 767px) {  .wlt_object_head_4 ul li .item-html .btn1 {    display: none; } }@media (min-width: 768px) {  .wlt_object_head_4 ul li .item-html .btn1 {   height:35px; color: #fff;    background: #000;    text-transform: uppercase;    display: inline-block;    padding: 7px 15px;    margin: 0px;    position: absolute;		  top:10px; bottom: 15px;    right: 62px;    opacity: 0;    -moz-transition: 0.6s;    -o-transition: 0.6s;    -webkit-transition: 0.6s;    transition: 0.6s; }    .wlt_object_head_4 ul li .item-html .btn1:before {-moz-transition: 0.5s;-o-transition: 0.5s;-webkit-transition: 0.5s;transition: 0.5s;position: absolute;left: -20px;top: 0; } }     

/*** mobile adjustment ***/
@media (max-width: 480px){ 
.wlt_object_head_4 ul li .b { margin-bottom:10px; }
}

.wlt_object_head_4 ul li .item-html h3 { color:#fff }
.wlt_object_head_4 ul li .b:hover h3 { color:#fac564;}
.wlt_object_head_4 ul li .item-html h3 span {color: #727272;}

.wlt_search_results.grid_style .col-md-11 { width:100%; height:100%; background:#fff; }
.wlt_search_results.grid_style .thumbnail { background:#ececec; }


.home .catstyle5 .media .pull-left { margin-left:10px; }
.home .catstyle5.cols3 .media .pull-left img {    width: 100px;    height: 80px; }

/* =============================================================================
  LISTING STYLES
   ========================================================================== */
   
.wlt_search_results.list_style .thumbnail .col-md-11:hover, .wlt_search_results.grid_style .thumbnail:hover { -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.25); box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.25);  }
 .wlt_search_results.list_style .thumbnail { margin:0px; padding:0px; border:0px; }
.wlt_search_results .col-md-11 { border:1px solid #ddd; padding:10px; }

.wlt_search_results.list_style h2 { margin: 0px;    padding: 0px;    font-size: 20px;   padding-bottom: 10px;    padding-top: 10px;    border-bottom: 1px dashed #ddd;    margin-bottom: 10px;} 
.wlt_search_results.list_style .wlt_starrating { float:right; }	

	.wlt_search_results.grid_style h2 { margin:0px; padding:0px; font-size: 18px; padding-bottom: 10px; margin-top:10px; }

.wlt_search_results.grid_style .content { text-align:center; line-height:30px; }
.wlt_search_results.grid_style .wlt_shortcode_phone, .wlt_search_results.grid_style .wlt_shortcode_distance, .wlt_search_results.grid_style .wlt_shortcode_location { display:block; clear:both; }

.wlt_search_results .col-md-1 ul li { background-color: #fac564;   margin-left:-15px; margin-right:-15px; text-align:center; color:#fff;  padding-top:10px; padding-bottom:10px; line-height:18px; }
.wlt_search_results .col-md-1 ul li a { color:#fff; }
.wlt_search_results .col-md-1 ul li:nth-child(2) { background:#ccc; border-top:2px solid #AFAFAF;  }
.wlt_search_results .col-md-1 ul li:nth-child(3) { background:#ddd; border-top:5px solid #fff; }
.wlt_search_results .col-md-1 ul li:nth-child(4) { background:#fafafa; }
.wlt_search_results ul li {max-width: 500px;}
.wlt_search_results ul { padding:0px; }
.wlt_search_results.grid_style .wlt_starrating {
    margin-top: 15px;
    margin-bottom: 0px;
    display: block;
}

	
/* =============================================================================
  SINGLE PAGE STYLES
  ========================================================================== */

#wlt_google_map { margin-bottom:0px; }
.single .wlt_shortcode_favs a { color:#ccc; }
.single .dsocial { margin-top: 15px; margin-right: 10px; }
.single #core_middle_column .panel { border:1px solid #ddd; }
.single #core_middle_column .panel .breadcrumb { border:0px; border-bottom:1px solid #ddd; background:#fff; margin-bottom:10px; }
.single .flexslider { border:1px solid #ddd; }
.single .flexslider .slides img {display: block;max-height: 300px;}
.single #carousel img { cursor:pointer; }
.single .panel .breadcrumb { margin-bottom:10px; border:1px solid #ddd; border-radius:0px; background:#FAFAFA; color:#ccc; }
.single .panel .breadcrumb>li+li:before {padding: 0 5px;color: #ccc;content: "/\00a0";}
.single #TableCustomFieldsSmall { margin-top:15px; }
.single .well { -webkit-box-shadow:none; box-shadow:none; border-radius:0px; background:#FAFAFA; }
.single .board h3 { margin-top:0px; }
.single h1 { margin-top: 0px; margin-bottom: 20px; font-size:30px; }
.board {min-height: 200px;background: #fff;}
.board .nav-tabs {    position: relative;    margin: 0px auto;    margin-bottom: 0;    box-sizing: border-box;}
.board > div.board-inner{    background: #fafafa;    background-size: 30%; border-top:1px solid #ddd; margin-top:20px; }
.board p.narrow{    width: 60%;    margin: 10px auto;}
.board .liner{    height: 2px;    background: #ddd;    position: absolute;    width: 80%;    margin: 0 auto;    left: 0;    right: 0;    top: 50%;    z-index: 1;}
.board .nav-tabs > li.active > a, .board .nav-tabs > li.active > a:hover, .board .nav-tabs > li.active > a:focus {    color: #555555;    cursor: default;    border: 0;    border-bottom-color: transparent;}
.board span.round-tabs{    width: 70px;    height: 70px;    line-height: 70px;    display: inline-block;    border-radius: 100px !important;    background: white;    z-index: 2;    position: absolute;    left: 0;    text-align: center;    font-size: 25px;}
.board span.round-tabs {    color:#999; border: 2px solid #999;}
.board li.active span.round-tabs {    background: #fff !important;    border: 2px solid #1cc900;    color: #1cc900;}
.board .nav-tabs > li.active > a span.round-tabs{    background: #fafafa;}
.board .nav-tabs > li {    width: 20%;} 
.board li:after {    content: " ";    position: absolute;    left: 45%;   opacity:0;    margin: 0 auto;    bottom: 0px;    border: 5px solid transparent;    border-bottom-color: #ddd;    transition:0.1s ease-in-out;}
.board li.active:after {    content: " ";    position: absolute;    left: 45%;   opacity:1;    margin: 0 auto;    bottom: 0px;    border: 10px solid transparent;    border-bottom-color: #ddd;}
.board .nav-tabs > li a {   width: 70px;   height: 70px;   margin: 20px auto;   border-radius: 100%;   padding: 0;}
.board .nav-tabs > li a:hover {    background: transparent;}
.board .tab-content{ padding:20px;}
.board .tab-pane{   position: relative;padding-top: 0px;}
.board .tab-content .head{    font-size: 25px;    text-transform: uppercase;    padding-bottom: 10px;}
.board .btn-outline-rounded{    padding: 10px 40px;    margin: 20px 0;    border: 2px solid transparent;    border-radius: 25px;}
.board .btn.green{    background-color:#5cb85c;    color: #ffffff;}
@media( max-width : 585px ){
	.board .nav-tabs > li { width:25%; }
	.board {min-height:auto !important;}
	.board span.round-tabs {font-size:16px;width: 50px;height: 50px;line-height: 50px;    }
	.board .tab-content .head{ font-size:20px;}
	.board .nav-tabs > li a {width: 50px;height: 50px;line-height:50px;}
	.board li.active:after {content: " ";position: absolute;left: 35%;}
	.board .btn-outline-rounded {    padding:12px 20px;    }
	.board h3 { font-size:18px; }
}