@import "_generated_sprites/_all.scss"; 
@mixin responsive-sprite($sprite){
    $sprite-width: nth($sprite, 5);
    $sprite-height: nth($sprite, 6);
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4); 
    $image-width: nth($sprite, 7);
    $image-height: nth($sprite, 8);

    $size-offset-x: $image-width  /  $sprite-width;
    $size-offset-y: $image-height / $sprite-height; 
    $position-offset-x: -1 * $sprite-offset-x / ($image-width   - $sprite-width);
    $position-offset-y: -1 * $sprite-offset-y / ($image-height  - $sprite-height); 
    @if $size-offset-x == "Infinity" { 
        $size-offset-x: 0;
    }
    @if $size-offset-y == "Infinity" { 
        $size-offset-y: 0;
    }
    @if $position-offset-x == "Infinity" { 
        $position-offset-x: 0;
    }
    @if $position-offset-y == "Infinity" { 
        $position-offset-y: 0;
    }
    @include sprite-image($sprite);
    background-size: percentage( $size-offset-x) percentage($size-offset-y);
    background-position: percentage($position-offset-x) percentage($position-offset-y);
}
@mixin responsive-sprites($sprites){
    @each $sprite in $sprites {
        $sprite-name: nth($sprite, 10);
        .#{$sprite-name}-scale {
            @include responsive-sprite($sprite);
        }
    }
}

@mixin make-sprite($sprite,$responsive: true){
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
        @include sprite($sprite);
        @extend %sprite-block;
    }
    @if ($responsive){
        .#{$sprite-name}-scale {
            @include responsive-sprite($sprite);
            @extend %sprite-block;
        }
    }
}

@mixin make-sprites($sprites,$responsive: true){
    @each $sprite in $sprites {
        // Single item sprite, make it a list
        @if length($sprite) == 10 and type-of(nth($sprite, 10)) == "string"{
            $sprite: append((), $sprite);
        }
        @each $sprite in $sprite {
            @include make-sprite($sprite,$responsive);
        }
    }
}
%sprite-inline{
    display: inline-block;
}
%sprite-block{
    display: block;
}