/*HEADER */
header {
    .top{
        margin-bottom: $line-height-computed;
    }
    .container{
        position: relative;
    }
    .brand {
        font-size: 3em;
        font-weight:bold;
        overflow:visible;
        line-height:1em;
        float: left;
        margin-top: 0;
        color: inherit;
        &:hover,&:visited {
            color: inherit;
            text-decoration: none;
        }
    }

    ul#lang {
        float: right;

        li {
            float: left;
            margin-left: 10px;
            list-style: none;
        }
    }
}
