@import "config/_variables.scss";
@import "includes/_all.scss";
body{
    &:before{
        font-family: $font-family-base;
        font-size: $font-size-base;
        line-height: $line-height-base;
        color: $text-color;
        background-color: $body-bg;
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        display: inline-block;
        padding: 5px;
        content: "unset";
        @include box-shadow(-1px -1px 14px 3px rgba(50, 50, 50, 0.75));
        @include if-lg(){
            content: "if-lg";
        }
        @include if-md(){
            content: "if-md";
        }
        @include if-sm(){
            content: "if-sm";
        }
        @include if-xs(){
            content: "if-xs";
        }
        @include if-xxs(){
            content: "if-xxs";
        }

    }
    >p.message{
        @extend .alert;
        padding: 10px;
        margin: 5px 15px;
        border-radius: 10px;
        &.good{
            @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
        }
        &.warning{
            @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
        }
        &.bad{
            @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
        }
    }
}
.responsive-helper-debug{
    top: 32px!important;
}
.test-div-wrap{
    height: 1500px;
    width: 100%;
    background: #fff;
    padding: 100px 0;
    .test-div{
        margin: auto;
        width: 465px;
        height:465px;
        img{
            position: relative;
            z-index: -2;
        }
    }
}