
	
	<!-- Content -->
	<article class="container_12">
		
		<section class="grid_4">
			<div class="block-border"><div class="block-content">
				<h1>Quick Operations</h1>
				
				<ul class="favorites no-margin with-tip" title="Quick Operations">
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/chive.png" width="48" height="48">
						<a href="/ehcp/chive" target="_blank">Chive<br>
						<small>MySQL &gt; Chive</small></a>
					</li>
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/phpmyadmin.png" width="48" height="48">
						<a href="/phpmyadmin" target="_blank">PHPmyAdmin<br>
						<small>MySQL &gt; PHPmyAdmin</small></a>
					</li>
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/squirrelmail.png" width="48" height="48">
						<a href="webmail" target="_blank">Squirrel Mail<br>
						<small>Email &gt; Squirrel Mail Box</small></a>
					</li>
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/roundcube.png" width="48" height="48">
						<a href="webmail2" target="_blank">Roundcube Mail<br>
						<small>Email &gt; RoundCube Mail Box</small></a>
					</li>
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/net2ftp.png" width="48" height="48">
						<a href="net2ftp" target="_blank">File Manager<br>
						<small>FTP &gt; Net2FTP/File Manager</small></a>
					</li>
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/Save.png" width="48" height="48">
						<a href="?op=backups">Backup Domain<br>
						<small>System &gt; Generate/List Backup Of Domain</small></a>
					</li>
					
				</ul>
				
				
				
			</div></div>
		</section>
		
		
		<section class="grid_8">
			<div class="block-border"><div class="block-content">
				<h1>Control panel</h1>
												
				<h3>Email</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=listallemailusers" title="List All Email Address">
						<img src="{templatedir}/images/icons/web-app/48/Modify.png" width="48" height="48">List All Email Address
					</a></li>
					<li><a href="?op=addemailuser" title="Add Email Address To Specific Domain">
						<img src="{templatedir}/images/icons/web-app/48/Add.png" width="48" height="48">Add Email Address
					</a></li>
					<li><a href="?op=bulkaddemail" title="Bulk Add Email Address To Specific Domain">
						<img src="{templatedir}/images/icons/web-app/48/Add.png" width="48" height="48">Bulk Add Email Address
					</a></li>
					<li><a href="?op=emailforwardings" title="List Email Fowarding">
						<img src="{templatedir}/images/icons/web-app/48/email_forward.png" width="48" height="48">List Email Fowarding
					</a></li>
					<li><a href="?op=addemailforwarding" title="Add Email Fowarding">
						<img src="{templatedir}/images/icons/web-app/48/emailforward_add.png" width="48" height="48">Add Email Fowarding
					</a></li>
					</ul>
					<ul class="shortcuts-list">
					<li><a href="webmail" title="Webmail/Squirrel Mail Box" target="_blank">
						<img src="{templatedir}/images/icons/web-app/48/squirrelmail.png" width="48" height="48">Squirrel Mail
					</a></li>
					<li><a href="webmail2" title="Webmail/Roundcube Mail Box" target="_blank">
						<img src="{templatedir}/images/icons/web-app/48/roundcube.png" width="48" height="48">RoundCube Mail
					</a></li>
				</ul>


				<h3>FTP</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=listallftpusers" title="List All FTP Users">
						<img src="{templatedir}/images/icons/web-app/48/listftp.png" width="48" height="48">List All FTP Users
					</a></li>
					<li><a href="?op=addsubdirectorywithftp" title="Add Subdirectory With FTP (under domain name)">
						<img src="{templatedir}/images/icons/web-app/48/ftp-icon.png" width="48" height="48">Add Subdirectory With FTP
					</a></li>
					<li><a href="?op=addftptothispaneluser" title="Add Extra FTP Under My FTP Space Freely">
						<img src="{templatedir}/images/icons/web-app/48/ftp-icon.png" width="48" height="48">Add Extra FTP Under My FTP Space
					</a></li>
					<li><a href="?op=addsubdomainwithftp" title="Add Subdomain Of A Specific Domain With Ftp">
						<img src="{templatedir}/images/icons/web-app/48/subdomainftp.png" width="48" height="48">Add Subdomain With FTP
					</a></li>
					<li><a href="net2ftp" title="Net2FTP/File Manager" target="_blank">
						<img src="{templatedir}/images/icons/web-app/48/net2ftp.png" width="48" height="48">File Manager
					</a></li>
				</ul>
				
				
				<h3>MySQL</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=domainop&amp;action=listdb" title="List All MYSQL Databases">
						<img src="{templatedir}/images/icons/web-app/48/mysql.gif" width="48" height="48">List MySQL Databases
					</a></li>
					<li><a href="?op=addmysqldb" title="Add MYSQL Database &amp; User To A Domain">
						<img src="{templatedir}/images/icons/web-app/48/mysqladd.gif" width="48" height="48">Add MySQL Database &amp; User
					</a></li>
					<li><a href="?op=addmysqldbtouser" title="Add MYSQL Database To An Existing Database User">
						<img src="{templatedir}/images/icons/web-app/48/mysqladd.gif" width="48" height="48">Add MySQL Database To Existing User
					</a></li>
					<li><a href="?op=dbadduser" title="Add MYSQL User To Existing Database">
						<img src="{templatedir}/images/icons/web-app/48/mysqladd.gif" width="48" height="48">Add MySQL User To Existing Database
					</a></li>
					<li><a href="/phpmyadmin" target="_blank" title="PHPmyAdmin">
						<img src="{templatedir}/images/icons/web-app/48/phpmyadmin.png" width="48" height="48">PHPmyAdmin
					</a></li>
					<li><a href="/ehcp/chive" target="_blank" title="Chive">
						<img src="{templatedir}/images/icons/web-app/48/chive.png" width="48" height="48">Chive
					</a></li>
				</ul>


				<h3>Domain Operations</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=subdomains">
						<img src="{templatedir}/images/icons/web-app/48/Bar-Chart.png" width="48" height="48">List SubDomains
					</a></li>
					<li><a href="?op=addsubdomain">
						<img src="{templatedir}/images/icons/web-app/48/adddomain.png" width="48" height="48">Add SubDomain
					</a></li>
					<li><a href="?op=customdns">
						<img src="{templatedir}/images/icons/web-app/48/dns.png" width="48" height="48">List Custom DNS
					</a></li>
					<li><a href="?op=addcustomdns">
						<img src="{templatedir}/images/icons/web-app/48/dns.png" width="48" height="48">Add Custom DNS
					</a></li>
					<li><a href="?op=customhttp">
						<img src="{templatedir}/images/icons/web-app/48/http.png" width="48" height="48">List Custom HTTP
					</a></li>
					<li><a href="?op=addcustomhttp">
						<img src="{templatedir}/images/icons/web-app/48/http.png" width="48" height="48">Add Custom HTTP
					</a></li>
					</ul>
					<ul class="shortcuts-list">
					<li><a href="?op=selectdomain">
						<img src="{templatedir}/images/icons/web-app/48/Bar-Chart.png" width="48" height="48">List Domains
					</a></li>
					<li><a href="?op=directories">
						<img src="{templatedir}/images/icons/web-app/48/pass.png" width="48" height="48">List Password Protected Directories
					</a></li>
					<li><a href="?op=adddirectory">
						<img src="{templatedir}/images/icons/web-app/48/pass.png" width="48" height="48">Add Password Protected Directories
					</a></li>
					<li><a href="?op=editdnstemplate">
						<img src="{templatedir}/images/icons/web-app/48/dns.png" width="48" height="48">Edit DNS Template
					</a></li>
					<li><a href="?op=editwebservertemplate">
						<img src="{templatedir}/images/icons/web-app/48/apache-2.png" width="48" height="48">Edit Webserver Template
					</a></li>
					<li><a href="?op=editdomainaliases">
						<img src="{templatedir}/images/icons/web-app/48/alias.gif" width="48" height="48">Edit Domain Aliases
					</a></li>
				</ul>

				
				<h3>Advance</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=editdomain">
						<img src="{templatedir}/images/icons/web-app/48/active-deactive.png" width="48" height="48">Activate / Deactivate Domain
					</a></li>
					<li><a href="?op=transferdomain">
						<img src="{templatedir}/images/icons/web-app/48/transfer.png" width="48" height="48">Transfer Domain
					</a></li>
					<li><a href="?op=backups">
						<img src="{templatedir}/images/icons/web-app/48/Save.png" width="48" height="48">Generate / List Domain Backup
					</a></li>
					<li><a href="?op=addredirect">
						<img src="{templatedir}/images/icons/web-app/48/domain_redirect.png" width="48" height="48">Redirect To Another URL
					</a></li>
					<li><a href="?op=custompermissions">
						<img src="{templatedir}/images/icons/web-app/48/permissions.jpg" width="48" height="48">Custom File Permissions
					</a></li>
					<li><a href="?op=domainsettings">
						<img src="{templatedir}/images/icons/web-app/48/settings.png" width="48" height="48">Change Settings
					</a></li>
					</ul>
					<ul class="shortcuts-list">
					<li><a href="?op=deletedomain">
						<img src="{templatedir}/images/icons/web-app/48/Delete.png" width="48" height="48">Delete Account
					</a></li>
					<li><a href="http://www.{selecteddomain}/webstats/index.html" target="_blank">
						<img src="{templatedir}/images/icons/web-app/48/webstats.png" width="48" height="48">WebStats
					</a></li>
					<li><a href="?op=addscript">
						<img src="{templatedir}/images/icons/web-app/48/install.gif" width="48" height="48">Install Script
					</a></li>
					<li><a href="?op=setdefaultdomain">
						<img src="{templatedir}/images/icons/web-app/48/globe_icon.png" width="48" height="48">Set As My Default Domain
					</a></li>
					<li><a href="?op=addslavedns">
						<img src="{templatedir}/images/icons/web-app/48/dns_slave.png" width="48" height="48">Add-Remove Slave Dns
					</a></li>					
					<li><a href="?op=changemypass">
						<img src="{templatedir}/images/icons/web-app/48/changepass.gif" width="48" height="48">Change Password
					</a></li>
				</ul>
			</div></div>
		</section>
		
				
	
	<!-- End content -->
	
	<footer>
		<!--
		<div class="float-left">
			<a href="#" class="button">Help</a>
			<a href="#" class="button">About</a>
		</div>
		-->
		<div class="float-right">
			<a href="#top" class="button"><img src="{templatedir}/images/icons/fugue/navigation-090.png" width="16" height="16"> Page top</a>
		</div>
		
	</footer>

<!--[if lt IE 8]></div><![endif]-->
<!--[if lt IE 9]></div><![endif]-->