	<!-- Content -->
	<article class="container_12">
		
		<section class="grid_4">
			<div class="block-border"><div class="block-content">
				<h1>Quick Operations</h1>
				
				<ul class="favorites no-margin with-tip" title="Quick Operations">
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/Info.png" width="48" height="48">
						<a href="index.php?op=options">Options<br>
						<small>System &gt; Settings</small></a>
					</li>
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/sync-icon.png" width="48" height="48">
						<a href="?op=dosyncdomains">Synchronize Domains<br>
						<small>System &gt; Synchronize Domains</small></a>
					</li>
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/reload-dns.png" width="48" height="48">
						<a href="?op=dosyncdns">Reload DNS Zones<br>
						<small>System &gt; Reload DNS Zones</small></a>
					</li>
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/serverstatus.png" width="48" height="48">
						<a href="index.php?op=serverstatus">Server Status<br>
						<small>System &gt; CPU/Ram Usages</small></a>
					</li>
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/diskquota.png" width="48" height="48">
						<a href="?op=doupdatediskquota">Update Disk Quota<br>
						<small>System &gt; Update Disk Quota For All Domains</small></a>
					</li>
					
					<li>
						<img src="{templatedir}/images/icons/web-app/48/fix.png" width="48" height="48">
						<a href="?op=dofixmailconfiguration">Fix EHCP Configuration<br>
						<small>System &gt; Fix EHCP Configuration</small></a>
					</li>
					
				</ul>
				
				
				
			</div></div>
		</section>
		
		
		<section class="grid_8">
			<div class="block-border"><div class="block-content">
				<h1>Control panel</h1>
				
				
				<h3>Domain</h3>
					
				<ul class="shortcuts-list">
					<li><a href="?op=add_domain_install_wordpress">
						<img src="{templatedir}/images/icons/web-app/48/adddomain.png" width="48" height="48">Add Domain &amp; Install Wordpress
					</a></li>
					<li><a href="?op=addDomainToThisPaneluser">
						<img src="{templatedir}/images/icons/web-app/48/adddomain.png" width="48" height="48">Add Domain &amp; Install a CMS/Site (not coded yet)
					</a></li>
					<li><a href="?op=addDomainToThisPaneluser">
						<img src="{templatedir}/images/icons/web-app/48/adddomain.png" width="48" height="48">Add Addon Domain
					</a></li>
					<li><a href="?op=adddomaineasy">
						<img src="{templatedir}/images/icons/web-app/48/adddomain.png" width="48" height="48">Easy Add Domain
					</a></li>
					<li><a href="?op=adddomain">
						<img src="{templatedir}/images/icons/web-app/48/adddomain.png" width="48" height="48">Add Domain with separate ftp &amp; paneluser
					</a></li>
					<li><a href="?op=bulkadddomain">
						<img src="{templatedir}/images/icons/web-app/48/adddomain.png" width="48" height="48">Bulk Add Domains
					</a></li>
					</ul>
					Note: No separate dns operation needed for domain add/setup operations. ehcp automatically adjusts dns for domains.

					<ul class="shortcuts-list">
					<li><a href="?op=adddnsonlydomainwithpaneluser">
						<img src="{templatedir}/images/icons/web-app/48/dns.png" width="48" height="48">Add Dns Hosting With Panel User
					</a></li>

					<li><a href="?op=adddnsonlydomain">
						<img src="{templatedir}/images/icons/web-app/48/dns.png" width="48" height="48">Add DNS Only Hosting
					</a></li>
					<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
					<li><a href="?op=selectdomain">
						<img src="{templatedir}/images/icons/web-app/48/Bar-Chart.png" width="48" height="48">List Domains
					</a></li>
					<li><a href="?op=listpassivedomains">
						<img src="{templatedir}/images/icons/web-app/48/domain_passive.png" width="48" height="48">List Passive Domains
					</a></li>
				</ul>

				<h3>FTP</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=listallftpusers" title="List All FTP Users">
						<img src="{templatedir}/images/icons/web-app/48/listftp.png" width="48" height="48">List All FTP Users
					</a></li>
					<li><a href="?op=addftpuser" title="Add New FTP User">
						<img src="{templatedir}/images/icons/web-app/48/ftp-icon.png" width="48" height="48">Add New FTP User
					</a></li>
					<li><a href="?op=addftptothispaneluser" title="Add FTP Under This Panel">
						<img src="{templatedir}/images/icons/web-app/48/ftp-icon.png" width="48" height="48">Add FTP Under This Panel
					</a></li>
					<li><a href="?op=addsubdirectorywithftp" title="Add FTP User Under A Specific Domain">
						<img src="{templatedir}/images/icons/web-app/48/ftp-icon.png" width="48" height="48">Add FTP To Specific Domain
					</a></li>
					<li><a href="?op=addsubdomainwithftp" title="Add Subdomain Of A Specific Domain With Ftp">
						<img src="{templatedir}/images/icons/web-app/48/subdomainftp.png" width="48" height="48">Add Subdomain With FTP
					</a></li>
					<li><a href="net2ftp" title="Net2FTP/File Manager" target="_blank">
						<img src="{templatedir}/images/icons/web-app/48/net2ftp.png" width="48" height="48">File Manager
					</a></li>
				</ul>

				<h3>MySQL</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=domainop&amp;action=listdb" title="List All MYSQL Databases">
						<img src="{templatedir}/images/icons/web-app/48/mysql.gif" width="48" height="48">List MySQL Databases
					</a></li>
					<li><a href="?op=addmysqldb" title="Add MYSQL Database &amp; User To A Domain">
						<img src="{templatedir}/images/icons/web-app/48/mysqladd.gif" width="48" height="48">Add MySQL Database &amp; User
					</a></li>
					<li><a href="?op=addmysqldbtouser" title="Add MYSQL Database To An Existing Database User">
						<img src="{templatedir}/images/icons/web-app/48/mysqladd.gif" width="48" height="48">Add MySQL Database To Existing User
					</a></li>
					<li><a href="?op=dbadduser" title="Add MYSQL User To Existing Database">
						<img src="{templatedir}/images/icons/web-app/48/mysqladd.gif" width="48" height="48">Add MySQL User To Existing Database
					</a></li>
					<li><a href="/phpmyadmin" target="_blank" title="PHPmyAdmin">
						<img src="{templatedir}/images/icons/web-app/48/phpmyadmin.png" width="48" height="48">PHPmyAdmin
					</a></li>
					<li><a href="/ehcp/chive" target="_blank" title="Chive">
						<img src="{templatedir}/images/icons/web-app/48/chive.png" width="48" height="48">Chive
					</a></li>
				</ul>
				
				<h3>Email</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=listallemailusers" title="List All Email Address">
						<img src="{templatedir}/images/icons/web-app/48/Modify.png" width="48" height="48">List All Email Address
					</a></li>
					<li><a href="?op=addemailuser" title="Add Email Address To Specific Domain">
						<img src="{templatedir}/images/icons/web-app/48/Add.png" width="48" height="48">Add Email Address
					</a></li>
					<li><a href="webmail" title="Webmail/Squirrel Mail Box" target="_blank">
						<img src="{templatedir}/images/icons/web-app/48/squirrelmail.png" width="48" height="48">Squirrel Mail
					</a></li>
					<li><a href="webmail2" title="Webmail/Roundcube Mail Box" target="_blank">
						<img src="{templatedir}/images/icons/web-app/48/roundcube.png" width="48" height="48">RoundCube
					</a></li>
				</ul>
				
				

				<h3>Panel Users</h3>
				<ul class="shortcuts-list">
					<li><a href="?op=listpanelusers" title="List All Panel Users Or Clients">
						<img src="{templatedir}/images/icons/web-app/48/listpaneluser.png" width="48" height="48">List Panel Users
					</a></li>
					<li><a href="?op=addpaneluser" title="Add A New Panel User Or Client">
						<img src="{templatedir}/images/icons/web-app/48/addpaneluser.png" width="48" height="48">Add Panel User
					</a></li>
				</ul>
				
				<h3>System</h3>
				<ul class="shortcuts-list">
					<li><a href="index.php?op=options">
						<img src="{templatedir}/images/icons/web-app/48/Info.png" width="48" height="48">Options
					</a></li>
					<li><a href="index.php?op=listbackups">
						<img src="{templatedir}/images/icons/web-app/48/listbackup.png" width="48" height="48">List Backups
					</a></li>
					<li><a href="index.php?op=dobackup">
						<img src="{templatedir}/images/icons/web-app/48/Save.png" width="48" height="48">Generate Backup
					</a></li>
					<li><a href="index.php?op=dorestore">
						<img src="{templatedir}/images/icons/web-app/48/Load.png" width="48" height="48">Restore Backup
					</a></li>
					<li><a href="index.php?op=serverstatus">
						<img src="{templatedir}/images/icons/web-app/48/serverstatus.png" width="48" height="48">Server Status
					</a></li>
					<li><a href="?op=changetemplate">
						<img src="{templatedir}/images/icons/web-app/48/Picture.png" width="48" height="48">Change Template
					</a></li>
					</ul>
					<ul class="shortcuts-list">
					<li><a href="?op=operations">
						<img src="{templatedir}/images/icons/web-app/48/operations.png" width="48" height="48">List EHCP Operations
					</a></li>
					<li><a href="?op=changemypass">
						<img src="{templatedir}/images/icons/web-app/48/changepass.gif" width="48" height="48">Change Password
					</a></li>
				</ul>
			</div></div>
		</section>
		
				
	
	<!-- End content -->
	
	<footer>
		<!--
		<div class="float-left">
			<a href="#" class="button">Help</a>
			<a href="#" class="button">About</a>
		</div>
		-->
		<div class="float-right">
			<a href="#top" class="button"><img src="{templatedir}/images/icons/fugue/navigation-090.png" width="16" height="16"> Page top</a>
		</div>
		
	</footer>

<!--[if lt IE 8]></div><![endif]-->
<!--[if lt IE 9]></div><![endif]-->