// Bootstrap removed sub dropdowns in 3.0
// This snippit adds simple multi level drop down menus
.dropdown-menu{
    &>li{
        position:relative;
    }

    .dropdown-menu{
        left: 100%;
        top: 0;
        margin-top: -1px;
    }
}
