.side-accordion {
    .accordion-item {
        .panel-title,li{
            white-space: nowrap;
        }
        &> .panel-heading{
            a {
                >i{
                    @include transition( all 0.35s ease);
                }
                &:not(.collapsed) {
                    font-weight: bold;
                    > i {
                        @include rotate(180deg);
                    }
                }
            }
        }
    }
    .side-bar-title{
        h3{
            display: none;
        }
    }
    .side-bar-collapse-btn{
        > .glyphicon-chevron-left {
            @include transition( all 0.35s ease);
        }
        &:not(.collapsed) {
            > .glyphicon-chevron-left {
                @include rotate(180deg);
            }
        }
    }
    .side-bar-title, .side-bar-collapse-btn{
        @extend .visible-sm-block;
    }
    @media (min-width: $screen-sm-max) {
        .side-bar-collapse {
            display: block !important;
            visibility: visible !important;
            width: auto !important;
            overflow: visible !important;
        }
    } 
}