/* AIT Claim Listing Frontend Style */

.claim-listing-container 	{ border: 1px solid rgba(0, 0, 0, 0.1); margin-bottom: 30px; padding: 20px; }
.claim-listing-container p 	{ margin-bottom: 20px; }


.ait-claim-listing form 					{ width: 500px; }

	#claim-listing h2 						{ text-transform: uppercase; }
	 #claim-listing-button 					{ padding: 6px 20px; }
	 a#claim-listing-button 				{ color: #fff; }

	.ait-claim-listing h3 					{ overflow: hidden; position: relative; }

		.ait-claim-listing .input-wrap 		{ margin: 20px 0 0; }
		.ait-claim-listing .input-submit 	{ float: left; margin: 20px 20px 0 0; }
			.ait-claim-listing .input-wrap input,
			.ait-claim-listing .input-wrap .sbHolder { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid rgba(0, 0, 0, 0.2) !important; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -moz-box-shadow: 3px 3px 1px -2px rgba(0, 0, 0, 0.1) inset; -webkit-box-shadow: 3px 3px 1px -2px rgba(0, 0, 0, 0.1) inset; box-shadow: 3px 3px 1px -2px rgba(0, 0, 0, 0.1) inset; height: 38px; padding: 0 15px; width: 100%; }

			.ait-claim-listing label 		{ display: block; }

			.ait-claim-listing .input-wrap.input-payment > label,
			.ait-claim-listing .input-wrap.input-captcha > label 	{ font-weight: bold; text-transform: uppercase; }

			.ait-claim-listing .sbHolder .sbSelector 				{ padding-left: 0; padding-right: 0; }

			.ait-claim-listing .input-wrap.input-captcha > input 	{ width: calc(100% - 140px); }
			.ait-claim-listing .input-captcha img 					{ float: right; min-height: 30px; vertical-align: middle; }

			.ait-claim-listing .input-invalid input 				{ border-color: #d05756 !important; }
			.ait-claim-listing .input-invalid input:focus 			{ border-color: #d4d4d4 !important; }

/* When User Is Loged & Can Claimed Item */

.ait-claim-listing form.user-claim-form 	{ text-align: center; }

.ait-claim-listing form.user-claim-form .claim-form-user span { font-weight: bold; }
.ait-claim-listing .claim-form-text { text-transform: uppercase; }

.ait-claim-listing form.user-claim-form .input-submit 		{ float: none; }
.ait-claim-listing form.user-claim-form .input-submit input { width: auto; }


/* AIT Claim Listing Frontend Style */

/* Notice */

.ait-claim-listing .claim-notices-container 					{ margin-top: 30px; }
.ait-claim-listing .claim-notices-container .notice-loader 		{ display: block; font-size: 20px; left: 50%; margin-top: -13px; position: absolute; top: 50%; }
.ait-claim-listing .claim-notices-container .form-error-general { display: block; font-size: 14px; font-weight: bold; line-height: 26px; left: 10%; margin-top: -13px; position: absolute; text-align: center; text-transform: uppercase; top: 50%; width: 80%; }