/* sbHolder */

.elm-search-form .sbHolder 					{ float: left; width: auto; margin-right: 15px; height: 40px;  border-bottom: 2px solid rgba(255,255,255,0.8) !important; padding-right: 31px; background: @theme-general-decColor; }
.elm-search-form .sbSelector 				{ width: auto !important; }
.elm-search-form .sbHolder .sbToggle:before { color: rgba(255,255,255,0.8); font-size: 20px; }
.elm-search-form .sbOptions 				{ margin-top: -42px; .box-shadow(0 0 10px 0 rgba(0, 0, 0, 0.1)); }
.elm-search-form .sbOptions li a 			{ padding: 8px 15px; font-size: 17px; }
.elm-search-form .sbOptions li:first-child 	{ display: none; }

.elm-search-form .sbSelector				{ font-size: 24px !important; color: #ffffff !important; }

/* Chosen */

.elm-search-form .chosen-container { float: left; width: auto !important; height: 40px; margin-right: 15px; padding-top: 2px; background: @theme-general-decColor; border-bottom: 2px solid rgba(255,255,255,0.8); .borderbox; }

.chosen-container-single .chosen-single 					{ padding: 0 15px; background: @theme-general-decColor; border: none; .box-shadow(none);  color: #ffffff; font-size: 24px; height: auto; line-height: normal; }
.chosen-container-active.chosen-with-drop .chosen-single 	{ background: @theme-general-decColor; border: none; .box-shadow(none);}

.chosen-container-single .chosen-drop 						{ overflow: hidden; margin-top: 0px; height: 0; max-height: 0; opacity: 0; visibility: hidden; .border-radius(0);
															-webkit-transition: max-height 1s ease 0s, opacity 0.2s ease 0s, margin-top 0.5s ease 0s;
															-moz-transition: max-height 1s ease 0s, opacity 0.2s ease 0s, margin-top 0.5s ease 0s;
															-ms-transition: max-height 1s ease 0s, opacity 0.2s ease 0s, margin-top 0.5s ease 0s;
															-o-transition: max-height 1s ease 0s, opacity 0.2s ease 0s, margin-top 0.5s ease 0s;
															transition: max-height 1s ease 0s, opacity 0.2s ease 0s, margin-top 0.5s ease 0s;    
}
.chosen-container-active .chosen-drop 						{ height: auto; margin-top: -38px; max-height: 1000px; opacity: 1; visibility: visible; }

.chosen-container .chosen-drop 								{ border: 1px solid @theme-general-linesColor; .box-shadow(0 0 10px 0 rgba(0, 0, 0, 0.1)); }

.chosen-container-single .chosen-search 					{ padding-top: 0; border-bottom: 1px solid @theme-general-linesColor; }
.chosen-container-single .chosen-search input[type="text"] 	{ background: url("@{imgUrl}/ico_search_button.png") no-repeat scroll 97% 12px; padding: 4px 33px 4px 5px; color: @theme-general-txtColor; font-size: 18px; border: none !important; }

.chosen-container-single .chosen-single span		{ margin-right: 29px; }
.chosen-container-single .chosen-single div			{ width: 28px; }
.chosen-container-single .chosen-single div b		{ background: none; }
.chosen-container-single .chosen-single div b:after { color: rgba(255,255,255,0.8); content: "\f107"; font-family: 'FontAwesome'; font-weight: normal; }

.chosen-container .chosen-results 					{ margin: 0; padding: 0; max-height: 257px; }
.chosen-container .chosen-results li 				{ border-bottom: 1px solid @theme-general-linesColor; font-size: 16px; line-height: normal; padding: 10px; .transition(all 0.4s ease 0s); }
.chosen-container .chosen-results li:last-child 	{ border-bottom: none; } 
.chosen-container .chosen-results li.highlighted 	{ background: @theme-general-decColor; .box-shadow(0 0 10px 0 rgba(0, 0, 0, 0.1)); }