.side .event-calendar-controls .calendar-widget .calendar-widget-table {
    width: 100%;
    table-layout: fixed;
    font-size: 12px;
    .prev{
        float: left;
    }
    .next{
        float: right;
    }
    .prev,.show-month,.next,.calendar-header-day{
        color: $text-color;
        &:hover{
            text-decoration: none;
        }
    }
    thead {
        th{
            border :none;
        }
    }
    tbody{
        td{
            color: $text-color;
            padding: 5px;
            border-radius: $border-radius-base;
            text-align: center;
            border: none;

            &.calendar-day{
                &.hasEvent{
                    background: none;
                    &:before{
                        background: $component-active-bg;
                        width: 5px;
                        height: 5px;
                        border-radius: 50% ;
                        content: ' ';
                        display: block;
                        float:right;

                    }
                }
                &.today{
                    background: $component-active-bg;
                    color:   $component-active-color;
                }
                &:hover,&.selected{
                    background: lighten($component-active-bg, 40%);
                }
                &.out-of-month{
                    color: $gray-light;
                    background: transparent;
                }

            }
        }
        .calendar-header {
            td{
                background: none;
                background-color: transparent;
                color: $text-color;
                font-weight: bold;

            }
        }
    }
}
.event-calendar-quick-nav{
    margin-top: $grid-gutter-width;
}
.callout-contents,.event-calendar-next-prev {
    @include clearfix;
}
#Form_MonthJumpForm{
    #Month{
        padding-bottom: $padding-small-vertical;
    }
    #Year{
        padding-top: $padding-small-vertical;
    }
}

.event-calendar-next-prev{
    text-align: center;
    a:first-child{
        text-align: left;
        float:left;
        &:before{
            content: ' ‹ ';
        }
    }
    a:last-child{
        text-align: right;
        float:right;
        &:after{
            content: ' › ';
        }
    }
}