.holding-page{
    #uff{
        @extend .alert;
        @extend .alert-success;
        margin: 15px auto 0 auto;
        width: 600px;
        max-width: 100%;

    }
    .well{
        h2{
            margin: 0;
        }
    }
    .right{
            margin-top: 25px;
    }
}