/* Custom theme fonts */

@mixin default-font-face(){
    //Sans Serif
    font-family: "My themes font", Arial, 'Helvetica Neue', Helvetica, sans-serif;;
    //Serif
    /*font-family: "My themes font", Georgia, Times, 'Times New Roman', serif;*/
    //Monospaced
    /*font-family: "My themes font",  "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;*/

    font-weight: 700;
}

@mixin default-font-face-alt(){
    font-family: "My themes font", "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 200;
}


/*@include font-face("My themes font", "../fonts/theme/my-themes-font/my-themes-font-thin-webfont",200);*/
/*@include font-face("My themes font", "../fonts/theme/my-themes-font/my-themes-font-thin-italic-webfont", 200, italic);*/
/*@include font-face("My themes font", "../fonts/theme/my-themes-font/my-themes-font-light-webfont",300);*/
/*@include font-face("My themes font", "../fonts/theme/my-themes-font/my-themes-font-light-italic-webfont", 300, italic);*/
/*@include font-face("My themes font", "../fonts/theme/my-themes-font/my-themes-font-regular-webfont",normal);*/
/*@include font-face("My themes font", "../fonts/theme/my-themes-font/my-themes-font-regular-italic-webfont", normal, italic);*/
/*@include font-face("My themes font", "../fonts/theme/my-themes-font/my-themes-font-bold-webfont",bold);*/
/*@include font-face("My themes font", "../fonts/theme/my-themes-font/my-themes-font-bold-italic-webfont", bold, italic);*/

