/*@import "compass/reset/utilities";*/

$sn-icon-size: 11px;
$sn-icon-colour: $brand-primary;

$sn-networks: (
facebook: #{$fa-css-prefix}-facebook-square,
twitter: #{$fa-css-prefix}-twitter-square,
tumblr: #{$fa-css-prefix}-tumblr-square,
digg: #{$fa-css-prefix}-digg,
googleplus: #{$fa-css-prefix}-google-plus-square,
linkedin: #{$fa-css-prefix}-linkedin-square,
reddit:  #{$fa-css-prefix}-reddit-square,
pinterest:  #{$fa-css-prefix}-pinterest-square,
stumbleupon: #{$fa-css-prefix}-stumbleupon-circle,
youtube: #{$fa-css-prefix}-youtube-square,
email:  #{$fa-css-prefix}-envelope-square,
share:  #{$fa-css-prefix}-share-alt-square
);

.social-links{
    font-size: $sn-icon-size;
    position: relative;
    &.right{
        float: right;
        text-align: right;
        a{
            margin-left: $grid-gutter-width / 7;
        }
        .share-on,.follow-on{
            float: right;
        }
    }
    &.left{
        float: left;
        text-align: left;
        a{
            margin-left: $grid-gutter-width / 5;
        }
        .share-on,.follow-on{
            float: left;
        }
    }
    header &{
        position: absolute;
        top: 0;
        &.left{
            left: $grid-gutter-width / 2;
        }
        &.right{
            right: $grid-gutter-width / 2;
        }
    }
    a{
        color:  $sn-icon-colour;
        display: inline-block;
        float: left;
        text-decoration: none;
        border: 0;
        @each $sn-network, $extend-class in $sn-networks {
            &.share-ss-theme-#{$sn-network} i.icon, &.#{$sn-network} i.icon{
                @extend .#{$extend-class};
            }
        }
        i.icon{
            @extend .#{$fa-css-prefix}-3x;
            @extend .#{$fa-css-prefix};
        }

        .fa-stack{
            height: auto;
            width: 100%;
            line-height: 1;
            .fa.icon {
                position: relative;
            }
        }
        i.fa-inverse{
            bottom: 0.2142857143em;
            line-height: 0.85;
            right: 0;
            left:auto;
            width: auto;
            color: darken($sn-icon-colour, 15%);
            background:  $body-bg;
            border-radius: 1em;
        }

        &:hover, &:active, &:focus {
            color: darken($sn-icon-colour, 15%);
            text-decoration: none;
            border: 0;
            outline: 0;
            i.fa-inverse{
                color: darken($sn-icon-colour, 30%);
            }
        }
    }
    .tag-line{
        display: none;
    }
}