.site-map-tree{
    li{
        // Hover state
        &:hover,
            &:focus {
            background-color: $list-group-hover-bg;
        }
    }
    .child-wrap{
        padding-top: 5px;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: -10px;
        ul{
            padding: 0;
            .list-group-item{
                border-left: none;
                border-right: none;
            }
            .list-group-item:first-child, .list-group-item:last-child {
                border-radius: 0;
            }
            .list-group-item:last-child {
                border-bottom: none;
            }
            .sitetree-label{
                display: block;
                padding-left:15px;
            }
            $start-indent:25px;
            $increase-by:35;
            $max: 10;
            $el: "li.list-group-item ";
            #{$el} {
                .sitetree-label{
                    margin-left: $start-indent;
                }
                @for $i from 1 through $max {
                    #{$el} {
                        .sitetree-label{
                            margin-left: $start-indent+($i*$increase-by);
                        }
                        /*                .page-toggle{
                                            left: $start-indent+($i*$increase-by);
                                        }*/
                    }
                    $el: $el + $el;
                }    
            }
        }
    }
    .page-icon{
        vertical-align: middle;
        margin-right: 4px;
        display: inline-block;
        width: 16px;
        height: 16px;
    }
    .page-toggle{
        display: inline-block;
        vertical-align: middle;
        margin-right: 4px;
        display: inline-block;
        width: 16px;
        height: 16px;
        position: relative;
        cursor: pointer;
        i{
            &:before,&:after{
                @include default-transition;
                position: absolute;
                left: 0;
                top:0;
            }

            &:before{
                opacity:0;
                content: $fa-var-plus;
                transform: rotate(90deg);
            }
            &:after{
                opacity:1;
                content: $fa-var-minus;
                transform: rotate(0deg);
            }
        }
        &.collapsed{
            i{
                &:before{
                    opacity:1;
                    transform: rotate(0deg);
                }
                &:after{
                    opacity:0;
                    transform: rotate(-90deg);
                }
            }      
        }
    }
}