.collapse {
    height: auto;
    width: auto;
    &.width {
        position: relative;
        width: 0;
        overflow: hidden;
        @include transition(width 0.35s ease);

        &.in {
            width: auto;
        }
    }
}

.collapsing{
    &.width {
        width: 0;
        height: auto;
        @include transition(width 0.35s ease);
    }
}
