.form-horizontal{
    @include clearfix();
    div.field{
        &.text, &.textarea, &.optionset, &.dropdown, &.datetime, &.file, &.creditcard, &.phonenumber, &.fieldgroup, &.listbox{
            &>label{
                @include make-sm-column(2);
            }
            &>.middleColumn, &>.description{
                @include make-sm-column(10);
            }
            &>.description{
                @include make-sm-column-offset(2);
                display:block;
            }
            &.nolabel{
                &>.middleColumn, &>.description{
                    @include make-sm-column-offset(2);
                }
            }

        }

        &.checkbox{
            @extend .form-group;
            padding-left: $grid-gutter-width/2;
            input.checkbox{
                @include make-sm-column-offset(2);
                position: static;
            }
            .parsley-errors-list{
                padding-left: 0;
            }

        }
        &.optionset{
            &>.middleColumn{
                .optionset{
                    @include list-unstyled;
                    line-height:1;
                    &>li{
                        margin-top: 0;
                        margin-bottom: 0;
                        padding-top: ($padding-base-vertical + 1); // Default padding plus a border
                        min-height: ($line-height-computed + ($padding-base-vertical + 1));
                    }
                }
            }
        }
        &.fieldgroup{
            .fieldgroup-field {
                margin-top: 0;
                margin-bottom: 0;
                padding-top: ($padding-base-vertical + 1); // Default padding plus a border
                min-height: ($line-height-computed + ($padding-base-vertical + 1));

            }
        }
        &.required.holder-required{
            .message{
                margin-left: 19.3%;
                margin-right:($grid-gutter-width/2);
                @media (max-width: $screen-sm) {
                    margin-left:($grid-gutter-width/2);
                    margin-right:($grid-gutter-width/2);
                }
            }
        }
    }
    .Actions{
        @include make-sm-column(10);
        @include make-sm-column-offset(2);
        padding: 0;
        input:first-child{
            margin-left: $grid-gutter-width/6;
        }
    }
    .parsley-errors-list{
        @include make-sm-column(10);
        @include make-sm-column-offset(2);
    }
}

.form-inline{
    @media (min-width: $screen-sm-min) {
        div.field{
            &.text, &.textarea, &.optionset, &.dropdown, &.datetime, &.file, &.creditcard, &.phonenumber, &.fieldgroup, &.listbox, &.radio, &.checkbox{
                &>.middleColumn{
                    display: inline-block;
                    margin-bottom: 0;
                    vertical-align: middle;
                }
            }
        }
        &>fieldset{
            display: inline-block;
            margin-bottom: 0;
            vertical-align: bottom;
        }
        &>.Actions{
            display: inline-block;
            margin-bottom: 0;
            vertical-align: middle;
        }
    }

}
%errorField{
    color: $alert-danger-text;
    border-color: $alert-danger-text;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075)); // Redeclare so transitions work
    &:focus {
        border-color: darken($alert-danger-text, 10%);
        $shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten($alert-danger-text, 20%);
        @include box-shadow($shadow);
    }
}

div.field{
    &.text, &.textarea, &.optionset, &.dropdown, &.datetime, &.file, &.creditcard, &.phonenumber, &.fieldgroup, &.listbox, &.radio, &.checkbox{
        @extend .form-group;
    }
    #{$all-text-inputs},select{
        &.error{
            @extend %errorField;
        }
        &+span.error{
            @extend .alert;
            @extend .alert-danger;
            clear: both;
            display:block;
        }
    }
    &.required.holder-required{
        color: $alert-danger-text;
        #{$all-text-inputs},select{
            @extend %errorField;
        }
        .message{

        }
    }
}
.Actions{
    input,button{
        @extend .btn;
    }
    .action{
        @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
        @extend .btn-primary;
    }
    .resetformaction{
        @extend .btn-danger;
    }
}
%radio-checbox{
    position: relative;
    display: inline;
    vertical-align: middle;
    min-height: 0;
    margin: 0;
    &+label{
        margin: 0;
        padding: 0;
        display: inline;
        vertical-align: middle;
        min-height: $line-height-computed; // Ensure the input doesn't jump when there is no text
        font-weight: normal;
        cursor: pointer;
    }
}

input[type="radio"].radio, input[type="checkbox"].checkbox{
    @extend %radio-checbox;
}

#{$all-text-inputs},select{
    @extend .form-control;
}

input,select,textarea{
    &.parsley-success, .parsley-success &{
        @include form-validation($state-success-text, $state-success-text, $state-success-bg);
    }

    &.parsley-error,.parsley-error &{
        @include form-validation($state-danger-text, $state-danger-text, $state-danger-bg);
    }
}
input.checkbox,input.radio{
    &.parsley-success, .parsley-success &{
        @include glow-shadow( $state-success-text);
    }

    &.parsley-error,.parsley-error &{
        @include glow-shadow($state-danger-text);
    }

}
.field.creditcard{
    input.creditcard{
        width: 90px;
        display: inline-block;
    }
    .parsley-errors-list{
        width: 90+($grid-gutter-width/2);
        padding: 0;
        display: inline-block;
        padding-left:($grid-gutter-width/2);
        &:not(:first-of-type) {
            margin-left: -2px;
        }
    }

}

.parsley-errors-list{
    @include list-unstyled;
    @include opacity(0);
    @include default-transition();
    margin-bottom:0;
    &.filled{
        @include opacity(1);
        margin-bottom: ($line-height-computed / 2);
    }
    &>li{
        @extend .alert;
        @extend .alert-danger;
    }
}
form{
    div.field{
        &>label{
            @extend .control-label;
        }
    }
    .message{
        @extend .alert;
        &.good{
            @extend .alert-success;
        }
        &.warning{
            @extend .alert-warning;
        }
        &.bad{
            @extend .alert-danger;
        }
    }
}