.thumbnail-list{
    @include list-unstyled;
    @include clearfix;
    margin-left: -5px;
    > li {
        @include make-xs-column(6);
        @include make-md-column(3);
        margin-bottom: $line-height-computed;

        .thumbnail-container{
            a{
                display:block;
                padding: $thumbnail-padding;
                line-height: $line-height-base;
                background-color: $thumbnail-bg;
                border: 1px solid $thumbnail-border;
                border-radius: $thumbnail-border-radius;
                text-align: center;

                @include transition(border .2s ease-in-out);
                &:hover,
                    &:focus,
                    &.active {
                    border-color: $link-color;
                }
                > img {
                    @include img-responsive;
                    margin-left: auto;
                    margin-right: auto;
                }

            }
        }
    }
}

.photo-album-info{
    color: $thumbnail-caption-color;
}