#SearchResults {
    list-style: none;
    margin-left: 0;
}

%result-item{
    position: relative;
    display: block;
    padding: 10px 15px;
    // Place the border on the list items and negative margin up for better styling
    margin-bottom: -1px;
    background-color: $list-group-bg;
    border: 1px solid $list-group-border;

    .title{
        margin-top: 0;
    }

    // Round the first and last items
    &:first-child {
        @include border-top-radius($list-group-border-radius);
    }
    &:last-child {
        margin-bottom: 0;
        @include border-bottom-radius($list-group-border-radius);
    }


}
.results-list{
    margin-bottom: 20px;
    padding-left: 0;
    .results-header{
        @extend %result-item;
        @include clearfix();
        z-index: 2; // Place active items above their siblings for proper border styling
        color: $list-group-active-color;
        background-color: $list-group-active-bg;
        border-color: $list-group-active-border;
        .title,.page-count{
            margin: 0;
            padding: 0;
            vertical-align: middle;
            display: inline-block;
            line-height:$font-size-h2;
        }
        .title{
            color: inherit;
            float: left;
        }
        .page-count{
            float: right;
        }
    }

    &.no-indent article{
        margin-left:-10px;
    }
    article{
        @extend %result-item;
    }
}
