header.site-header{
    .navbar{
        a{
            overflow: hidden;
        }
        // Global top menu caret icon and positioning
        .caret{
            i{
                @extend .glyphicon;
                @extend .glyphicon-chevron-down;
                @include transition( all 0.35s ease);
            }  
            margin: (-($navbar-padding-vertical+1)) (-($navbar-padding-vertical)) (-($navbar-padding-vertical+1)) 0;
            padding: ($navbar-padding-vertical) ($navbar-padding-vertical/2);
            top: 0;
            width: auto; 
            height: auto;
            border: none;
            @media (max-width: $grid-float-breakpoint) {
                float: right;
            }
        }
        .open > a {
            >.caret{
                i{
                    @include rotate(180deg);
                }
            }
        }

        // Styling for menu items which contain sub menus
        .dropdown-menu{
            ul li{
                text-indent: $navbar-padding-vertical/2;
            }
            // Top level carets
            .caret{
                float: right;
                // Margin values here are hardcoded in bootstrap, so we dont have variables
                // Check bootstrap\_dropdowns.scss .dropdown-menu > li > a
                margin: -3px -20px;
                padding: 3px 5px;
                i{
                    @extend .glyphicon-chevron-right;
                    @media (max-width: $grid-float-breakpoint) {
                        // When in mobile view, the cheron should be pointing down
                        @include rotate(90deg);
                    }
                }
            }
            // Top level carets when open
            .open > a {
                >.caret{
                    i{
                        @include rotate(180deg);
                        @media (max-width: $grid-float-breakpoint) {
                            // When in mobile view, the cheron should be pointing op
                            @include rotate(270deg);
                        }
                    }
                }
            }
        }

        // Caret colors for default styling
        &.navbar-default{
            .caret{
                &:hover{
                    background-color: lighten($navbar-default-bg, 10%);
                    @if mixin-exists(btn-shadow){
                        @include btn-shadow($navbar-default-bg);
                    } @else {
                        @include gradient-vertical($start-color: $navbar-default-bg, $end-color: lighten($navbar-default-bg, 10%));
                    }
                    border: none;
                }
            }
            .active{
                .caret{
                    &:hover{
                        background-color: darken($dropdown-link-active-bg, 5%);
                        @if mixin-exists(btn-shadow){
                            @include btn-shadow($navbar-default-bg);
                        } @else {
                            @include gradient-vertical($start-color: darken($dropdown-link-active-bg, 5%), $end-color: $dropdown-link-active-bg);
                        }
                        border: none;
                    }
                }
            }
            .dropdown-menu .open > a{
                .caret{
                    &:hover{
                        @include background-image(none);
                        background-color: darken( $nav-link-hover-bg, 5%);
                    }
                }
            }
        }

        // Caret colors for inverse styling
        &.navbar-inverse{
            .caret{
                &:hover{
                    @if mixin-exists(btn-shadow){
                        @include btn-shadow($navbar-inverse-bg);
                    } @else {
                        @include gradient-vertical($start-color: $navbar-inverse-bg, $end-color: lighten($navbar-inverse-bg, 10%));
                    }
                    border: none;
                }
            }
            .active{
                .caret{
                    &:hover{
                        background-color: darken($dropdown-link-active-bg, 5%);
                        @if mixin-exists(btn-shadow){
                            @include btn-shadow($navbar-inverse-bg);
                        } @else {
                            @include gradient-vertical($start-color: darken($dropdown-link-active-bg, 5%), $end-color: $dropdown-link-active-bg);
                        }
                        border: none;
                    }
                }
            }
            .dropdown-menu .open > a{
                .caret{
                    &:hover{
                        @include background-image(none);
                        background-color: darken( $nav-link-hover-bg, 5%);
                    }
                }
            }
        }
    }
    .navbar-toggle
    {
        .icon-bar{
            @include default-transition;
            position: relative;
            &:nth-of-type(2){
                top: 6px;
                transform: rotate(45deg);
            }
            &:nth-of-type(3){
                top: 0px;
                opacity: 0;
            }
            &:nth-of-type(4){
                top: -6px;
                transform: rotate(-45deg);
            }
        }

        &.collapsed {
            .icon-bar{
                &:nth-of-type(2){
                    top: 0px;
                    transform: rotate(0);
                }
                &:nth-of-type(3){
                    top: 0px;
                    opacity: 1;
                }
                &:nth-of-type(4){
                    top: 0px;
                    transform: rotate(0);
                }
            }
        }
    }
}
