/*@import '../../../bower_components/bootswatch/cerulean/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/cosmo/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/cyborg/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/darkly/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/flatly/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/journal/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/lumen/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/paper/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/readable/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/sandstone/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/simplex/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/slate/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/spacelab/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/superhero/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/united/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/yeti/_variables.scss';*/
/* Custom theme fonts */
/*@mixin default-font-face(){
    font-family: "My themes font", $font-family-sans-serif;;
}*/
/*@include font-face("My themes font", "../fonts/theme/my-themes-font/my-themes-font-thin",200);*/
/*@include font-face("My themes font", "../fonts/theme/my-themes-font/my-themes-font-thin-italic", 200, italic);*/
/*@include font-face("My themes font", "../fonts/theme/my-themes-font/my-themes-font-light",300);*/
/*@include font-face("My themes font", "../fonts/theme/my-themes-font/my-themes-font-light-italic", 300, italic);*/
/*@include font-face("My themes font", "../fonts/theme/my-themes-font/my-themes-font-regular",normal);*/
/*@include font-face("My themes font", "../fonts/theme/my-themes-font/my-themes-font-regular-italic", normal, italic);*/
/*@include font-face("My themes font", "../fonts/theme/my-themes-font/my-themes-font-bold",bold);*/
/*@include font-face("My themes font", "../fonts/theme/my-themes-font/my-themes-font-bold-italic", bold, italic);*/
body:before {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #fff;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  display: inline-block;
  padding: 5px;
  content: "unset";
  box-shadow: -1px -1px 14px 3px rgba(50, 50, 50, 0.75); }

body > p.message {
  padding: 10px;
  margin: 5px 15px;
  border-radius: 10px; }
  body > p.message.good {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d; }
    body > p.message.good hr {
      border-top-color: #c9e2b3; }
    body > p.message.good .alert-link {
      color: #2b542c; }
  body > p.message.warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b; }
    body > p.message.warning hr {
      border-top-color: #f7e1b5; }
    body > p.message.warning .alert-link {
      color: #66512c; }
  body > p.message.bad {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442; }
    body > p.message.bad hr {
      border-top-color: #e4b9c0; }
    body > p.message.bad .alert-link {
      color: #843534; }

.responsive-helper-debug {
  top: 32px !important; }

.test-div-wrap {
  height: 1500px;
  width: 100%;
  background: #fff;
  padding: 100px 0; }
  .test-div-wrap .test-div {
    margin: auto;
    width: 465px;
    height: 465px; }
    .test-div-wrap .test-div img {
      position: relative;
      z-index: -2; }
    @media (min-width: 1200px) {
  body:before {
    content: "if-lg"; } }
    @media (min-width: 992px) and (max-width: 1199px) {
  body:before {
    content: "if-md"; } }
    @media (min-width: 768px) and (max-width: 991px) {
  body:before {
    content: "if-sm"; } }
    @media (min-width: 480px) and (max-width: 767px) {
  body:before {
    content: "if-xs"; } }
    @media (max-width: 480px) {
  body:before {
    content: "if-xxs"; } }

/*# sourceMappingURL=debug.css.map */
