/*@import '../../../bower_components/bootswatch/cerulean/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/cosmo/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/cyborg/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/darkly/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/flatly/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/journal/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/lumen/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/paper/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/readable/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/sandstone/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/simplex/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/slate/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/spacelab/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/superhero/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/united/_variables.scss';*/
/*@import '../../../bower_components/bootswatch/yeti/_variables.scss';*/
article.content.typography {
  margin-bottom: 44px; }

.typography {
  /*    h1 {
            font-size: $font-size-h1;
        }
        h2 {
            font-size: $font-size-h2;
        }
        h3 {
            font-size: $font-size-h3;
        }
        h4 {
            font-size: $font-size-h4;
            margin-top: $line-height-computed/2;
        }
        h5 {
            font-size: $font-size-h5;
            margin-top: $line-height-computed/2;
        }
        h6 {
            font-size: $font-size-h6;
            margin-top: $line-height-computed/2;
        }
        p { }

        em {
            font-style: italic;
        }


        a{
            text-decoration: none;
            &.intro {}
            &:hover {
                text-decoration: underline;

            }
            .btn & {
                &:hover {
                    text-decoration: none;
                }
            }
            &:focus {}
            &.label{
                color: $label-color;
            }
        }*/
  /*
        ul,
        ol,
        dl {

        }
        ul{
            li {

            }
        }
        li {
            margin-bottom: 5px;
        }
        .navbar li {
            margin-bottom: 0;
        }*/
  /*

        table {
            width: 100%;
            max-width: 100%;
            margin-bottom: $line-height-computed;
            // Cells
            > thead,
            > tbody,
            > tfoot {
                > tr {
                    > th,
                    > td {
                        padding: $table-cell-padding;
                        line-height: $line-height-base;
                        vertical-align: top;
                        border-top: 1px solid $table-border-color;
                    }
                }
            }
            // Bottom align for column headings
            > thead > tr > th {
                vertical-align: bottom;
                border-bottom: 2px solid $table-border-color;
            }
            // Remove top border from thead by default
            > caption + thead,
            > colgroup + thead,
            > thead:first-child {
                > tr:first-child {
                    > th,
                    > td {
                        border-top: 0;
                    }
                }
            }
            // Account for multiple tbody instances
            > tbody + tbody {
                border-top: 2px solid $table-border-color;
            }

            tr{
                &:nth-child(even) {
                    background-color: $table-bg-accent
                }
            }
                    th,
                    thead td {
                        background-color: $table-bg-accent
                    }
                    td,
                    th {
                        padding: 2px 5px;
                        border: 1px solid $table-border-color;
                        vertical-align: top;
                        font-size: 14px;
                    }
                    th {
                        font-weight: bold;
                    }
        }

    */
  /*
        blockquote {
            background: transparent url(../images/blockquote.png) no-repeat 0px 6px;
            display: block;
            font-style: italic;
            margin: 0;
            border: none;
            text-indent: $grid-gutter-width;
            padding-top: ($padding-small-vertical*2);
            padding-bottom: ($padding-small-vertical*2);
            padding-left: 0;
            padding-right: 0;
        }
        blockquote p {
            font-size: 17px;
            line-height: 25px;
        }
        pre {
            background: $gray-lighter;
            border: 1px solid $gray;
            font-family: Courier, monospace;
            margin: 0 0 20px 0;
            padding: 15px;
            clear: both;
        }

        address {
            display: block;
            margin-bottom: 20px;
        }*/ }
  .typography p {
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 24px; }
  .typography h1,
  .typography h2,
  .typography h3,
  .typography h4,
  .typography h5,
  .typography h6 {
    /*        margin-top: $line-height-computed;
                font-weight: 500;
                font-family: inherit;
                color: inherit;
                margin-bottom: $line-height-computed/2;
                line-height: 1.1;*/
    /*        &.panel-title {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-size: ceil(($font-size-base * 1.125));
                }*/ }
    .typography h1 a,
    .typography h2 a,
    .typography h3 a,
    .typography h4 a,
    .typography h5 a,
    .typography h6 a {
      color: inherit; }
  .typography img {
    height: auto;
    /* resets the image height so that it maintains its aspect ratio when width is set */
    /*background: transparent url(../images/ajax-loader.gif) no-repeat center center;*/ }
    .typography img.left {
      float: left;
      max-width: 50%;
      margin: 5px 20px 10px 0; }
    .typography img.right {
      float: right;
      max-width: 50%;
      margin: 5px 0 20px 10px; }
    .typography img.leftAlone {
      float: left;
      margin-right: 100%;
      margin-bottom: 10px;
      clear: both; }
    .typography img.center {
      float: none;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-bottom: 10px;
      clear: both; }
  .typography .align-left {
    float: left;
    margin-right: 20px;
    max-width: 50%; }
  .typography .align-right {
    float: right;
    margin-left: 20px;
    max-width: 50%; }
  .typography .captionImage {
    width: 100%;
    margin-top: 5px; }
    .typography .captionImageimg {
      margin: 0; }
    .typography .captionImage.left {
      float: left;
      margin: 5px 30px 20px 0px; }
    .typography .captionImage.right {
      float: right;
      margin: 5px 0 20px 30px; }
      .typography .captionImage.right p {
        margin-left: -10px;
        text-align: left;
        margin-left: -10px; }
    .typography .captionImage.left[style], .typography .captionImage.right[style] {
      max-width: 50%; }
    .typography .captionImage.left img,
    .typography .captionImage.right img {
      float: none;
      max-width: none;
      width: 100%; }
    .typography .captionImage.left img {
      margin-right: -10px; }
    .typography .captionImage.right img {
      margin-left: -10px; }
    .typography .captionImage.leftAlone {
      float: none;
      margin: 0 20px 20px 0px; }
    .typography .captionImage.center {
      margin: 0 auto 20px; }
    .typography .captionImage p {
      clear: both;
      margin: 5px 0;
      font-style: italic;
      color: #777777; }
  .typography ::-moz-selection,
  .typography ::-moz-selection {
    background: #fcf8e3;
    color: #8a6d3b;
    text-shadow: none; }
  .typography ::selection,
  .typography ::-moz-selection {
    background: #fcf8e3;
    color: #8a6d3b;
    text-shadow: none; }
  .typography .left {
    text-align: left; }
  .typography .center {
    text-align: center; }
  .typography .right {
    text-align: right; }

body.mceContentBody {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #fff; }

/*# sourceMappingURL=editor.css.map */
