body{
	background: #e4e5e5;
	margin:0px; 
	font-family: 'robotoregular',Arial,sans-serif;
}
#profile-body{
    background-color: #e6e6e6;
    background-image: url('../images/bg.jpg');
}

.container-fluid{
	padding:0px;

}

.navbar-inverse{
	background-color: #3376B7;
	border:none;
	box-shadow: 0 0 8px;
	padding:0px 20px;
}
.profilenav>li>a{
	padding:10px 25px !important;
	border-right: 2px inset #fff !important;
}
.nav>li>a{
	padding:16px 25px;
	border-right: 2px inset #3376C9;
}
.navbar-nav>li>a{
	line-height: 30px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: #fff;
	color:#3376B7;
}
.navbar-inverse .navbar-nav>li>a{
	color:white;
	font-weight: bold;
}
.navbar-inverse .navbar-nav>li>a:hover{
	background-color: #fff;
	color:#3376B7;
}
/*Temporary*/
.navbar-inverse .navbar-brand{
	color:white;
	font-weight: 800;
}
.navbar-inverse .navbar-toggle{
	border-color:#fff;
}
.navbar-inverse .navbar-toggle .icon-bar:hover{
	background-color: #3376B7;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
	background: #fff;
}
.main-masthead{
	margin: 0px;
	margin-bottom: 40px;
	background-color: #444;
	padding:130px 10px;
	position: relative;
	top:60px;
	color:#2d2d2d;
	background-image: url('../images/bg02.jpg');
}
.clear{
	margin-top: 80px;
}
.sform{
	margin: 10px;
	margin-bottom: 50px;
	padding: 5px;
	background-color: #3376B7;;
	border-radius:5px;
    border-radius: 10px;
}
.form-group{

}
.form-inline .form-group{
	margin:0px;
	padding: 2px;
}
.form-group .form-control{
	font-weight: bold;
	font-size: 1.3em;
	padding: 5px 20px;
	background-color: #e6e6e6;
	width:100%;
	height: 50px;
	border: 2px solid #ddd;
}
.btn{
	height: 50px;
	font-weight: bold;
	width:100%;
	margin: 0px;
	font-size: 1.3em;
	color:white;
	border:2px solid #fff;
}
.btn-search{
	background-color: #3376B7;
}
.btn-search:hover{
	color:white;
	background-color: #3376A9;

}
.home-links{
	text-align: center;
}
.home-links a{
	padding:10px 20px;
	border:2px solid #3376A9;
	margin:10px;
	font-size: 1.4em;
	border-radius:10px;
	color:#3376A9;
}
.home-links a:hover{
	background-color:#3376A9;
	text-decoration: none;
	transition:0.8s;
	color:#fff;
}
.layer1{
	margin-top:88px;
}
.title{
	background-repeat: no-repeat;
	padding-left:40px;
	line-height: 20px;
	font-size: 1.2em;
	margin:10px;
	font-weight: 700;
}
.latest .title{
	background-image: url('../images/latest-icon.png');	
}
.latest-body{
	text-align: left;
	width:auto;
	margin:5px;
}

.content{
	width:auto;
	box-shadow: 0 0 10px;
	padding:10px;
	background:#fff;
	height: 432px;
	margin-bottom: 10px;
}
.latest-heading{
	color:#3376A9;
	font-weight: 700;
	padding:30px 0px;

}
.latest-heading:hover{
	text-decoration: none;
	color:inherit;
}
.stats{
	float: right;
	font-size: 1em;
	font-weight: 700;
}
.stats span{
	margin:5px;
}
.stats span:hover{
	color:#CB0000;
}

.top-schools .title, .top-courses .title{
	background-image: url('../images/star.png');
}
.sch{
	background:#fff;
	border:2px solid #ddd;
	margin-bottom: 4px;
}
.more{
	margin-bottom: 7px;
}
.sch-content{
	padding: 10px;
}
.pos{
	background-image: url('../images/first-pos.png');
	position: relative;
	top:-80px;
	right: 0px;
	float: right;
	background-size: cover;
	font-size: 1em;
	color:white;
	width:48px;
	height: 60px;
	text-indent: 22px;
	line-height: 30px;
	font-weight: bolder;
}
.other-pos{
	background-image: url('../images/other-pos.png');
	
}
.pos-square{
	position: relative;
	top:-44px;
	float: right;
	font-size: 1em;
	color:white;
	line-height: 30px;
	font-weight: bolder;
	background-color: rgba(0, 0, 0, 0.7);
	padding:7px 13px;
}
.red-pos{
	background-color: #CB0000;
}

.sch a{
	color:#3d3d3d;
	font-size: 1.2em;
	font-weight: bold;
}
.sch a:hover{
	text-decoration: none;
}
.layer2{
	background-color: #fff;
	padding: 20px;
	border-top:3px solid #ccc;
}

.tag-cloud{
	background-color: #3376A9;
	padding: 10px;
}
.tag-cloud ul li{
	list-style-type: none;
	display: inline;
	margin: 10px;
}
.tag-cloud a{
	color:white;
}
.l1{
	font-size: 2.4em;
}
.l2{
	font-size: 2em;
}
.l3{
	font-size: 1.6em;
}
.icon-custom{
	font-size: 2em;
	color:#3f3f3f;
}
.count-div{
	text-align: center;
	color:#3376A9;
}
.count{
	font-size: 2.3em;
	font-weight: bold;
}
.count-label{
	font-weight: bold;
	font-size: 1.4em;
	margin-top: -14px;
	padding: 0px;
}
footer{
	color:#fff;
	background-color: #595959;
}
footer h2{
	text-shadow: 1px 1px 0 #353535;
	font-size: 1.8em;
	border-bottom: 1px solid #fff;
	padding-bottom: 5px;
	opacity: 0.7;
}
footer ul{
	list-style: none;
	margin-left:0px;
	padding-left: 0px;
}
footer ul li{
	margin:10px; 
}
footer ul li a{
	color:white;
	font-size: 1.2em;
}
footer ul li a:hover{
	color:white;
	text-decoration: underline;
}
footer .icons-footer a{
	color:#fff;
	font-size: 2.3em;
	width:auto;
	margin-right: 10px;
}
footer .icons-footer a:hover{
	color:gray;
}
.last-footer{
	font-size: 1.2em;
	padding: 10px 30px;
	background-color: #2d2d2d;
}
.last-footer a{
	color:#3376A9;
}
.last-footer p{
	opacity: 0.8;
}
.school-listing h2{
	font-weight: bold;
	color:#3376B7;
	margin: 15px 10px;
}
.criteria-div{
	background-color: #fff;
	padding:10px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) 
}
.criteria .med{
	border:1px solid #4499ff;
	padding:5px;
	font-weight: bold;
	width:100%;
}
.criteria-title{
	margin-top:10px;
	font-weight: bold;
	border-bottom: 1px solid #d7d7d7;
}
.hideShowDesktop{
	display: none;
}
.filter-title h2{
	color:#3376B7;
	font-size: 1.4em;
	opacity: 0.8;
	font-family: verdana;
	padding-bottom: 8px;
}
.filter-title h2 i{
	font-size: 1.4em;
}
.school-wrapper{
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
	background-color: #fff;
	padding: 10px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) 
}
.school-image{
	width:200px;
}
.school-image img{
	width:100%;
	border-radius: 5px;
}
.school-icon{
	width:40px;
}
.school-icon img{
	width:100%;
	float: left;
}
.school-title {
	float: left;
	margin-bottom: 10px;
	margin-left:10px;
}
.school-title a{
	font-size: 1.3em;
	font-weight: bold;
}
.school-title a:hover{
	text-decoration: none;
	color:#5e5e5e;
}
.school-title span{
	color:#6e6e6e;
	font-weight: bold;
}
.school-right p{
	font-size: 1.1em;
	font-family: verdana;
	margin:20px 5px;
}
.school-listing-action{
	text-align: right;
}
.school-listing-action a{
	color:#fff;
	background-color: #3376A9;
	padding:5px;
	font-size: 1em;
	font-weight: bold;
	font-family: verdana;
	border-radius: 5px;

}
.school-listing-action a:hover{
	text-decoration: none;
	background-color: #888
}
.score-card{
	width:100%;
}
.score-div{
	padding: 10px;
	display: inline-block;
	text-align: center;
	border-right:1px solid #d7d7d7;
}
.score-div i{
	font-size: 2em;
	margin: 0px;
	color:#CB0000;
}
.score-div p{
	margin: 1px;
	font-size: 1em;
}
.score-div .score{
	color:#888;
	font-size: 1.5em;
	font-family: verdana;
	font-weight:bold;
	margin: 0px;
}
.articles-page{
	
}
.articles-title{
	color:#3376A9;
	font-family: verdana;
	font-weight: bold;
}
.cat-cloud{
	text-align: center;
	margin: 10px 5px;
}
.cat-cloud button{
	color:#2d2d2d;
	background-color: transparent;
	border:2px solid #7d7d7d;
	padding:5px;
	border-radius:20px;
	margin:7px 5px;
}
.cat-cloud button:hover{
	background-color: #3376A9;
	color:#fff;
	border:2px solid #3376A9;
}
#default{
	background-color: #3376A9;
	color:#fff;
	border:2px solid #3376A9;
}
.sort-article{
	float: right;
	margin-right: 15px;
}
.sort-article p{
	display: inline-block;
	font-weight: 700;
}
.sort-article button{
	background-color:transparent;
	color:#2d2d2d;
	border:2px solid #7d7d7d;
}
.sort-article button:hover{
	background-color:#3376A9;;
	color:#fff;
	border:2px solid #3376A9;
}
.newsletter-articles-page{
	background-color: #3376A9;
	padding:30px;
}
.newsletter-articles-page h1{
	color:white;
	margin: 0px;
}
.categories .form-control{
	border:2px solid #3399ff;
	background-color:#e6e6e6;
}
.school-head{
	padding:70px 10px;
}
.school-icon-name{
	text-align: center;
}
.school-icon-name img{
	width:100px;
	box-shadow: 0 0 7px #2d2d2d;
}
.school-icon-name h1{
	color:white;
	font-weight: bold;
	font-family: verdana;
	background-color: #444;
	width:auto;
	opacity: 0.8;
	padding: 10px;
}
.profiletabs{
	background-color: rgba(0, 0, 0, 0.6) !important; 
	color: #fff !important;
}

.tabs{
	background-color: #3376A9;
}
.nav-tabs{
	text-align: center;!important
	width:auto;
}
.nav-tabs li a{
	color:white;
	font-size:1.1em;
	text-transform: uppercase;
	font-weight: bold;
}
.nav-tabs li a:hover{
	color:#3399ff;
}
.other-news{
	margin-bottom: 10px;
}
.other-news div{
	padding: 0px;
	background-size: cover;
}
.other-news div div{
	background-color: #444;
	opacity: 0.6;
	width: 100%;
	padding:50px;
	color:#fff;
	text-align: center;
}
.other-news div div:hover{
	opacity: 0.8;
}
.school-marks div div{
	text-align: center;
	padding: 30px;
	background-color: white;
	border-left:3px solid #3399ff;
	box-shadow: 0 0 4px;
	margin-left:0px;
}
.school-marks div i{
	font-weight: bold;
	font-size:2em;
	line-height: 40px;
	display: block;
}
.school-marks div div span{
	font-size:1.3em;
}
.school-marks div div .score{
	color: #888;
    font-size: 2em;
    font-family: verdana;
    font-weight: bold;
    margin: 0px;
    text-align: center;
}
.links{
	text-align: center;
	margin: 30px 0px;
}
.links a{
	border-radius: 5px;
	margin: 20px;
	color:white;
    background-color: #3376A9 ;
    padding: 10px;
    font-size: 1.4em;
    text-transform: uppercase;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.links a:hover{
	text-decoration: none;
	background-color: #444;
}
.academic-strengths{
	background-color: white;
	padding: 20px;
}
.academic-strengths h2{
	color:#3399ff;
	font-weight: bold;
	margin: 5px;
}
.academic-strengths button{
	color:#2d2d2d;
	background-color: transparent;
	border:2px solid #7d7d7d;
	padding:5px;
	border-radius:20px;
	margin:7px 5px;
}
.academic-strengths button:hover{
	background-color: #3376A9;
	color:#fff;
	border:2px solid #3376A9;
}
.descLayer{
	background-color: white;
	padding:20px;
	box-shadow: 0 0 2px;
	margin-bottom: 20px;
}
.descLayer h3{
	color:#3399ff;
	font-weight: bold;
}
.descLayer p{
	font-size: 1.2em;
}

@media(min-width:800px){
.reg-container
{
	width:75%; 
	margin:auto;
}
.post-container
{
	width:80%; 
	margin:auto;
}
.login-container
{
	width:45%; 
	margin:auto;
}	
.reg-content{
	width:auto;
	box-shadow: 0 0 10px;
	padding:10px;
	background:#fff;
	height: 380px;
	margin-bottom: 10px;
}
.prof-content{
	width:auto;
	padding:10px;
	background:transparent;
	height: auto;
	margin-bottom: 2px;
}
.post-content{
	width:auto;
	box-shadow: 0 0 10px;
	padding:20px;
	background:#fff;
	margin-bottom: 20px;
}
}
@media(max-width:800px){
.login-container
{ 
	padding:10px;
	background:#fff;
	margin:auto;
}
}
.post-content{
	width:auto;
	box-shadow: 0 0 10px;
	padding:10px;
	background:#fff;
	margin-bottom: 20px;
}

.responsive{
	max-width: 100%;
	height:auto;
}
h4{
	color:#000;
}