.guide-internal, .guide-container, .guide-section{
    .side.side-right{
        @extend .hidden-xs;
    }
    header .navbar{
        @extend .visible-xs-block;
    }
    >.container{
        display: table;
        position: relative;
        @media screen and (max-width: 767px) {
            padding-left: 0px;
            padding-right: 0px;
        }
        &>.center, &>.right, &>.left{
            display: table-cell;
            min-height: 100%;
            float:none !important;
            vertical-align: top;
        }
        &>.center{
            @media (max-width: $screen-sm-max) {
                width: 100%;
            }
        }
        .toggle-accordion{
            float: right;
        }
    }
}