.home-page{
    .carousel-container{
        ul, ol{
            &.carousel-indicators{
                margin-bottom: 0;
            }
        }
        .carousel-inner{ 
            @include if-sm-or-smaller{
                h1,.h1 {
                    font-size: $carousel-control-font-size * 1.5;
                }
            }
        }
    }
}