@import "../vendor/_bourbon.scss";

@mixin form-validation($text-color: #555, $border-color: #ccc, $background-color: #f5f5f5) {
    color: $text-color;
    border-color:  $border-color;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075)); // Redeclare so transitions work
    &:focus {
        border-color: darken( $border-color, 10%);
        @include glow-shadow($border-color);
    }
}
@mixin simple-linear-gradient($colour-start, $colour-end: false){
    @if $colour-end == false {
        $colour-end:  $colour-start;
    }
    @include background-image(linear-gradient(top,$colour-start 0,$colour-end 100%));
    @include ie-gradient($colour-start, $colour-end);
    background-repeat: repeat-x;
    background-position: 0;
}

// Emit a IE-Specific filters that renders a simple linear gradient.
// For use in IE 6 - 8. Best practice would have you apply this via a
// conditional IE stylesheet, but if you must, you should place this before
// any background-image properties that you have specified.
//
// For the `$orientation` parameter, you can pass `vertical` or `horizontal`.
@mixin ie-gradient($start-color, $end-color, $orientation: vertical) {
    *zoom: 1;
    $gradient-type: if($orientation == vertical, 0, 1);
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=#{$gradient-type}, startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}');
}

@mixin verticle-center( $position: relative){
    position: $position;
    top: 50%;
    transform: translateY(-50%);
}
@mixin border-radius-overflow-fix(){
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    @include backface-visibility(hidden);
    @include transform(translate3d(0, 0, 0));
}

@mixin default-transition($prop: all, $speed: $default-transition-speed, $timing-function: ease){
    @include transition($prop $speed $timing-function);
}
@mixin drop-shadow(){
    @include box-shadow($primary-drop-shadow);
}
@mixin outline-shadow(){
    @include box-shadow($primary-outline-shadow);
}
@mixin outline-shadow-active(){
    @include box-shadow($primary-outline-shadow-active);
}
@mixin glow-shadow($color:$primary-shadow-color){
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten($color, 20%));
} 
@mixin default-text-shadow(){
    text-shadow: 0 -1px 0 $primary-text-shadow-color; 
}
@mixin respond-to($media) {
    @if $media == phone {     /* Landscape phones and down */
        @media (max-width: 480px) { @content; }
    } @else if $media == "tablet-portrait" {  /* Landscape phone to portrait tablet */
        @media (max-width: 767px) {@content; }
    } @else if $media == "tablet-landscape-desktop" {  /* Portrait tablet to landscape and desktop */
        @media (min-width: 768px) and (max-width: 979px) { @content; }
    } @else if $media == "large-desktop" {  /* Large desktop */
        @media (min-width: 1200px) { @content; }
    } @else if $media == "non-retina" {    /* Non-Retina */
        @media screen and (-webkit-max-device-pixel-ratio: 1) { @content; }
    } @else if $media == retina {  /* Retina Only*/
        @media screen and (-webkit-min-device-pixel-ratio: 2) { @content; }
    } 
    // Specific max width
    @else {
        @media only screen and (max-width: #{$media}px) { @content; }
    }
}

@mixin if-lg(){
    @media (min-width: $screen-lg-min) { @content; }
}
@mixin if-md(){
    @media (min-width: $screen-md-min)  and (max-width: $screen-md-max) { @content; }
}
@mixin if-sm(){
    @media (min-width: $screen-sm-min)  and (max-width: $screen-sm-max) { @content; }
}
@mixin if-sm-or-larger(){
    @media (min-width: $screen-sm-min) { @content; }
}
@mixin if-xs(){
    @media (min-width: $screen-xs-min)  and (max-width: $screen-xs-max) { @content; }
}
@mixin if-xs-or-smaller(){
    @media (max-width: $screen-xs-max) { @content; }
}
@mixin if-xxs(){
    @media (max-width: $screen-xs-min){ @content; }
}
@mixin if-md-or-larger(){
    @media (min-width: $screen-md-min) { @content; }
}
@mixin if-md-or-smaller(){
    @media (max-width: $screen-md-max) { @content; }
}
@mixin if-sm-or-smaller(){
    @media (max-width: $screen-sm-max) { @content; }
}
@mixin if-lg-or-smaller(){
    @media (max-width:$screen-lg) { @content; }
}
@mixin if-mobile-menu(){
    @media (max-width: $grid-float-breakpoint) {
        @content;
    }
}
@mixin if-not-mobile-menu(){
    @media (min-width: $grid-float-breakpoint) {
        @content;
    }
}
