/* Widgets page. */
.columns-1 {
	}
.columns-2 {
	overflow: hidden;
	float: left;
	width: 48%;
}
.columns-3 {
	overflow: hidden;
	float: left;
	width: 31%;
	margin-right: 3.5%;
}
.column-last {
	float: right;
	margin-right: 0;
}
.tolor_picker {
	border-radius: 3px;
	padding: 3px;
}
.zframe-widget-controls label , .zframe-widget-controls p{
	font-size: 11px;
	}
.zframe-widget-controls a{
	text-decoration: none;
	font-size: 11px;
	color: #21759B;
}
.zframe-widget-controls hr{
    border: 0 none;
    clear: both;
    color: #DFDFDF;
    height: 1px;
}
.zframe-widget-controls .box {
	-moz-border-radius: 4px;
    border: 1px solid #DFDFDF;
    display: block;
    overflow: hidden;
    padding: 5px;
}
.zframe-widget-controls textarea:hover, .zframe-widget-controls input[type="text"]:hover {
    background-color: #F7F7F7;
}
.columns-2 input.widefat, .columns-2 select.widefat {
	width: 99%;
}
.columns-3 select.widefat {
	width: 98.5%;
}
.zframe-widget-controls select[multiple="multiple"] {
	width: 100%;
	height: 10em !important;
}
input.smallfat {
	float: right;
	width: 66px;
}
select.smallfat {
	float: right;
	min-width: 66px;
}

.tolor_picker_box {
	background: none repeat scroll 0 0 #EEEEEE;
	border: 1px solid #CCCCCC;
	margin-top: 25px;
	position: absolute;
	z-index: 100;
	display: none;
}