/*====================================================
	- HTML Table Filter Generator SkyBlue Theme
	- Do not hesitate to edit classes below to 
	change theme appearance
=====================================================*/

/* TABLE LAYOUT
=====================================================*/
table.TF{
	padding:0; color:#000;
    font:12px/13px "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif !important;
    border-right:1px solid #A4BED4;
    border-top:1px solid #A4BED4;
    border-left:1px solid #A4BED4;
    border-bottom:0;
}
table.TF th{
    margin:0; padding:5px; color:inherit;
    background:#D1E5FE url("images/bg_skyblue.gif") 0 0 repeat-x;
    border-color:#FDFDFD #A4BED4 #A4BED4 #FDFDFD;
    border-width:1px; border-style:solid;
}

table.TF td{
    margin:0; padding:5px; color:inherit;
    border-bottom:1px solid #A4BED4;
    border-left:0; border-top:0; border-right:0;
}

/* FILTERS
=====================================================*/
/* filter grid row appearance */
.fltrow{ background-color:#D1E5FE !important; }
.fltrow th, .fltrow td{ border-top:1px dotted #666 !important; border-bottom:1px dotted #666 !important; padding:1px 3px 1px 3px !important; }

/* filter (input) appearance */
.flt, select.flt, select.flt_multi, .flt_s, .single_flt, .div_checklist{ border:1px solid #A4BED4 !important; }
input.flt{ width:99% !important; }

/* TOP BAR
=====================================================*/
/* div containing left, middle and right divs */
.inf{
	background:#D9EAED !important;
	border:1px solid #99CCCC;
	height:25px; color:#004A6F;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
div.tot, div.status{ border-right:0 !important; }

.helpBtn{ 
	margin:0 5px 0 5px; padding: 2px 4px 2px 4px; 
	color:#004A6F !important; font-size:13px; 
	border:1px solid transparent !important; 
} /* help button */
.helpBtn:hover{ background-color:#FFE4AB; border:1px solid #FFB552 !important; text-decoration:none; }
div.helpCont{ color:inherit !important: }

/* RESET BUTTON
=====================================================*/
/* Reset button */
input.reset{
	width:19px; height:19px; cursor:pointer !important;
	border:1px solid transparent !important; vertical-align:middle;
	background:transparent url(images/icn_clear_filters.png) center center no-repeat !important;
}
input.reset:hover{ background:#FFE4AB url(images/icn_clear_filters.png) center center no-repeat !important; border:1px solid #FFB552 !important; }

/* PAGING
=====================================================*/
/* Paging elements */
input.pgInp{
	width:19px; height:19px; cursor:pointer !important;
	border:0 !important;
}
.nextPage{ background:transparent url(images/btn_next_page.gif) center center no-repeat !important; border:1px solid transparent !important; }
.previousPage{ background:transparent url(images/btn_prev_page.gif) center center no-repeat !important; border:1px solid transparent !important; }
.firstPage{ background:transparent url(images/btn_first_page.gif) center center no-repeat !important; border:1px solid transparent !important; }
.lastPage{ background:transparent url(images/btn_last_page.gif) center center no-repeat !important; border:1px solid transparent !important; }
.nextPage:hover{ background:#FFE4AB url(images/btn_next_page.gif) center center no-repeat !important; border:1px solid #FFB552 !important; }
.previousPage:hover{ background:#FFE4AB url(images/btn_prev_page.gif) center center no-repeat !important; border:1px solid #FFB552 !important; }
.firstPage:hover{ background:#FFE4AB url(images/btn_first_page.gif) center center no-repeat !important; border:1px solid #FFB552 !important; }
.lastPage:hover{ background:#FFE4AB url(images/btn_last_page.gif) center center no-repeat !important; border:1px solid #FFB552 !important; }
select.rspg{ font-size:10px; }

/* ACTIVE COLUMN HEADER
=====================================================*/
.activeHeader{ background:#FFE4AB !important; border:1px solid #FFB552 !important; color:inherit !important; }

/* GRID LAYOUT
=====================================================*/
/*Main container*/
div.grd_Cont{ background-color:#D9EAED !important; border:1px solid #99CCCC !important; padding:0 !important; }
/*headers' table container*/
div.grd_headTblCont{ background-color:#D9EAED !important; border-bottom:none !important; }
/*div.grd_tblCont{ overflow-y:auto !important; }*/
div.grd_tblCont table{ border-right:none !important; font:12px/13px "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif !important; }
/* Headers */
div.grd_tblCont table th, div.grd_headTblCont table th, div.grd_headTblCont table td{
	background:#D9EAED url(images/bg_skyblue.gif) left top repeat-x;
	border-bottom:1px solid #A4BED4; border-right:1px solid #A4BED4 !important;
	border-left:1px solid #fff !important; border-top:1px solid #fff !important;
	padding:5px 2px 5px 2px !important;
}
div.grd_tblCont table td{
	border-bottom:1px solid #A4BED4 !important; border-right:0 !important;
	border-left:0 !important; border-top:0 !important; padding:5px 2px 5px 2px !important;
}

/* div containing left, middle and right divs */
.grd_inf{ 
	background:#D9EAED !important;
	height:25px; color:#004A6F;
	border-top:1px solid #99CCCC !important;
}
.grd_inf .rdiv{ height:28px; }
.grd_inf a{ text-decoration:none; font-weight:bold; } /* help */

 /* help button */
.grd_inf a.helpBtn{ vertical-align:middle; margin-top:2px !important; padding-top:1px !important; }
/* row bg alternating color */
div.grd_Cont .even{ background-color:#fff; }
div.grd_Cont .odd{ background-color:#E3EFFF; }

/* LOADER
=====================================================*/
/* Loader */
.loader{ border:0 !important; background:transparent !important; margin-top:40px; margin-left:0 !important; }

/* ALTERNATING ROW BACKGROUNDS
=====================================================*/
/* Alternating backgrounds */
.even{ background-color:#fff; }/*row bg alternating color*/
.odd{ background-color:#E3EFFF; }/*row bg alternating color*/

/* ezEditTable
=====================================================*/

/* Selection */
.ezActiveRow{ background-color:#FFDC61 !important; color:inherit; }
.ezSelectedRow{	background-color:#FFE4AB !important; color:inherit; }
.ezActiveCell{
	background-color:#fff !important;
	color:#000 !important; font-weight:bold;	
}
.ezETSelectedCell{ background-color:#FFF !important; font-weight:bold; color:rgb(0,0,0)!important; }