$primary-shadow-color: rgba(50, 50, 50, 0.75);
$primary-outline-shadow: 1px 1px 8px $primary-shadow-color;
$primary-drop-shadow: 0px 9px 14px -6px $primary-shadow-color;
$default-transition-speed: .35s;
$max-form-field-width:490px;
