body {
	color:#ffffff;
	font-family: roboto;
	margin: 0px;
}
@font-face {
    font-family: roboto;
    src: url(Roboto-Bold.ttf);
}
.content {
background: rgba(128,128,128,0.7);
margin-top: 54px;
text-align: center;
margin-left: 50px;
margin-right: 50px;
padding: 10px;
border-radius: 5px;
}

.background {
	position:absolute;
	background:gray;
	opacity:0.8;
	/* height:100%; */
	width:100%;
}
.background:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(o-COLLEGE-GRADUATION-facebook.jpg) bottom left;
  z-index: -1;
/*   opacity: 0.2; */
filter: brightness(50%);
}
h1 {font-size: 72px;}
h2 {font-size: 18px;}
.wpcf7 input[type="submit"] {
background-color: #ce3939;
border: 0;
border-radius: 35px;
height: 50px;
width: 350px;
font-weight: bold;
font-size: 18px;
}
.wpcf7 input[type="submit"]:hover {
background-color: #ce3939;
}
.wpcf7 input[type="text"] {
border-radius: 35px;
height: 50px;
color: #000000;
font-size: 18px;
width: 350px;
padding-left: 25px;
font-weight: bold;
}
.wpcf7 input[type="email"] {
border-radius: 35px;
height: 50px;
color: #000000;
font-size: 18px;
width: 350px;
padding-left: 25px;
font-weight: bold;
}
/* do not group these rules */
-webkit-input-placeholder {
    color: #000000;
}
-moz-placeholder {
    /* FF 4-18 */
    color: #000000;
}
-moz-placeholder {
    /* FF 19+ */
    color: #000000;
}
-ms-input-placeholder {
    /* IE 10+ */
    color: #000000;
}