/*====================================================
	- HTML Table Filter Generator Default Theme
	- Do not hesitate to edit classes below to 
	change theme appearance
=====================================================*/

/* TABLE LAYOUT
=====================================================*/
table.TF{
	font:normal 12px arial, tahoma, helvetica, sans-serif !important;
	border-left:1px solid #ccc !important; border-top:none !important;
	border-right:none !important; border-bottom:none !important;
}
table.TF th{
	background:#EBECEE url(images/bg_th.jpg) left top repeat-x !important; 
	border-bottom:1px solid #D0D0D0 !important; border-right:1px solid #D0D0D0 !important;
	border-left:1px solid #fff !important; border-top:1px solid #fff !important;
	padding:2px !important; color:#333 !important; height:25px !important;
}

table.TF td{ border-bottom:1px dotted #999 !important; padding:5px !important; }

/* FILTERS
=====================================================*/
/* filter grid row appearance */
.fltrow{ background-color:#EBECEE !important; }
.fltrow th, .fltrow td{ border-bottom:1px dotted #666 !important; padding:1px 3px 1px 3px !important; }

/* filter (input) appearance */
.flt, select.flt, select.flt_multi, .flt_s, .single_flt, .div_checklist{ border:1px solid #999 !important; }
input.flt{ width:99% !important; }

/* TOP BAR
=====================================================*/
/* div containing left, middle and right divs */
.inf{ background:#f4f4f4 url(images/bg_infDiv.jpg) 0 0 repeat-x !important; }

/* RESET BUTTON
=====================================================*/
/* Reset button */
input.reset{
	width:19px; height:19px; cursor:pointer !important;
	border:0 !important; vertical-align:middle;
	background:transparent url(images/btn_eraser.gif) center center no-repeat !important;
}
input.reset:hover{ background:transparent url(images/btn_over_eraser.gif) center center no-repeat !important; }

/* PAGING
=====================================================*/
/* Paging elements */
input.pgInp{
	width:19px; height:19px; cursor:pointer !important;
	border:0 !important;
}
.nextPage{ background:transparent url(images/btn_next_page.gif) center center no-repeat !important; }
.previousPage{ background:transparent url(images/btn_previous_page.gif) center center no-repeat !important; }
.firstPage{ background:transparent url(images/btn_first_page.gif) center center no-repeat !important; }
.lastPage{ background:transparent url(images/btn_last_page.gif) center center no-repeat !important; }
.nextPage:hover{ background:transparent url(images/btn_over_next_page.gif) center center no-repeat !important; }
.previousPage:hover{ background:transparent url(images/btn_over_previous_page.gif) center center no-repeat !important; }
.firstPage:hover{ background:transparent url(images/btn_over_first_page.gif) center center no-repeat !important; }
.lastPage:hover{ background:transparent url(images/btn_over_last_page.gif) center center no-repeat !important; }
select.rspg{ font-size:10px; }

/* GRID LAYOUT
=====================================================*/
/*Main container*/
div.grd_Cont{ background-color:#EBECEE !important; border:1px solid #ccc !important; padding:0 !important; }
/*headers' table container*/
div.grd_headTblCont{ background-color:#EBECEE !important; border-bottom:none !important; }
/*div.grd_tblCont{ overflow-y:auto !important; }*/
div.grd_tblCont table{ border-right:none !important; }
/* Headers */
div.grd_tblCont table th, div.grd_headTblCont table th, div.grd_headTblCont table td{
	background:#EBECEE url(images/bg_th.jpg) left top repeat-x !important;
	border-bottom:1px solid #D0D0D0 !important; border-right:1px solid #D0D0D0 !important;
	border-left:1px solid #fff !important; border-top:1px solid #fff !important;
}
/* div containing left, middle and right divs */
.grd_inf{ 
	background:#D7D7D7 url(images/bg_infDiv.jpg) 0 0 repeat-x !important; 
	border-top:1px solid #D0D0D0 !important; height:29px !important;
}
/*row bg alternating color*/
div.grd_Cont .even{ background-color:#fff; }
div.grd_Cont .odd{ background-color:#D5D5D5; }

/* LOADER
=====================================================*/
/* Loader */
.loader{ border:1px solid #999; background:#fff; }
.defaultLoader{ width:32px; height:32px; background:transparent url(images/img_loading.gif) 0 0 no-repeat !important; }

/* ALTERNATING ROW BACKGROUNDS
=====================================================*/
/* Alternating backgrounds */
.even{ background-color:#fff; }/*row bg alternating color*/
.odd{ background-color:#D5D5D5; }/*row bg alternating color*/