/* ==========================================================================
   BUSINESS THEME BY MARK FAIL / PREMIUMPRESS
   ========================================================================== */
   
@import url(style_childtheme.css);

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
} 

body { background: #e9e9e9; font-family: 'Roboto', sans-serif; } 
.page-wrapper {
    margin: 0 auto;
 
    -webkit-box-shadow: 0 0 25px 0 #b0b0b0;
    box-shadow: 0 0 25px 0 #b0b0b0;
    padding-top: 0;
    background: #fff;
 
	    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    background-color: #fff;
	padding:0px 10px 10px 10px; 
	
}
 
/*------------------------------------------------------*/
/* GOOGLE FONT
/*------------------------------------------------------*/

h1, h2, h3, h4, h5, h6, #core_menu_wrapper .nav > li > a {
	font-family: 'Roboto', sans-serif;
   font-weight: 700;

}
#core_logo .main { font-size:32px; color:#000; }
#core_logo .main span { color:#fac564; }
#core_logo .submain { color:#000;      font-size: 14px;} 
@media (max-width: 480px){ 
#core_logo .main { font-size:25px;  }
#core_logo .submain { font-size: 10px;} 
}

/*------------------------------------------------------*/
/* CORE ADJUSTMENTS
/*------------------------------------------------------*/

#core_inner_wrap { margin-left:-15px; margin-right:-15px; }
 
/*------------------------------------------------------*/
/* BUTTONS
/*------------------------------------------------------*/

.btn-primary, .btn-primary:focus,.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled] {
    color:#fff;
    background-color:#000;
	border:0px;
}

/*------------------------------------------------------*/
/* LINKS
/*------------------------------------------------------*/

a, a:hover { color:#000; }

/*------------------------------------------------------*/
/* TOP NAVIGATION
/*------------------------------------------------------*/

#core_header_navigation { border-bottom:1px solid #ddd; }
#core_header_navigation .accountdetails { margin-top:0px; }
#core_header_navigation .nav > li a { text-transform: uppercase; } 

/*------------------------------------------------------*/
/* HEADERS
/*------------------------------------------------------*/

@media (max-width: 680px){ .overlay { background:none;} }
 
/*** style 4 ***/
.header_style4 .wlt_searchbox input { border: 1px solid #ccc; }
.header_style4 .wlt_searchbox .glyphicon {  top: 3px; }

/*------------------------------------------------------*/
/* MAIN MENU
/*------------------------------------------------------*/

#core_menu_wrapper { background:#606060; }
#core_menu_wrapper .navbar-collapse { border:0px;   }
#core_menu_wrapper .navbar-nav > li {      border-right: 1px solid rgba(0, 0, 0, 0.09);; }
#core_menu_wrapper .navbar-nav > li a { color:#fff; text-align:center; text-transform: uppercase; font-weight:bold;  }
#core_menu_wrapper .navbar-nav > li:hover, #core_menu_wrapper .navbar-nav > li.current-menu-item {  }
#core_menu_wrapper .navbar-nav > li.current-menu-item a {   }
 
#wlt_smalldevicemenubar a.b1 { background:#000; }
.menu_style4 .button { margin-top:0px; border:0px; } 
#core_banner { margin-top: 10px; }
/*------------------------------------------------------*/
/* SIDEBAR 
/*------------------------------------------------------*/

#core_advanced_search_widget_box label, #core_advanced_search_widget_box  #head_group_cat {  font-size: 11px;  text-transform: uppercase;  color: #999;}

.panel-default>.panel-heading { font-size: 14px; background:#fff; }
 
/*------------------------------------------------------*/
/* SEARCH RESULTS
/*------------------------------------------------------*/

.search .core_middle_wrap, .archive .core_middle_wrap {   padding: 20px;  border: 1px solid #ddd; margin-bottom:20px; }
 
/*------------------------------------------------------*/
/* SHORTCODES
/*------------------------------------------------------*/

.wlt_shortcode_phone:before {
  font-family: FontAwesome;
  content: "\f095";
  margin-right: 4px;
}

/*------------------------------------------------------*/
/* PANELS
/*------------------------------------------------------*/

 
.panel .panel { border:1px solid #ddd; }
.panel-default>.panel-heading, #core_advanced_search_widget_box .panel-heading { background:#ececec; line-height:30px;  color:#444; font-size:16px; font-weight:bold; text-transform:uppercase; }
.panel-body, .panel .list-group {  background:#fafafa }

/*------------------------------------------------------*/
/* HOME	
/*------------------------------------------------------*/
 
#core_categoryblock_side_yes .media .pull-left {padding: 6px;background-color: #ededed;-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);-moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);display: inline-block; 
margin-bottom: 10px;margin-right:20px;}
#core_categoryblock_side_yes .media .pull-left img {width: 100px;height: 100px;}
 






