@import "config/_variables.scss";
div, article{
    width: 100%;
    margin: 0;
    float: none;
}
.navbar, .sidebar-nav, .breadcrumb, .icon, .control, .btn, .carousel-control, .printShare, .resultsHeader, .pagination, #lang, footer{
    display:none;
}