/* ==========================================================================
# Woocommerce style - begin
========================================================================== */
@font-face {
  font-family: 'star';
  src: url("../../../../plugins/woocommerce/assets/fonts/star.eot");
  src: url("../../../../plugins/woocommerce/assets/fonts/star.eot?#iefix") format("embedded-opentype"), url("../../../../plugins/woocommerce/assets/fonts/star.woff") format("woff"), url("../../../../plugins/woocommerce/assets/fonts/star.ttf") format("truetype"), url("../../../../plugins/woocommerce/assets/fonts/star.svg#star") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Woocommerce product list - begin
========================================================================== */
.eltd-woocommerce-page .woocommerce-result-count,
.eltd-woocommerce-page .woocommerce-ordering,
.woocommerce .woocommerce-result-count,
.woocommerce .woocommerce-ordering {
  width: 50%;
  height: 41px;
  margin: 0 0 12px 0;
  display: inline;
  float: left;
  text-align: left;
}

.eltd-woocommerce-page .woocommerce-result-count,
.woocommerce .woocommerce-result-count {
  line-height: 33px;
  color: #1ab5c1;
  display: none;
}

.eltd-woocommerce-page .full_width .woocommerce-result-count,
.woocommerce .full_width .woocommerce-result-count {
  position: relative;
  left: 45px;
  display: none;
}

.eltd-woocommerce-page .full_width .woocommerce-ordering,
.woocommerce .full_width .woocommerce-ordering {
  position: relative;
  right: 45px;
}

.eltd-woocommerce-page .products,
.woocommerce .products {
  list-style: none;
  margin: 0 0 26px;
  padding: 0;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.eltd-woocommerce-page .products.related,
.woocommerce .products.related {
  margin-top: 50px;
}

.eltd-woocommerce-page .product,
.woocommerce .product {
  position: relative;
  float: left;
  text-align: left;
  border-style: solid;
  border-color: #e1e2e5;
}

.eltd-woocommerce-page .product .eltd-image-add-to-cart-holder,
.woocommerce .product .eltd-image-add-to-cart-holder {
  overflow: hidden;
  position: relative;
}

.eltd-woocommerce-page .product .eltd-image-add-to-cart-holder .added_to_cart,
.woocommerce .product .eltd-image-add-to-cart-holder .added_to_cart {
  overflow: hidden;
  padding: 13px 0;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: #1ab5c1;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 1.7em;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.eltd-woocommerce-page .product .eltd-image-add-to-cart-holder .eltd-btn,
.eltd-woocommerce-page .product .eltd-image-add-to-cart-holder .added_to_cart,
.woocommerce .product .eltd-image-add-to-cart-holder .eltd-btn,
.woocommerce .product .eltd-image-add-to-cart-holder .added_to_cart {
  position: absolute;
  top: calc(50% - 23px);
  left: calc(50% - 23px);
  left: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  transform: translate(-50%);
  width: 70%;
  padding: 15px 0;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 30;
}

.eltd-woocommerce-page .product .eltd-image-add-to-cart-holder .eltd-btn i,
.eltd-woocommerce-page .product .eltd-image-add-to-cart-holder .added_to_cart i,
.woocommerce .product .eltd-image-add-to-cart-holder .eltd-btn i,
.woocommerce .product .eltd-image-add-to-cart-holder .added_to_cart i {
  font-size: 18px;
  vertical-align: middle;
}

.eltd-woocommerce-page .product .eltd-image-add-to-cart-holder .eltd-btn span,
.eltd-woocommerce-page .product .eltd-image-add-to-cart-holder .added_to_cart span,
.woocommerce .product .eltd-image-add-to-cart-holder .eltd-btn span,
.woocommerce .product .eltd-image-add-to-cart-holder .added_to_cart span {
  vertical-align: middle;
}

.eltd-woocommerce-page .product .eltd-image-add-to-cart-holder .eltd-btn:before,
.eltd-woocommerce-page .product .eltd-image-add-to-cart-holder .added_to_cart:before,
.woocommerce .product .eltd-image-add-to-cart-holder .eltd-btn:before,
.woocommerce .product .eltd-image-add-to-cart-holder .added_to_cart:before {
  display: none;
}

.eltd-woocommerce-page .product .eltd-image-add-to-cart-holder .eltd-btn.added,
.eltd-woocommerce-page .product .eltd-image-add-to-cart-holder .added_to_cart.added,
.woocommerce .product .eltd-image-add-to-cart-holder .eltd-btn.added,
.woocommerce .product .eltd-image-add-to-cart-holder .added_to_cart.added {
  display: none;
}

.eltd-woocommerce-page .product .eltd-image-add-to-cart-holder:hover .eltd-image-overlay,
.woocommerce .product .eltd-image-add-to-cart-holder:hover .eltd-image-overlay {
  opacity: 1;
}

.eltd-woocommerce-page .product .eltd-image-overlay,
.woocommerce .product .eltd-image-overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 10;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background-color: rgba(0, 0, 0, 0.6);
}

.eltd-woocommerce-page .product:hover .eltd-btn,
.eltd-woocommerce-page .product:hover .added_to_cart,
.woocommerce .product:hover .eltd-btn,
.woocommerce .product:hover .added_to_cart {
  opacity: 1;
}

.eltd-woocommerce-page .product:hover .eltd-btn:hover:not(.single_add_to_cart_button),
.eltd-woocommerce-page .product:hover .added_to_cart:hover:not(.single_add_to_cart_button),
.woocommerce .product:hover .eltd-btn:hover:not(.single_add_to_cart_button),
.woocommerce .product:hover .added_to_cart:hover:not(.single_add_to_cart_button) {
  border-color: #fff !important;
  color: #fff !important;
}

.eltd-woocommerce-page .product .eltd-product-list-product-title-holder,
.woocommerce .product .eltd-product-list-product-title-holder {
  position: relative;
}

.eltd-woocommerce-page .product .eltd-product-list-product-title,
.woocommerce .product .eltd-product-list-product-title {
  margin: 23px 0 10px;
  letter-spacing: 0;
  color: #000;
}

.eltd-woocommerce-page .product .eltd-product-list-product-title:hover,
.woocommerce .product .eltd-product-list-product-title:hover {
  color: #1ab5c1;
}

.eltd-woocommerce-page .product .eltd-woocommerce-lightbox,
.woocommerce .product .eltd-woocommerce-lightbox {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  color: #939598;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.eltd-woocommerce-page .product .eltd-woocommerce-lightbox:hover,
.woocommerce .product .eltd-woocommerce-lightbox:hover {
  color: #1ab5c1;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
}

.eltd-woocommerce-page .product img,
.woocommerce .product img {
  display: block;
  width: 100%;
}

.eltd-woocommerce-page .product .price,
.woocommerce .product .price {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 1em;
  letter-spacing: 1px;
  font-weight: 400;
  display: block;
  color: #939598;
  width: 100%;
  margin: 0 0 22px;
}

.eltd-woocommerce-page .product .price del,
.woocommerce .product .price del {
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin-right: 5px;
}

.eltd-woocommerce-page .product .price del:after,
.woocommerce .product .price del:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #939598;
  position: absolute;
  top: 50%;
}

.eltd-woocommerce-page .product .price span,
.woocommerce .product .price span {
  vertical-align: middle;
}

.eltd-woocommerce-page .product .price ins,
.woocommerce .product .price ins {
  text-decoration: none;
}

.eltd-woocommerce-page .product .eltd-out-of-stock,
.eltd-woocommerce-page .product .eltd-onsale,
.woocommerce .product .eltd-out-of-stock,
.woocommerce .product .eltd-onsale {
  position: absolute;
  display: table;
  top: 8px;
  right: 8px;
  line-height: 15px;
  width: 60px;
  height: 60px;
  text-align: center;
  z-index: 100;
  color: #fff;
  background-color: #1ab5c1;
  border-radius: 50%;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

.eltd-woocommerce-page .product .eltd-out-of-stock,
.woocommerce .product .eltd-out-of-stock {
  left: 8px;
  right: auto;
}

.eltd-woocommerce-page .product .eltd-out-of-stock-inner,
.woocommerce .product .eltd-out-of-stock-inner {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
  text-align: left;
}

.eltd-woocommerce-page .product .eltd-onsale-inner,
.woocommerce .product .eltd-onsale-inner {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  line-height: normal;
}

.eltd-woocommerce-page.eltd-woocommerce-columns-4 .products .product,
.woocommerce.columns-4 .products .product {
  width: 24%;
  margin-right: 1.3333333%;
  margin-bottom: 2%;
}

.eltd-woocommerce-page.eltd-woocommerce-columns-4 .products .product:nth-child(4n),
.woocommerce.columns-4 .products .product:nth-child(4n) {
  margin-right: 0;
}

.eltd-woocommerce-page.eltd-woocommerce-columns-4 .products .product:nth-child(4n+1),
.woocommerce.columns-4 .products .product:nth-child(4n+1) {
  clear: both;
}

.eltd-woocommerce-page.eltd-woocommerce-columns-4 .eltd-woocommerce-with-sidebar .products .product,
.woocommerce.columns-4 .eltd-woocommerce-with-sidebar .products .product {
  width: 31.2666%;
  margin-right: 3.1%;
  margin-bottom: 3.1%;
}

.eltd-woocommerce-page.eltd-woocommerce-columns-4 .eltd-woocommerce-with-sidebar .products .product:nth-child(3n),
.woocommerce.columns-4 .eltd-woocommerce-with-sidebar .products .product:nth-child(3n) {
  margin: 0;
}

.eltd-woocommerce-page.eltd-woocommerce-columns-4 .eltd-woocommerce-with-sidebar .products .product:nth-child(3n+1),
.woocommerce.columns-4 .eltd-woocommerce-with-sidebar .products .product:nth-child(3n+1) {
  clear: both;
}

.eltd-woocommerce-page.eltd-woocommerce-columns-4 .eltd-woocommerce-with-sidebar .products .product:nth-child(4n+1),
.woocommerce.columns-4 .eltd-woocommerce-with-sidebar .products .product:nth-child(4n+1) {
  clear: none;
}

.eltd-woocommerce-page.eltd-woocommerce-columns-3 .products .product,
.woocommerce.columns-3 .products .product {
  width: 32%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.eltd-woocommerce-page.eltd-woocommerce-columns-3 .products .product:nth-child(3n),
.woocommerce.columns-3 .products .product:nth-child(3n) {
  margin: 0;
}

.eltd-woocommerce-page.eltd-woocommerce-columns-3 .products .product:nth-child(3n+1),
.woocommerce.columns-3 .products .product:nth-child(3n+1) {
  clear: both;
}

.eltd-woocommerce-page.eltd-woocommerce-columns-3 .eltd-woocommerce-with-sidebar .products .product,
.woocommerce.columns-3 .eltd-woocommerce-with-sidebar .products .product {
  width: 49%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.eltd-woocommerce-page.eltd-woocommerce-columns-3 .eltd-woocommerce-with-sidebar .products .product:nth-child(2n),
.woocommerce.columns-3 .eltd-woocommerce-with-sidebar .products .product:nth-child(2n) {
  margin-right: 0;
}

.eltd-woocommerce-page.eltd-woocommerce-columns-3 .eltd-woocommerce-with-sidebar .products .product:nth-child(2n+1),
.woocommerce.columns-3 .eltd-woocommerce-with-sidebar .products .product:nth-child(2n+1) {
  clear: both;
}

.eltd-woocommerce-page.eltd-woocommerce-columns-3 .eltd-woocommerce-with-sidebar .products .product:nth-child(3n+1),
.woocommerce.columns-3 .eltd-woocommerce-with-sidebar .products .product:nth-child(3n+1) {
  clear: none;
}

/* Woocommerce product list - end
========================================================================== */
/* Woocommerce rating - begin
========================================================================== */
.eltd-woocommerce-page ul.products .product .star-rating,
.woocommerce ul.products .product .star-rating {
  display: none;
}

.eltd-woocommerce-page .star-rating,
.woocommerce .star-rating {
  display: inline-block;
  font-family: 'simple-line-icons';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: normal;
  overflow: hidden;
  position: relative;
  color: #c8c8c8;
  margin: 0 0 8px;
}

.eltd-woocommerce-page .star-rating:before,
.woocommerce .star-rating:before {
  content: "\e09b\e09b\e09b\e09b\e09b";
}

.eltd-woocommerce-page .star-rating span,
.woocommerce .star-rating span {
  color: #1ab5c1;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.eltd-woocommerce-page .star-rating span:before,
.woocommerce .star-rating span:before {
  content: "\e09b\e09b\e09b\e09b\e09b";
}

.eltd-woocommerce-page .star-rating strong,
.woocommerce .star-rating strong {
  display: none;
}

/* Woocommerce rating - end
========================================================================== */
/* Woocommerce pagination - begin
========================================================================== */
.woocommerce-pagination {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin-bottom: 30px;
}

.woocommerce-pagination .page-numbers {
  display: inline-block;
  vertical-align: middle;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.woocommerce-pagination .page-numbers li {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0 2px 4px 2px;
  float: left;
}

.woocommerce-pagination .page-numbers li > a,
.woocommerce-pagination .page-numbers li > span {
  position: relative;
  display: inline-block;
  width: 47px;
  height: 47px;
  line-height: 47px;
  margin: 0;
  color: #646464;
  background-color: transparent;
  border: 1px solid;
  border-color: #e6e6e6;
  font-size: 14px;
  font-weight: 400;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  text-shadow: none;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  box-sizing: content-box;
  float: left;
}

.woocommerce-pagination .page-numbers li span.current {
  color: #fff;
  background-color: #1ab5c1;
  border-color: #1ab5c1;
}

.woocommerce-pagination .page-numbers li a:hover,
.woocommerce-pagination .page-numbers li span:hover,
.woocommerce-pagination .page-numbers li span.current:hover {
  background-color: #1ab5c1;
  color: #fff;
  border-color: #1ab5c1;
}

/* Woocommerce pagination - end
========================================================================== */
/* Woocommerce single product - begin
========================================================================== */
.eltd-single-product-images {
  width: 45%;
  margin-right: 5%;
  display: inline-block;
  float: left;
}

.eltd-single-product-images .images {
  position: relative;
}

.eltd-single-product-images a {
  display: inline-block;
  vertical-align: middle;
}

.eltd-single-product-images .thumbnails a {
  float: left;
  width: 32%;
  margin-top: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.eltd-single-product-images .thumbnails a:nth-child(3n) {
  margin-right: 0;
}

.eltd-single-product-summary {
  width: 50%;
  display: inline-block;
  float: left;
}

.eltd-single-product-summary .eltd-single-product-categories {
  font-family: "Courgette", cursive;
  font-size: 60px;
  color: #1ab5c1;
  text-rendering: optimizeLegibility;
  margin-bottom: 5px;
}

.eltd-single-product-summary .eltd-single-product-categories a {
  color: #1ab5c1;
}

.eltd-single-product-summary .eltd-single-product-price {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 28px;
  padding: 13px 10px;
}

.eltd-single-product-summary .eltd-single-product-price > div {
  float: left;
  width: auto;
  margin: 0 14px;
}

.eltd-single-product-summary .eltd-single-product-price > div:first-child {
  margin-left: 0;
}

.eltd-single-product-summary .eltd-single-product-price .star-rating,
.eltd-single-product-summary .eltd-single-product-price .woocommerce-review-link {
  vertical-align: middle;
  display: inline-block;
  margin-right: 22px;
  margin-bottom: 0;
}

.eltd-single-product-summary .eltd-single-product-price .woocommerce-review-link {
  font-style: italic;
  color: #646464;
  font-size: 16px;
  line-height: 24px;
  display: none;
}

.eltd-single-product-summary .eltd-single-product-price .woocommerce-review-link:hover {
  color: #1ab5c1;
}

.eltd-single-product-summary .eltd-single-product-price .eltd-social-share-holder {
  float: right;
  margin: 0;
  right: -20px;
}

.eltd-single-product-summary .eltd-single-product-price .eltd-social-share-holder .eltd-social-share-dropdown-opener {
  right: -65px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.eltd-single-product-summary .eltd-single-product-price .eltd-social-share-holder .eltd-social-share-title {
  display: none;
}

.eltd-single-product-summary .eltd-single-product-price .eltd-social-share-holder .eltd-social-share-dropdown-opener i {
  color: #000;
}

.eltd-single-product-summary .eltd-single-product-price .eltd-social-share-holder:hover .eltd-social-share-dropdown-opener {
  right: 0;
}

.eltd-single-product-summary .eltd-single-product-price .eltd-social-share-holder:hover .eltd-social-share-dropdown {
  margin-left: 0;
}

.eltd-single-product-summary .eltd-single-product-price .eltd-social-share-holder:hover .eltd-social-share-dropdown ul li a {
  color: #000;
}

.eltd-single-product-summary .eltd-single-product-price .price {
  margin: 0;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  position: relative;
  top: 6px;
}

.eltd-single-product-summary .eltd-single-product-price .price del {
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.eltd-single-product-summary .eltd-single-product-price .price del:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #1ab5c1;
  position: absolute;
  top: 50%;
}

.eltd-single-product-summary .eltd-single-product-price .price span {
  vertical-align: middle;
}

.eltd-single-product-summary .eltd-single-product-add-to-cart {
  padding: 16px 50px;
}

.eltd-single-product-summary .eltd-single-product-add-to-cart i {
  font-size: 18px;
}

.eltd-single-product-summary form.cart table {
  margin-bottom: 10px;
}

.eltd-single-product-summary form.cart .label {
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #1ab5c1;
  letter-spacing: 1px;
}

.eltd-single-product-summary form.cart .value select {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.eltd-single-product-summary form.cart .reset_variations {
  font-style: italic;
  color: #646464;
  margin-left: 10px;
}

.eltd-single-product-summary form.cart .reset_variations:hover {
  color: #1ab5c1;
}

.eltd-single-product-summary form.cart tr {
  border-color: #e6e6e6;
}

.eltd-single-product-summary form.cart .price {
  display: table-cell;
  width: auto;
}

.eltd-single-product-summary form.cart .eltd-quantity-control {
  border-left: 0;
}

.eltd-single-product-summary .eltd-single-product-title {
  margin: 0 0 13px;
}

.eltd-single-product-summary .price {
  margin-bottom: 15px;
}

.eltd-single-product-summary .cart {
  margin: 40px 0 46px;
}

.eltd-single-product-summary .product_meta {
  margin-bottom: 60px;
}

.eltd-single-product-summary .product_meta > span {
  display: block;
  margin-bottom: 15px;
}

.eltd-single-product-summary .product_meta > span > span {
  margin-right: 10px;
}

.eltd-single-product-summary .product_meta span, .eltd-single-product-summary .product_meta a {
  font-family: "Poppins", sans-serif;
  color: #939598;
  font-size: 13px;
  text-transform: none;
  font-weight: normal;
  line-height: normal;
}

.eltd-single-product-summary .product_meta span .sku_wrapper-title,
.eltd-single-product-summary .product_meta span .posted_in-title,
.eltd-single-product-summary .product_meta span .tagged_as-title, .eltd-single-product-summary .product_meta a .sku_wrapper-title,
.eltd-single-product-summary .product_meta a .posted_in-title,
.eltd-single-product-summary .product_meta a .tagged_as-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 13px;
  color: #000;
  font-style: normal;
}

.eltd-single-product-summary .single_variation {
  margin: 15px 0;
}

.eltd-single-product-summary .single_variation .price {
  color: #1ab5c1;
  font-family: "Open Sans", sans-serif;
  font-size: 34px;
  display: block;
}

.eltd-woocommerce-page .eltd-tabs.eltd-horizontal {
  clear: both;
}

.eltd-woocommerce-page .eltd-tabs.eltd-horizontal .eltd-tabs-nav {
  display: block;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  vertical-align: middle;
}

.eltd-woocommerce-page .eltd-tabs.eltd-horizontal .eltd-tabs-nav li {
  margin: 0;
  float: left;
  border: 1px solid #eee;
}

.eltd-woocommerce-page .eltd-tabs.eltd-horizontal .eltd-tabs-nav li:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.eltd-woocommerce-page .eltd-tabs.eltd-horizontal .eltd-tabs-nav li:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.eltd-woocommerce-page .eltd-tabs.eltd-horizontal .eltd-tabs-nav li:not(:last-child) {
  border-right: 0;
}

.eltd-woocommerce-page .eltd-tabs.eltd-horizontal .eltd-tabs-nav li a {
  padding: 16px 30px;
  font-family: "Poppins", sans-serif;
  color: #646464;
  display: block;
  text-align: center;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 400;
  line-height: 1em;
  text-transform: capitalize;
  -webkit-transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
}

.eltd-woocommerce-page .eltd-tabs.eltd-horizontal .eltd-tabs-nav li.active a, .eltd-woocommerce-page .eltd-tabs.eltd-horizontal .eltd-tabs-nav li:hover a {
  color: #1ab5c1;
}

.eltd-woocommerce-page .eltd-tab-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding: 10px 0;
}

.eltd-woocommerce-page .eltd-tab-container h2 {
  display: none;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}

.eltd-woocommerce-page .eltd-tab-container .shop_attributes {
  margin: 15px 0;
}

.eltd-woocommerce-page .eltd-tab-container #reviews .commentlist {
  list-style: none;
}

.eltd-woocommerce-page .eltd-tab-container #reviews .commentlist .comment_container {
  min-height: 70px;
  margin-bottom: 10px;
}

.eltd-woocommerce-page .eltd-tab-container #reviews .commentlist .comment_container img {
  width: 70px;
  height: auto;
  display: inline-block;
  float: left;
  margin: 0 15px 5px 0;
}

.eltd-woocommerce-page .eltd-tab-container .comment-form-rating label,
.eltd-woocommerce-page .eltd-tab-container .comment-form-comment label {
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #1ab5c1;
}

.eltd-woocommerce-page .eltd-tab-container .comment-form-rating textarea,
.eltd-woocommerce-page .eltd-tab-container .comment-form-comment textarea {
  background-color: transparent;
  margin: 0 !important;
}

.eltd-woocommerce-page .eltd-tab-container p.comment-form-rating {
  margin-bottom: 25px;
  padding-top: 10px;
}

.eltd-woocommerce-page .eltd-tab-container .comment-respond .comment-reply-title {
  padding-top: 15px;
  margin-bottom: 10px;
}

.eltd-woocommerce-page .eltd-tab-container .comment-form-rating .stars span {
  width: 100%;
  display: block;
}

.eltd-woocommerce-page .eltd-tab-container .comment-form-rating .stars a {
  width: 20%;
  display: inline-block;
  position: relative;
}

.eltd-woocommerce-page .eltd-tab-container .comment-form-rating .stars a:after {
  font-family: "FontAwesome";
  letter-spacing: 2px;
  font-size: 10px;
  position: absolute;
  left: 18px;
}

.eltd-woocommerce-page .eltd-tab-container .comment-form-rating .stars a.active:after, .eltd-woocommerce-page .eltd-tab-container .comment-form-rating .stars a:hover:after {
  color: #1ab5c1;
}

.eltd-woocommerce-page .eltd-tab-container .comment-form-rating .stars .star-1:after {
  content: '\f005';
}

.eltd-woocommerce-page .eltd-tab-container .comment-form-rating .stars .star-2:after {
  content: '\f005\f005';
}

.eltd-woocommerce-page .eltd-tab-container .comment-form-rating .stars .star-3:after {
  content: '\f005\f005\f005';
}

.eltd-woocommerce-page .eltd-tab-container .comment-form-rating .stars .star-4:after {
  content: '\f005\f005\f005\f005';
}

.eltd-woocommerce-page .eltd-tab-container .comment-form-rating .stars .star-5:after {
  content: '\f005\f005\f005\f005\f005';
}

.eltd-woocommerce-page .eltd-tab-container table th {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  padding-left: 20px;
  text-align: left;
  font-weight: 300;
}

.eltd-woocommerce-page .eltd-tab-container table td {
  text-align: left;
  font-size: 14px;
}

.eltd-woocommerce-page .related.products .eltd-related-products-subtitle {
  font-family: "Courgette", cursive;
  color: #1ab5c1;
  text-rendering: optimizeLegibility;
  font-size: 60px;
  line-height: 1em;
  text-transform: none;
}

.eltd-woocommerce-page .related.products .eltd-related-products-title {
  margin-bottom: 26px;
}

/* Woocommerce single product - end
========================================================================== */
/* Woocommerce quantity buttons - begin
========================================================================== */
.eltd-woocommerce-page .eltd-quantity-buttons {
  display: inline-block;
  vertical-align: middle;
  float: left;
  margin-right: 25px;
}

.eltd-woocommerce-page .eltd-quantity-buttons .eltd-quantity-input {
  vertical-align: middle;
  height: 55px;
  width: 54px;
  padding: 0;
  background-color: transparent;
  border: 1px solid #eee;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 55px;
  font-weight: 400;
  float: left;
}

.eltd-woocommerce-page .eltd-quantity-buttons .eltd-quantity-control {
  width: 36px;
  border: 1px solid #eee;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left: 0;
  position: relative;
  vertical-align: middle;
  float: left;
}

.eltd-woocommerce-page .eltd-quantity-buttons .eltd-quantity-control .eltd-quantity-minus,
.eltd-woocommerce-page .eltd-quantity-buttons .eltd-quantity-control .eltd-quantity-plus {
  display: block;
  color: #000;
  background-color: transparent;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
}

.eltd-woocommerce-page .eltd-quantity-buttons .eltd-quantity-control .eltd-quantity-plus {
  border-bottom: 1px solid #eee;
}

/* Woocommerce quantity buttons - end
========================================================================== */
/* Woocommerce message - begin
========================================================================== */
.eltd-woocommerce-page .woocommerce-message,
.eltd-woocommerce-page .woocommerce-info,
.eltd-woocommerce-page .woocommerce-error,
.woocommerce .woocommerce-message,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-error {
  margin-bottom: 45px;
  position: relative;
  display: block;
  padding: 8px 40px;
  background-color: #e6e6e6;
  line-height: 46px;
  color: #1ab5c1;
  font-size: 13px;
  font-weight: 300;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

.eltd-woocommerce-page .woocommerce-message .button,
.eltd-woocommerce-page .woocommerce-info .button,
.eltd-woocommerce-page .woocommerce-error .button,
.woocommerce .woocommerce-message .button,
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-error .button {
  background-color: transparent;
  border: none;
  color: #1ab5c1;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  position: relative;
  outline: none;
  font-style: normal;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  padding: 13px 43px;
  font-size: 12px;
  line-height: 1.7em;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.eltd-woocommerce-page .woocommerce-message .button:before,
.eltd-woocommerce-page .woocommerce-info .button:before,
.eltd-woocommerce-page .woocommerce-error .button:before,
.woocommerce .woocommerce-message .button:before,
.woocommerce .woocommerce-info .button:before,
.woocommerce .woocommerce-error .button:before {
  display: none;
}

.eltd-woocommerce-page .woocommerce-message a,
.woocommerce .woocommerce-message a {
  float: right;
}

/* Woocommerce message - end
========================================================================== */
/* Woocommerce table - begin
========================================================================== */
.eltd-woocommerce-page table.cart tr:last-child,
.woocommerce table.cart tr:last-child {
  border: none;
}

.eltd-woocommerce-page thead th,
.woocommerce thead th {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #1ab5c1;
  padding: 12px 10px;
}

.eltd-woocommerce-page table td,
.woocommerce table td {
  vertical-align: middle;
  text-align: left;
}

.eltd-woocommerce-page td.product-thumbnail img,
.woocommerce td.product-thumbnail img {
  width: 80px;
}

.eltd-woocommerce-page td.product-name,
.woocommerce td.product-name {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

.eltd-woocommerce-page td.product-remove,
.woocommerce td.product-remove {
  border-right: 1px solid #e6e6e6;
}

.eltd-woocommerce-page td.actions,
.woocommerce td.actions {
  padding: 25px 0;
}

.eltd-woocommerce-page td.actions .coupon,
.eltd-woocommerce-page td.actions .eltd-cart-proceed-update,
.woocommerce td.actions .coupon,
.woocommerce td.actions .eltd-cart-proceed-update {
  float: left;
  width: 50%;
  display: inline-block;
  text-align: left;
}

.eltd-woocommerce-page td.actions .eltd-cart-proceed-update,
.woocommerce td.actions .eltd-cart-proceed-update {
  text-align: right;
}

.eltd-woocommerce-page td.actions .eltd-cart-proceed-update a.checkout-button,
.woocommerce td.actions .eltd-cart-proceed-update a.checkout-button {
  display: inline-flex;
}

.eltd-woocommerce-page td.actions .eltd-cart-proceed-update input,
.woocommerce td.actions .eltd-cart-proceed-update input {
  float: right;
  margin-left: 10px;
}

.eltd-woocommerce-page .coupon label,
.woocommerce .coupon label {
  display: none;
}

.eltd-woocommerce-page .coupon input[type="text"].input-text,
.woocommerce .coupon input[type="text"].input-text {
  width: 200px;
}

.eltd-woocommerce-page table.shop_table tfoot tr,
.woocommerce table.shop_table tfoot tr {
  border: 1px solid #e6e6e6;
  border-top: 0;
}

.eltd-woocommerce-page table.shop_table tfoot tr th,
.woocommerce table.shop_table tfoot tr th {
  padding: 12px 15px;
  text-align: left;
  border-right: 1px solid #e6e6e6;
}

.eltd-woocommerce-page table.shop_table tfoot td,
.woocommerce table.shop_table tfoot td {
  padding: 12px 15px;
}

.eltd-woocommerce-page table.shop_table.customer_details tbody tr th,
.woocommerce table.shop_table.customer_details tbody tr th {
  padding: 12px 15px;
  text-align: left;
  border-right: 1px solid #e6e6e6;
}

.eltd-woocommerce-page table.shop_table.customer_details tbody tr td,
.woocommerce table.shop_table.customer_details tbody tr td {
  padding: 12px 15px;
}

.eltd-woocommerce-page table.shop_table.cart td.actions,
.woocommerce table.shop_table.cart td.actions {
  text-align: right;
  border: 0;
}

.eltd-woocommerce-page .cart-collaterals .cart_totals .select2-container,
.woocommerce .cart-collaterals .cart_totals .select2-container {
  width: 100% !important;
}

.eltd-woocommerce-page .cart-collaterals .wc-proceed-to-checkout,
.woocommerce .cart-collaterals .wc-proceed-to-checkout {
  margin: 25px 0;
}

/* Woocommerce table - end
========================================================================== */
/* Woocommerce checkout - begin
========================================================================== */
.eltd-woocommerce-page .woocommerce-checkout {
  margin-bottom: 30px;
}

.eltd-woocommerce-page .woocommerce-checkout h3 {
  font-size: 26px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

.eltd-woocommerce-page .woocommerce-checkout .col2-set:before,
.eltd-woocommerce-page .woocommerce-checkout .col2-set:after {
  content: '';
  display: table;
}

.eltd-woocommerce-page .woocommerce-checkout .col2-set:after {
  clear: both;
}

.eltd-woocommerce-page .woocommerce-checkout .col-1,
.eltd-woocommerce-page .woocommerce-checkout .col-2 {
  width: 49%;
  margin-right: 1%;
  display: inline-block;
  float: left;
}

.eltd-woocommerce-page .woocommerce-checkout .col-1 h3,
.eltd-woocommerce-page .woocommerce-checkout .col-2 h3 {
  margin-bottom: 20px;
}

.eltd-woocommerce-page .woocommerce-checkout .col-1 .form-row,
.eltd-woocommerce-page .woocommerce-checkout .col-2 .form-row {
  width: 49%;
  margin-right: 2%;
  margin-bottom: 20px;
  float: left;
}

.eltd-woocommerce-page .woocommerce-checkout .col-1 .form-row-last,
.eltd-woocommerce-page .woocommerce-checkout .col-2 .form-row-last {
  margin-right: 0;
}

.eltd-woocommerce-page .woocommerce-checkout .col-1 .form-row-wide,
.eltd-woocommerce-page .woocommerce-checkout .col-1 .form-row.notes,
.eltd-woocommerce-page .woocommerce-checkout .col-2 .form-row-wide,
.eltd-woocommerce-page .woocommerce-checkout .col-2 .form-row.notes {
  width: 100%;
}

.eltd-woocommerce-page .woocommerce-checkout .col-1 .form-row label,
.eltd-woocommerce-page .woocommerce-checkout .col-2 .form-row label {
  display: block;
  margin: 0 0 5px;
}

.eltd-woocommerce-page .woocommerce-checkout .col-2 {
  margin-left: 1%;
  margin-right: 0;
}

.eltd-woocommerce-page .woocommerce-checkout .woocommerce-checkout-payment {
  margin: 35px 0 10px;
}

.eltd-woocommerce-page .woocommerce-checkout .payment_methods {
  list-style: none;
  margin: 0 0 30px;
}

.eltd-woocommerce-page .woocommerce-checkout .payment_methods .wc_payment_method {
  display: block;
  margin: 6px 0;
}

.eltd-woocommerce-page .woocommerce-checkout .payment_methods .payment_method_paypal img {
  vertical-align: middle;
  max-width: 40px;
}

/* Woocommerce checkout - end
========================================================================== */
/* Woocommerce my account - begin
========================================================================== */
.eltd-woocommerce-page .woocommerce-MyAccount-navigation ul {
  list-style: none;
  margin: 0;
}

.eltd-woocommerce-page .woocommerce-MyAccount-navigation ul li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px 10px 0;
}

.eltd-woocommerce-page .woocommerce-MyAccount-navigation ul li:last-child {
  margin-right: 0;
}

.eltd-woocommerce-page .woocommerce-MyAccount-navigation ul li a {
  font-family: "Poppins", sans-serif;
  color: #888;
}

.eltd-woocommerce-page .woocommerce-MyAccount-navigation ul li a:hover {
  color: #1ab5c1;
}

.eltd-woocommerce-page .addresses .address {
  width: 50%;
  display: inline-block;
  float: left;
}

.eltd-woocommerce-page .addresses .address .edit {
  margin-bottom: 10px;
  display: inline-block;
}

/* Woocommerce my account - end
========================================================================== */
/* Woocommerce widget - begin
========================================================================== */
.eltd-woocommerce-page aside.eltd-sidebar {
  text-align: initial;
}

.widget.woocommerce {
  clear: both;
}

.widget.woocommerce > h4 {
  margin: 0 0 20px;
  font-size: 17px;
}

.widget.woocommerce.widget_rating_filter, .widget.woocommerce.widget_shopping_cart, .widget.woocommerce.widget_layered_nav, .widget.woocommerce.widget_layered_nav_filters, .widget.woocommerce.widget_product_categories, .widget.woocommerce.widget_products, .widget.woocommerce.widget_recently_viewed_products, .widget.woocommerce.widget_recent_reviews, .widget.woocommerce.widget_top_rated_products {
  margin: 0 0 40px;
}

.widget.woocommerce.widget_rating_filter ul, .widget.woocommerce.widget_shopping_cart ul, .widget.woocommerce.widget_layered_nav ul, .widget.woocommerce.widget_layered_nav_filters ul, .widget.woocommerce.widget_product_categories ul, .widget.woocommerce.widget_products ul, .widget.woocommerce.widget_recently_viewed_products ul, .widget.woocommerce.widget_recent_reviews ul, .widget.woocommerce.widget_top_rated_products ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.widget.woocommerce.widget_rating_filter ul li, .widget.woocommerce.widget_shopping_cart ul li, .widget.woocommerce.widget_layered_nav ul li, .widget.woocommerce.widget_layered_nav_filters ul li, .widget.woocommerce.widget_product_categories ul li, .widget.woocommerce.widget_products ul li, .widget.woocommerce.widget_recently_viewed_products ul li, .widget.woocommerce.widget_recent_reviews ul li, .widget.woocommerce.widget_top_rated_products ul li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 0;
  margin: 0 0 10px;
  clear: both;
}

.widget.woocommerce.widget_rating_filter ul li:last-child, .widget.woocommerce.widget_shopping_cart ul li:last-child, .widget.woocommerce.widget_layered_nav ul li:last-child, .widget.woocommerce.widget_layered_nav_filters ul li:last-child, .widget.woocommerce.widget_product_categories ul li:last-child, .widget.woocommerce.widget_products ul li:last-child, .widget.woocommerce.widget_recently_viewed_products ul li:last-child, .widget.woocommerce.widget_recent_reviews ul li:last-child, .widget.woocommerce.widget_top_rated_products ul li:last-child {
  margin: 0;
}

.widget.woocommerce.widget_rating_filter ul li ul, .widget.woocommerce.widget_shopping_cart ul li ul, .widget.woocommerce.widget_layered_nav ul li ul, .widget.woocommerce.widget_layered_nav_filters ul li ul, .widget.woocommerce.widget_product_categories ul li ul, .widget.woocommerce.widget_products ul li ul, .widget.woocommerce.widget_recently_viewed_products ul li ul, .widget.woocommerce.widget_recent_reviews ul li ul, .widget.woocommerce.widget_top_rated_products ul li ul {
  margin: 10px 0 0 10px;
}

.widget.woocommerce.widget_rating_filter ul li a {
  position: relative;
  display: block;
}

.widget.woocommerce.widget_rating_filter ul li a .star-rating {
  vertical-align: middle;
}

.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content ul li img {
  display: block;
  max-width: 84px;
  margin: 0 70% 13px 0;
}

.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content ul li a:not(.remove) {
  display: block;
  color: #000;
}

.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content ul li a:not(.remove):hover {
  color: #1ab5c1;
}

.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content ul li .remove {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0;
  line-height: 1;
  color: #000;
}

.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content ul li .remove:after {
  position: relative;
  display: block;
  padding: 0 3px;
  font-family: 'Ionicons';
  content: "\f404";
  font-size: 30px;
  line-height: 20px;
}

.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content ul li .remove:hover {
  color: #1ab5c1;
}

.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .variation {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .variation > * {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .variation > * p {
  margin: 0;
}

.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .variation dt {
  color: #646464;
  font-size: inherit;
  font-weight: 500;
}

.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .total {
  margin: 17px 0 13px;
}

.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .total strong {
  color: #646464;
}

.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .buttons {
  margin: 10px 0 0;
}

.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .buttons a {
  padding: 0 23px;
}

.widget.woocommerce.widget_shopping_cart .widget_shopping_cart_content .buttons a:first-child {
  margin: 0 5px 0 0;
}

.widget.woocommerce.widget_layered_nav a, .widget.woocommerce.widget_layered_nav_filters a {
  color: #646464;
}

.widget.woocommerce.widget_layered_nav a:hover, .widget.woocommerce.widget_layered_nav_filters a:hover {
  color: #1ab5c1;
}

.widget.woocommerce.widget_price_filter {
  border: 1px solid #ebebeb;
  border-radius: 2px;
  padding: 24px 17px;
  margin: 18px 0 45px;
}

.widget.woocommerce.widget_price_filter .price_slider_wrapper {
  margin: 20px 0 0;
}

.widget.woocommerce.widget_price_filter .price_slider_wrapper .price_slider {
  position: relative;
  text-align: left;
  height: 3px;
  background-color: #e6e6e6;
  margin: 0 10px 15px;
}

.widget.woocommerce.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-range {
  top: 0;
  position: absolute;
  display: block;
  height: 100%;
  background-color: #1ab5c1;
}

.widget.woocommerce.widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  background-color: #333333;
  cursor: ew-resize;
  width: 7px;
  height: 7px;
  bottom: -3px;
  border: 1px solid #333333;
  margin-left: -6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.widget.woocommerce.widget_price_filter .price_slider_wrapper .price_slider_amount {
  text-align: center;
}

.widget.woocommerce.widget_price_filter .price_slider_wrapper .button {
  width: 70%;
  float: none;
  background-color: #ebebeb;
  border: none;
  color: #444;
  overflow: hidden;
  display: inline-block;
  position: relative;
  outline: none;
  font-style: normal;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  padding: 11px 15px;
  font-size: 10px;
  line-height: 1.7em;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  margin: 4px 0 12px;
}

.widget.woocommerce.widget_price_filter .price_slider_wrapper .button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -150%, 0);
  -moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -150%, 0);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -150%, 0);
}

.widget.woocommerce.widget_price_filter .price_slider_wrapper .button:hover {
  cursor: pointer;
}

.widget.woocommerce.widget_price_filter .price_slider_wrapper .button:hover:before, .widget.woocommerce.widget_price_filter .price_slider_wrapper .button:focus:before {
  -webkit-animation: bling 0.8s forwards ease;
  -moz-animation: bling 0.8s forwards ease;
  animation: bling 0.8s forwards ease;
}

.widget.woocommerce.widget_price_filter .price_slider_wrapper .price_label {
  float: none;
  clear: both;
  color: #a0a0a0;
}

.widget.woocommerce.widget_product_categories ul {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid #eee;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.widget.woocommerce.widget_product_categories ul li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 13px 12px;
  margin: 0;
  border-bottom: 1px solid #eee;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.widget.woocommerce.widget_product_categories ul li:last-child {
  border: 0;
}

.widget.woocommerce.widget_product_categories ul li ul {
  padding: 6px 0 0;
  margin: 0;
  border: 0;
}

.widget.woocommerce.widget_product_categories ul li ul li {
  padding: 6px 0 6px 12px;
  border: 0;
}

.widget.woocommerce.widget_product_categories a {
  color: #1ab5c1;
}

.widget.woocommerce.widget_product_categories a:hover {
  color: #000;
}

.widget.woocommerce.widget_products ul, .widget.woocommerce.widget_recently_viewed_products ul, .widget.woocommerce.widget_recent_reviews ul, .widget.woocommerce.widget_top_rated_products ul {
  border: 1px solid #eee;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.widget.woocommerce.widget_products ul li, .widget.woocommerce.widget_recently_viewed_products ul li, .widget.woocommerce.widget_recent_reviews ul li, .widget.woocommerce.widget_top_rated_products ul li {
  padding: 20px 12px;
  margin: 0;
  border-bottom: 1px solid #eee;
  border-top: 0;
  min-height: 124px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.widget.woocommerce.widget_products ul li:last-child, .widget.woocommerce.widget_recently_viewed_products ul li:last-child, .widget.woocommerce.widget_recent_reviews ul li:last-child, .widget.woocommerce.widget_top_rated_products ul li:last-child {
  border: 0;
}

.widget.woocommerce.widget_products ul li a, .widget.woocommerce.widget_recently_viewed_products ul li a, .widget.woocommerce.widget_recent_reviews ul li a, .widget.woocommerce.widget_top_rated_products ul li a {
  color: #000;
  line-height: 20px;
}

.widget.woocommerce.widget_products ul li a:hover, .widget.woocommerce.widget_recently_viewed_products ul li a:hover, .widget.woocommerce.widget_recent_reviews ul li a:hover, .widget.woocommerce.widget_top_rated_products ul li a:hover {
  color: #1ab5c1;
}

.widget.woocommerce.widget_products ul li a img, .widget.woocommerce.widget_recently_viewed_products ul li a img, .widget.woocommerce.widget_recent_reviews ul li a img, .widget.woocommerce.widget_top_rated_products ul li a img {
  position: absolute;
  top: 20px;
  right: 12px;
  width: 100%;
  max-width: 84px;
}

.widget.woocommerce.widget_products ul li a span, .widget.woocommerce.widget_recently_viewed_products ul li a span, .widget.woocommerce.widget_recent_reviews ul li a span, .widget.woocommerce.widget_top_rated_products ul li a span {
  position: relative;
  display: block;
  padding: 0 90px 0 0;
  line-height: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.widget.woocommerce.widget_products ul li > *:not(a), .widget.woocommerce.widget_recently_viewed_products ul li > *:not(a), .widget.woocommerce.widget_recent_reviews ul li > *:not(a), .widget.woocommerce.widget_top_rated_products ul li > *:not(a) {
  margin: 0 90px 0 0;
  line-height: 20px;
}

.widget.woocommerce.widget_products ul li .eltd-product-price, .widget.woocommerce.widget_recently_viewed_products ul li .eltd-product-price, .widget.woocommerce.widget_recent_reviews ul li .eltd-product-price, .widget.woocommerce.widget_top_rated_products ul li .eltd-product-price {
  position: relative;
  display: block;
  margin: 13px 0 0;
}

.widget.woocommerce.widget_products ul li .eltd-product-rating, .widget.woocommerce.widget_recently_viewed_products ul li .eltd-product-rating, .widget.woocommerce.widget_recent_reviews ul li .eltd-product-rating, .widget.woocommerce.widget_top_rated_products ul li .eltd-product-rating {
  position: relative;
  display: block;
  margin: 9px 0 0;
}

.widget.woocommerce.widget_products ul li .eltd-product-rating .star-rating, .widget.woocommerce.widget_recently_viewed_products ul li .eltd-product-rating .star-rating, .widget.woocommerce.widget_recent_reviews ul li .eltd-product-rating .star-rating, .widget.woocommerce.widget_top_rated_products ul li .eltd-product-rating .star-rating {
  margin-top: 4px;
}

.widget.woocommerce.widget_products ul li .star-rating, .widget.woocommerce.widget_recently_viewed_products ul li .star-rating, .widget.woocommerce.widget_recent_reviews ul li .star-rating, .widget.woocommerce.widget_top_rated_products ul li .star-rating {
  position: relative;
  margin-top: 14px;
  margin-bottom: 4px;
}

.widget.woocommerce.widget_products ul li .star-rating span, .widget.woocommerce.widget_recently_viewed_products ul li .star-rating span, .widget.woocommerce.widget_recent_reviews ul li .star-rating span, .widget.woocommerce.widget_top_rated_products ul li .star-rating span {
  max-width: 100px;
}

.widget.woocommerce.widget_products ul li .amount, .widget.woocommerce.widget_recently_viewed_products ul li .amount, .widget.woocommerce.widget_recent_reviews ul li .amount, .widget.woocommerce.widget_top_rated_products ul li .amount {
  display: block;
  color: #939598;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 1em;
  font-weight: 400;
}

.widget.woocommerce.widget_products ul li del,
.widget.woocommerce.widget_products ul li ins, .widget.woocommerce.widget_recently_viewed_products ul li del,
.widget.woocommerce.widget_recently_viewed_products ul li ins, .widget.woocommerce.widget_recent_reviews ul li del,
.widget.woocommerce.widget_recent_reviews ul li ins, .widget.woocommerce.widget_top_rated_products ul li del,
.widget.woocommerce.widget_top_rated_products ul li ins {
  display: inline-block;
  vertical-align: middle;
}

.widget.woocommerce.widget_products ul li del span,
.widget.woocommerce.widget_products ul li ins span, .widget.woocommerce.widget_recently_viewed_products ul li del span,
.widget.woocommerce.widget_recently_viewed_products ul li ins span, .widget.woocommerce.widget_recent_reviews ul li del span,
.widget.woocommerce.widget_recent_reviews ul li ins span, .widget.woocommerce.widget_top_rated_products ul li del span,
.widget.woocommerce.widget_top_rated_products ul li ins span {
  color: inherit;
}

.widget.woocommerce.widget_products ul li ins, .widget.woocommerce.widget_recently_viewed_products ul li ins, .widget.woocommerce.widget_recent_reviews ul li ins, .widget.woocommerce.widget_top_rated_products ul li ins {
  text-decoration: none;
}

.widget.woocommerce.widget_recent_reviews a {
  display: block;
  padding: 0 90px 0 0;
}

.widget.woocommerce.widget_recent_reviews .reviewer {
  display: block;
  clear: both;
}

.widget.woocommerce.widget_product_tag_cloud .tagcloud a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-family: inherit;
  color: #000;
  background-color: transparent;
  font-size: 12px !important;
  font-weight: 500;
  letter-spacing: 1px;
}

.widget.woocommerce.widget_product_tag_cloud .tagcloud a:hover {
  color: #1ab5c1;
}

.widget.woocommerce.widget_product_tag_cloud .tagcloud a:after {
  content: '/';
  color: #000;
  margin: 0 0 0 4px;
}

.widget.woocommerce.widget_product_tag_cloud .tagcloud a:last-child:after {
  display: none;
}

.widget.woocommerce.widget_product_search {
  margin: 0 0 45px;
}

.widget.woocommerce.widget_product_search > h4 {
  margin: 0 0 23px;
}

.widget.woocommerce.widget_product_search .woocommerce-product-search {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.widget.woocommerce.widget_product_search .woocommerce-product-search input[type="search"] {
  width: 100%;
  padding: 9px 20px 9px 45px;
  font-size: 12px;
  line-height: 18px;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #ebebeb;
  border-radius: 20px;
  text-decoration: none;
  outline: 0;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.widget.woocommerce.widget_product_search .woocommerce-product-search button {
  position: absolute;
  height: 100%;
  left: 20px;
  top: 0;
  padding: 2px;
  color: #1ab5c1;
  background-color: transparent;
  border: none;
}

.widget.woocommerce.widget_product_search .woocommerce-product-search button span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  line-height: inherit;
  color: #333;
}

.widget.woocommerce.widget_product_search .woocommerce-product-search button::-webkit-input-placeholder {
  color: #333;
}

.widget.woocommerce.widget_product_search .woocommerce-product-search button:-ms-input-placeholder {
  color: #333;
}

.widget.woocommerce.widget_product_search .woocommerce-product-search button::-moz-placeholder {
  color: #333;
}

/* Woocommerce widget - end
========================================================================== */
/* Woocommerce buttons - begin
========================================================================== */
.eltd-woocommerce-page a.button,
.eltd-woocommerce-page input.button,
.woocommerce a.button,
.woocommerce input.button {
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: #1ab5c1;
  overflow: hidden;
  -webkit-appearance: none;
  display: inline-block;
  position: relative;
  outline: none;
  font-style: normal;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  padding: 13px 43px;
  font-size: 12px;
  line-height: 1.7em;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.eltd-woocommerce-page a.button:before,
.eltd-woocommerce-page input.button:before,
.woocommerce a.button:before,
.woocommerce input.button:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  content: '';
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -150%, 0);
  -moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -150%, 0);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -150%, 0);
}

.eltd-woocommerce-page a.button:hover:before, .eltd-woocommerce-page a.button:focus:before,
.eltd-woocommerce-page input.button:hover:before,
.eltd-woocommerce-page input.button:focus:before,
.woocommerce a.button:hover:before,
.woocommerce a.button:focus:before,
.woocommerce input.button:hover:before,
.woocommerce input.button:focus:before {
  -webkit-animation: blingWoo 0.8s forwards ease;
  -moz-animation: blingWoo 0.8s forwards ease;
  animation: blingWoo 0.8s forwards ease;
}

@-webkit-keyframes blingWoo {
  100% {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 150%, 0);
    -moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 150%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 150%, 0);
  }
}

@keyframes blingWoo {
  100% {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 150%, 0);
    -moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 150%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 150%, 0);
  }
}

.eltd-woocommerce-page .eltd-single-product-add-to-cart,
.woocommerce .eltd-single-product-add-to-cart {
  font-size: 13px;
  letter-spacing: 2px;
  padding: 18px 50px;
}

.eltd-woocommerce-page .eltd-single-product-add-to-cart span:not(.eltd-btn-text),
.woocommerce .eltd-single-product-add-to-cart span:not(.eltd-btn-text) {
  font-size: 16px !important;
}

/* Woocommerce buttons - end
========================================================================== */
.eltd-woocommerce-page input[type="text"],
.eltd-woocommerce-page input[type="email"],
.eltd-woocommerce-page input[type="tel"],
.eltd-woocommerce-page input[type="password"],
.eltd-woocommerce-page textarea,
.woocommerce input[type="text"],
.woocommerce input[type="email"],
.woocommerce input[type="tel"],
.woocommerce input[type="password"],
.woocommerce textarea {
  -webkit-appearance: none;
  width: 100%;
  padding: 13px 17px;
  outline: 0;
  resize: none;
  font-family: inherit;
  line-height: 18px;
  background-color: transparent;
  color: #7f8385;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  font-size: 13px;
}

/* Dropdown Shopping Cart */
.eltd-shopping-cart-outer {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.eltd-shopping-cart-outer .eltd-shopping-cart-inner {
  display: table;
  height: 100%;
}

.eltd-shopping-cart-outer .eltd-shopping-cart-header {
  display: table-cell;
  vertical-align: middle;
}

.eltd-shopping-cart-outer .eltd-shopping-cart-header .eltd-header-cart {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}

.eltd-shopping-cart-outer .eltd-shopping-cart-header .eltd-header-cart i {
  color: #1ab5c1;
  font-size: 15px;
  -webkit-transition: inital;
  -moz-transition: inital;
  transition: inital;
}

.eltd-shopping-cart-outer .eltd-shopping-cart-header .eltd-header-cart-span {
  display: inline-block;
  position: absolute;
  top: 0;
  right: -9px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  background-color: #1ab5c1;
  font-size: 11px;
  color: #fff;
}

.eltd-shopping-cart-dropdown {
  position: absolute;
  left: auto;
  right: -1px;
  top: 100%;
  z-index: 1000;
  width: 300px;
  visibility: hidden;
  background-color: #fff;
  border: 1px solid #eee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.eltd-shopping-cart-dropdown ul {
  margin: 0;
  padding: 0;
}

.eltd-shopping-cart-dropdown ul li {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  padding: 20px 12px;
}

.eltd-shopping-cart-dropdown ul li a {
  display: block;
  color: #000;
}

.eltd-shopping-cart-dropdown ul li a:hover {
  color: #1ab5c1;
}

.eltd-shopping-cart-dropdown ul li .eltd-item-image-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  width: 84px;
}

.eltd-shopping-cart-dropdown ul li .eltd-item-image-holder img {
  vertical-align: middle;
}

.eltd-shopping-cart-dropdown .eltd-item-info-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  padding: 0 5px 0 20px;
  text-align: left;
}

.eltd-shopping-cart-dropdown .eltd-item-info-holder .eltd-item-left {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.eltd-shopping-cart-dropdown .eltd-item-info-holder .eltd-item-left .amount,
.eltd-shopping-cart-dropdown .eltd-item-info-holder .eltd-item-left .eltd-quantity {
  display: block;
  font-family: "Poppins", sans-serif;
  line-height: 1em;
  color: #939598;
  margin: 16px 0 0;
}

.eltd-shopping-cart-dropdown .eltd-item-info-holder .eltd-item-right {
  position: absolute;
  top: 2px;
  right: 22px;
}

.eltd-shopping-cart-dropdown .eltd-item-info-holder .eltd-item-right .remove {
  line-height: 18px;
  font-size: 22px;
  color: #000;
}

.eltd-shopping-cart-dropdown .eltd-item-info-holder .eltd-item-right .remove:hover {
  color: #1ab5c1;
}

.eltd-shopping-cart-dropdown .eltd-empty-cart {
  padding: 20px 12px;
  color: #000;
}

.eltd-shopping-cart-dropdown .eltd-cart-list a > img {
  display: block;
}

.eltd-shopping-cart-dropdown .eltd-cart-bottom {
  padding: 20px 12px;
  border-top: 1px solid #eee;
}

.eltd-shopping-cart-dropdown .eltd-cart-bottom .eltd-subtotal-holder {
  margin: 0 0 20px 0;
}

.eltd-shopping-cart-dropdown .eltd-cart-bottom .eltd-subtotal-holder .eltd-total {
  float: left;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #000;
}

.eltd-shopping-cart-dropdown .eltd-cart-bottom .eltd-subtotal-holder .eltd-total-amount {
  float: right;
  font-size: 16px;
  color: #000;
}

.eltd-shopping-cart-dropdown .eltd-cart-bottom .checkout,
.eltd-shopping-cart-dropdown .eltd-cart-bottom .view-cart {
  height: 40px;
  line-height: 36px;
  padding: 0 20px;
}

.eltd-shopping-cart-dropdown .eltd-cart-bottom .checkout span,
.eltd-shopping-cart-dropdown .eltd-cart-bottom .view-cart span {
  top: auto;
}

.eltd-shopping-cart-dropdown .eltd-cart-bottom .checkout span:not(.eltd-btn-text),
.eltd-shopping-cart-dropdown .eltd-cart-bottom .view-cart span:not(.eltd-btn-text) {
  top: 50%;
  right: 10px;
  margin: 0;
  font-size: 14px;
}

.eltd-shopping-cart-dropdown .eltd-cart-bottom .view-cart {
  float: left;
}

.eltd-shopping-cart-dropdown .eltd-cart-bottom .checkout {
  float: right;
  padding: 0 30px 0 20px;
}

.eltd-shopping-cart-outer:hover .eltd-shopping-cart-dropdown {
  display: block;
  visibility: visible;
  text-align: left;
}

.eltd-top-bar .eltd-shopping-cart-outer {
  float: left;
  position: relative;
  height: 40px;
  line-height: 40px;
}

.eltd-top-bar .eltd-shopping-cart-outer .eltd-shopping-cart-inner {
  display: block;
  height: 100%;
}

.eltd-top-bar .eltd-shopping-cart-outer .eltd-shopping-cart-header {
  height: 100%;
}

@media only screen and (min-width: 1000px) {
  .eltd-dark-header .eltd-page-header > div:not(.eltd-sticky-header) .eltd-shopping-cart-header .eltd-header-cart > i,
  .eltd-dark-header .eltd-page-header > div:not(.eltd-sticky-header) .eltd-shopping-cart-header .eltd-header-cart > span {
    color: #000000;
  }
  .eltd-light-header .eltd-page-header > div:not(.eltd-sticky-header) .eltd-shopping-cart-header .eltd-header-cart > i,
  .eltd-light-header .eltd-page-header > div:not(.eltd-sticky-header) .eltd-shopping-cart-header .eltd-header-cart > span {
    color: #ffffff;
  }
  .eltd-dark-header .eltd-page-header > div.eltd-sticky-header .eltd-shopping-cart-header .eltd-header-cart > i,
  .eltd-dark-header .eltd-page-header > div.eltd-sticky-header .eltd-shopping-cart-header .eltd-header-cart > span,
  .eltd-light-header .eltd-page-header > div.eltd-sticky-header .eltd-shopping-cart-header .eltd-header-cart > i,
  .eltd-light-header .eltd-page-header > div.eltd-sticky-header .eltd-shopping-cart-header .eltd-header-cart > span {
    color: #fff;
  }
}

.eltd-vertical-align-containers .eltd-shopping-cart-header {
  padding: 0 4px 0 18px;
}

.eltd-vertical-align-containers .eltd-shopping-cart-header i {
  position: relative;
}

.eltd-vertical-menu-area .eltd-shopping-cart-dropdown {
  right: auto;
}

/* ==========================================================================
# Woocommerce style - end
========================================================================== */
/* ==========================================================================
# Select 2 - begin
========================================================================== */
/*
Version: 3.5.4 Timestamp: Sun Aug 30 13:30:32 EDT 2015
*/
.select2-container {
  margin: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  /*
	  Force border-box so that % widths fit the parent
	  container without overlap because of margin/padding.
	  More Info : http://www.quirksmode.org/css/box.html
	*/
  -webkit-box-sizing: border-box;
  /* webkit */
  -moz-box-sizing: border-box;
  /* firefox */
  box-sizing: border-box;
  /* css3 */
}

.select2-container .select2-choice {
  display: block;
  height: 26px;
  padding: 0 0 0 8px;
  overflow: hidden;
  position: relative;
  border: 1px solid #aaa;
  white-space: nowrap;
  line-height: 26px;
  color: #444;
  text-decoration: none;
  border-radius: 4px;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
  background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
  background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = $light-text-color, endColorstr = '#eeeeee', GradientType = 0);
  background-image: linear-gradient(to top, #eee 0%, #fff 50%);
}

html[dir="rtl"] .select2-container .select2-choice {
  padding: 0 8px 0 0;
}

.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: #aaa;
  border-radius: 0 0 4px 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.9, #fff));
  background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 90%);
  background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$light-text-color, endColorstr='#eeeeee', GradientType=0);
  background-image: linear-gradient(to bottom, #eee 0%, #fff 90%);
}

.select2-container.select2-allowclear .select2-choice .select2-chosen {
  margin-right: 42px;
}

.select2-container .select2-choice > .select2-chosen {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: none;
  width: auto;
  text-transform: uppercase;
}

html[dir="rtl"] .select2-container .select2-choice > .select2-chosen {
  margin-left: 26px;
  margin-right: 0;
}

.select2-container .select2-choice abbr {
  display: none;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 24px;
  top: 8px;
  font-size: 1px;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  outline: 0;
}

.select2-container.select2-allowclear .select2-choice abbr {
  display: inline-block;
}

.select2-container .select2-choice abbr:hover {
  background-position: right -11px;
  cursor: pointer;
}

.select2-drop-mask {
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 9998;
  /* styles required for IE to work */
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-drop {
  width: 100%;
  margin-top: -1px;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background: #fff;
  color: #1ab5c1;
  border: 1px solid #aaa;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}

.select2-drop.select2-drop-above {
  margin-top: 1px;
  border-top: 1px solid #aaa;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
}

.select2-drop-active {
  border: 1px solid #5897fb;
  border-top: none;
}

.select2-drop.select2-drop-above.select2-drop-active {
  border-top: 1px solid #5897fb;
}

.select2-drop-auto-width {
  border-top: 1px solid #aaa;
  width: auto;
}

.select2-container .select2-choice .select2-arrow {
  display: inline-block;
  width: 18px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #aaa;
  border-radius: 0 4px 4px 0;
  background-clip: padding-box;
  background: #ccc;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
  background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
  background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);
  background-image: linear-gradient(to top, #ccc 0%, #eee 60%);
}

html[dir="rtl"] .select2-container .select2-choice .select2-arrow {
  left: 0;
  right: auto;
  border-left: none;
  border-right: 1px solid #aaa;
  border-radius: 4px 0 0 4px;
}

.select2-container .select2-choice .select2-arrow b {
  display: block;
  width: 100%;
  height: 100%;
}

html[dir="rtl"] .select2-container .select2-choice .select2-arrow b {
  background-position: 2px 1px;
}

.select2-search {
  display: inline-block;
  width: 100%;
  min-height: 26px;
  margin: 0;
  padding: 4px 4px 0 4px;
  position: relative;
  z-index: 10000;
  white-space: nowrap;
}

.select2-search input {
  width: 100%;
  height: auto !important;
  min-height: 26px;
  padding: 4px 20px 4px 5px;
  margin: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 1em;
  border: 1px solid #aaa;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

html[dir="rtl"] .select2-search input {
  padding: 4px 5px 4px 20px;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.select2-dropdown-open .select2-choice {
  border-bottom-color: transparent;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #eee;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fff), color-stop(0.5, #eee));
  background-image: -webkit-linear-gradient(center bottom, #fff 0%, #eee 50%);
  background-image: -moz-linear-gradient(center bottom, #fff 0%, #eee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr=$light-text-color, GradientType=0);
  background-image: linear-gradient(to top, #fff 0%, #eee 50%);
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  border: 1px solid #5897fb;
  border-top-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.5, #eee));
  background-image: -webkit-linear-gradient(center top, #fff 0%, #eee 50%);
  background-image: -moz-linear-gradient(center top, #fff 0%, #eee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr=$light-text-color, GradientType=0);
  background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
}

.select2-dropdown-open .select2-choice .select2-arrow {
  background: transparent;
  border-left: none;
  filter: none;
}

html[dir="rtl"] .select2-dropdown-open .select2-choice .select2-arrow {
  border-right: none;
}

.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -18px 1px;
}

html[dir="rtl"] .select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -16px 1px;
}

.select2-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* results */
.select2-results {
  max-height: 200px;
  padding: 0 0 0 4px;
  margin: 4px 4px 4px 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: transparent;
}

html[dir="rtl"] .select2-results {
  padding: 0 4px 0 0;
  margin: 4px 0 4px 4px;
}

.select2-results ul.select2-result-sub {
  margin: 0;
  padding-left: 0;
}

.select2-results li {
  list-style: none;
  display: list-item;
  background-image: none;
}

.select2-results li.select2-result-with-children > .select2-result-label {
  font-weight: bold;
}

.select2-results .select2-result-label {
  padding: 3px 7px 4px;
  margin: 0;
  cursor: pointer;
  min-height: 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select2-results-dept-1 .select2-result-label {
  padding-left: 20px;
}

.select2-results-dept-2 .select2-result-label {
  padding-left: 40px;
}

.select2-results-dept-3 .select2-result-label {
  padding-left: 60px;
}

.select2-results-dept-4 .select2-result-label {
  padding-left: 80px;
}

.select2-results-dept-5 .select2-result-label {
  padding-left: 100px;
}

.select2-results-dept-6 .select2-result-label {
  padding-left: 110px;
}

.select2-results-dept-7 .select2-result-label {
  padding-left: 120px;
}

.select2-results .select2-highlighted {
  background: #3875d7;
  color: #fff;
}

.select2-results li em {
  background: #feffde;
  font-style: normal;
}

.select2-results .select2-highlighted em {
  background: transparent;
}

.select2-results .select2-highlighted ul {
  background: #fff;
  color: #1ab5c1;
}

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-ajax-error,
.select2-results .select2-selection-limit {
  background: #f4f4f4;
  display: list-item;
  padding-left: 5px;
}

/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
  color: #666;
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}

.select2-results .select2-selected {
  display: none;
}

.select2-more-results.select2-active {
  background: #f4f4f4 url("select2-spinner.gif") no-repeat 100%;
}

.select2-results .select2-ajax-error {
  background: rgba(255, 50, 50, 0.2);
}

.select2-more-results {
  background: #f4f4f4;
  display: list-item;
}

/* disabled styles */
.select2-container.select2-container-disabled .select2-choice {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}

.select2-container.select2-container-disabled .select2-choice .select2-arrow {
  background-color: #f4f4f4;
  background-image: none;
  border-left: 0;
}

.select2-container.select2-container-disabled .select2-choice abbr {
  display: none;
}

/* multiselect */
.select2-container-multi .select2-choices {
  height: auto !important;
  height: 1%;
  margin: 0;
  padding: 0 5px 0 0;
  position: relative;
  border: 1px solid #aaa;
  cursor: text;
  overflow: hidden;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eee), color-stop(15%, #fff));
  background-image: -webkit-linear-gradient(top, #eee 1%, #fff 15%);
  background-image: -moz-linear-gradient(top, #eee 1%, #fff 15%);
  background-image: linear-gradient(to bottom, #eee 1%, #fff 15%);
}

html[dir="rtl"] .select2-container-multi .select2-choices {
  padding: 0 0 0 5px;
}

.select2-locked {
  padding: 3px 5px 3px 5px !important;
}

.select2-container-multi .select2-choices {
  min-height: 26px;
}

.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.select2-container-multi .select2-choices li {
  float: left;
  list-style: none;
}

html[dir="rtl"] .select2-container-multi .select2-choices li {
  float: right;
}

.select2-container-multi .select2-choices .select2-search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.select2-container-multi .select2-choices .select2-search-field input {
  padding: 5px;
  margin: 1px 0;
  font-family: sans-serif;
  font-size: 100%;
  color: #666;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent !important;
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background: #fff url("select2-spinner.gif") no-repeat 100% !important;
}

.select2-default {
  color: #999 !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 18px;
  margin: 3px 0 3px 5px;
  position: relative;
  line-height: 13px;
  color: #333;
  cursor: default;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
  background-image: linear-gradient(to bottom, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
}

html[dir="rtl"] .select2-container-multi .select2-choices .select2-search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 18px 3px 5px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
  cursor: default;
}

.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #d4d4d4;
}

.select2-search-choice-close {
  display: block;
  width: 12px;
  height: 13px;
  position: absolute;
  right: 3px;
  top: 4px;
  font-size: 1px;
  outline: none;
}

html[dir="rtl"] .select2-search-choice-close {
  right: auto;
  left: 3px;
}

.select2-container-multi .select2-search-choice-close {
  left: 3px;
}

html[dir="rtl"] .select2-container-multi .select2-search-choice-close {
  left: auto;
  right: 2px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px;
}

.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
  background-position: right -11px;
}

/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 5px;
  border: 1px solid #ddd;
  background-image: none;
  background-color: #f4f4f4;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
  display: none;
  background: none;
}

/* end multiselect */
.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
  text-decoration: underline;
}

.select2-offscreen, .select2-offscreen:focus {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important;
}

.select2-display-none {
  display: none;
}

.select2-measure-scrollbar {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 100px;
  height: 100px;
  overflow: scroll;
}

/* Retina-ize icons */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
  .select2-search input,
  .select2-search-choice-close,
  .select2-container .select2-choice abbr,
  .select2-container .select2-choice .select2-arrow b {
    background-image: url("select2x2.png") !important;
    background-repeat: no-repeat !important;
    background-size: 60px 40px !important;
  }
  .select2-search input {
    background-position: 100% -21px !important;
  }
}

/* Woocommerce Select2 override - begin
========================================================================== */
.eltd-woocommerce-page .select2-container .select2-choice {
  height: 48px;
  padding-left: 17px;
  border: 1px solid #e6e6e6;
  line-height: 48px;
  color: #1ab5c1;
  border-radius: 0;
  background-image: none;
}

.eltd-woocommerce-page .select2-container .select2-choice > .select2-chosen {
  text-transform: none;
  font-size: 15px;
  color: #646464;
}

.eltd-woocommerce-page .select2-container.select2-dropdown-open .select2-choice {
  background-color: transparent;
}

.eltd-woocommerce-page .select2-container .select2-choice .select2-arrow {
  width: 42px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-left: none;
  border-radius: 0;
  background: transparent;
  background-image: none;
}

.eltd-woocommerce-page .select2-container .select2-choice .select2-arrow b:after {
  color: #646464;
  content: '\f107';
  font-family: 'FontAwesome',serif;
  font-size: 14px;
  height: 100%;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 0;
  left: auto;
  width: 100%;
  margin: 0;
  border: none;
}

.eltd-woocommerce-page .select2-container-active .select2-choice,
.eltd-woocommerce-page .select2-container-active .select2-choices {
  border: 1px solid #e9e9e9;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.eltd-woocommerce-page .select2-drop-active {
  border: 1px solid #e9e9e9;
}

.eltd-woocommerce-page .select2-drop {
  color: #7f8385;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.eltd-woocommerce-page .woocommerce-ordering .orderby {
  float: left;
  width: 305px;
}

.eltd-woocommerce-page .woocommerce-ordering .select2-container--open .select2-dropdown--below {
  border-top: 1px solid;
}

.eltd-woocommerce-page .woocommerce-ordering .select2-container .select2-selection--single {
  height: 49px;
  border: 0;
}

.eltd-woocommerce-page .woocommerce-ordering .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 49px;
  color: #1ab5c1;
  padding-left: 0;
  padding-right: 8px;
  float: left;
}

.eltd-woocommerce-page .woocommerce-ordering .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 49px;
  float: left;
  position: relative;
  right: auto;
}

.eltd-woocommerce-page .woocommerce-ordering .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: 0;
  height: auto;
  width: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  left: 0;
}

.eltd-woocommerce-page .woocommerce-ordering .select2-container--default .select2-selection--single .select2-selection__arrow b:before {
  content: '';
  font-family: 'ElegantIcons';
  content: '5';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  color: #1ab5c1;
  position: relative;
}

.eltd-woocommerce-page .eltd-shipping-calculator .country_to_state {
  width: 100%;
}

.eltd-woocommerce-page .select2-search input {
  background-image: none;
  position: relative;
}

.eltd-woocommerce-page .select2-container--open .select2-dropdown--below {
  border-top: 1px solid #eee;
}

.eltd-woocommerce-page .select2-results {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

.eltd-woocommerce-page .select2-results .select2-highlighted {
  background-color: #1ab5c1;
}

.eltd-woocommerce-page .select2-results li {
  font-size: 15px;
  border-bottom: 1px solid #e9e9e9;
  padding: 12px 16px;
}

.eltd-woocommerce-page .select2-results .select2-result-label {
  padding: 8px 17px;
}

/* Woocommerce Select2 override - end
========================================================================== */
/* ==========================================================================
# Select 2 - end
========================================================================== */

/*# sourceMappingURL=woocommerce.css.map */