{*include $element->common('header')*}

{* VARIABLES *}
{var $type = $el->option('type') != "" ? $el->option('type') : 1}

{var $selectedKey = isset($_REQUEST['s']) && $_REQUEST['s'] != "" ? $_REQUEST['s'] : ''}
{var $selectedCat = isset($_REQUEST['category']) && $_REQUEST['category'] != "" ? $_REQUEST['category'] : ''}
{var $selectedLoc = isset($_REQUEST['location']) && $_REQUEST['location'] != "" ? $_REQUEST['location'] : ''}
{var $selectedRad = isset($_REQUEST['rad']) && $_REQUEST['rad'] != "" ? $_REQUEST['rad'] : ''}

{var $selectedLocationAddress = isset($_REQUEST['location-address']) && $_REQUEST['location-address'] != "" ? $_REQUEST['location-address'] : ''}
{var $selectedLat = isset($_REQUEST['lat']) && $_REQUEST['lat'] != "" ? $_REQUEST['lat'] : ''}
{var $selectedLon = isset($_REQUEST['lon']) && $_REQUEST['lon'] != "" ? $_REQUEST['lon'] : ''}

{* set default values only if page IS NOT SEARCH RESULT *}
{if defined('AIT_ADVANCED_SEARCH_ENABLED') and !isset($_REQUEST['a'])}
	{var $advancedSearchOptions = aitOptions()->getOptionsByType('ait-advanced-search')}
	{var $advancedSearchOptions = $advancedSearchOptions['general']}
	{if $advancedSearchOptions['useDefaults']}
		{var $selectedLocationAddress = $selectedLocationAddress != "" ? $selectedLocationAddress : $advancedSearchOptions['defaultLocation']['address']}
		{var $selectedRad = $selectedRad != "" ? $selectedRad : $advancedSearchOptions['defaultRadius']}
		{var $selectedLat = $advancedSearchOptions['defaultLocation']['latitude']}
		{var $selectedLon = $advancedSearchOptions['defaultLocation']['longitude']}
	{/if}
{/if}

{capture $searchKeyword}
	{if $type == 2}
	<span class="searchinput-wrap"><input type="text" name="s" id="searchinput-text" placeholder="{__ 'Search keyword'}" class="searchinput" value="{$selectedKey}"></span>
	{else}
	<span class="searchinput-wrap"><input type="text" name="s" id="searchinput-text" placeholder="{__ 'Search keyword'}" class="searchinput" value="{$selectedKey}"></span>
	{/if}
{/capture}

{capture $searchCategory}
	{var $categories = get_categories(array('taxonomy' => 'ait-items', 'hide_empty' => 0, 'parent' => 0))}
	{if isset($categories) && count($categories) > 0}
		<div class="category-search-wrap" data-position="first">
			{if $type == 3}
				<span class="category-icon"><i class="fa fa-folder-open"></i></span>
			{/if}
			<span class="category-clear"><i class="fa fa-times"></i></span>

			{if $type == 3}
			<select name="category" class="category-search default-disabled" style="display: none;">
			{else}
			<select data-placeholder="{__ 'Category'}" name="category" class="category-search default-disabled" style="display: none;">
			{/if}
			<option></option>
			{!= recursiveCategory($categories, $selectedCat, 'ait-items', "")}
			</select>
		</div>
	{/if}
{/capture}

{capture $searchLocation}
	{if defined('AIT_ADVANCED_SEARCH_ENABLED')}
		<div class="location-search-wrap advanced-search" data-position="last">
			{if $type == 3}
				<span class="location-icon"><i class="fa fa-map-marker"></i></span>
				<span class="location-clear"><i class="fa fa-times"></i></span>
				<div class="advanced-search-location">
					<input name="location-address" class="location-search" type="text" id=location-address placeholder="{__ 'Location'}" value="{stripslashes($selectedLocationAddress)}">
				</div>
			{else}
				<input name="location-address" class="location-search searchinput" type="text" id=location-address placeholder="{__ 'Location'}" value="{stripslashes($selectedLocationAddress)}">
				{if $type == 1}
					<i class="fa fa-map-marker"></i>
				{/if}
			{/if}
		</div>
	{else}
		{var $locations = get_categories(array('taxonomy' => 'ait-locations', 'hide_empty' => 0, 'parent' => 0))}
		{if isset($locations) && count($locations) > 0}
			<div class="location-search-wrap" data-position="last">
				{if $type == 3}
					<span class="location-icon"><i class="fa fa-map-marker"></i></span>
				{/if}
				<span class="location-clear"><i class="fa fa-times"></i></span>

				{if $type == 3}
				<select name="location" class="location-search default-disabled" style="display: none;">
				{else}
				<select data-placeholder="{__ 'Location'}" name="location" class="location-search default-disabled" style="display: none;">
				{/if}
				<option></option>
				{!= recursiveCategory($locations, $selectedLoc, 'ait-locations', "")}
				</select>
			</div>
		{/if}
	{/if}
{/capture}

{capture $searchRadius}
	{var $radiusSet = $selectedRad != "" ? 'radius-set' : ''}
	<div class="radius {$radiusSet}">
		{if $type != 2 && $type != 3}<div class="radius-toggle radius-input-visible">{__ 'Radius:'} {__ 'Off'}</div>{else}<div class="radius-toggle radius-input-visible">x {$el->option('radiusUnits')}</div>{/if}
		<input type="hidden" name="lat" value="{$selectedLat}" id="latitude-search" class="latitude-search" disabled>
		<input type="hidden" name="lon" value="{$selectedLon}" id="longitude-search" class="longitude-search" disabled>
		<input type="hidden" name="runits" value="{$el->option('radiusUnits')}" disabled>

		<div class="radius-display radius-input-hidden">
			<span class="radius-clear"><i class="fa fa-times"></i></span>
			{if $type != 2 && $type != 3}<span class="radius-text">{__ 'Radius:'}</span>{/if}
			{if $type == 2 || $type == 3}
			<span class="radius-value"></span>
			<span class="radius-units">{$el->option('radiusUnits')}</span>
			{/if}
		</div>

		<div class="radius-popup-container radius-input-hidden">
			<span class="radius-popup-close"><i class="fa fa-times"></i></span>
			{if $type != 2 && $type != 3}
			<span class="radius-value"></span>
			<span class="radius-units">{$el->option('radiusUnits')}</span>
			{/if}
			<input type="range" name="rad" class="radius-search" value="{if $selectedRad}{$selectedRad}{else}0.1{/if}" min="0.1" step="0.1" max="100" disabled>
			<span class="radius-popup-help">{$el->option('radiusHelp')}</span>
		</div>


	</div>
{/capture}
{* VARIABLES *}

<div id="{$htmlId}-main" class="{$htmlClass}-main">

{if $el->option('type') == 3}
	{if ($el->hasOption(title) and $el->option->title)}

		<div n:class="elm-mainheader, $el->hasOption(headAlign) ? $el->option->headAlign">
			{if $el->option->title}
				<h2 class="elm-maintitle">{!$el->option->title}</h2>
			{/if}
		</div>

	{/if}
{/if}

<div id="{$htmlId}" class="{$htmlClass}">

	<div id="{$htmlId}-container" n:class='search-form-container, "search-type-{$type}"'>
		<form action="{$searchUrl}" method="get" class="main-search-form">

			<div class="elm-wrapper">
				<div class="inputs-container">
					<div class="search-shadow"></div>
					<div class="search-content">
					 	{if $type == 2}

				 			{var $sentence = '<span class="label">'.$el->option('sentence').'</span>'}
					 		{var $sentence = '<span class="label">'.$el->option('sentence').'</span>'}
							{var $sentence = str_replace('{', '</span>{', $sentence)}
							{var $sentence = str_replace('}', '}<span class="label">', $sentence)}

					 		{if strpos($sentence, '{search-keyword}') !== false}
					 			{var $sentence = str_replace('{search-keyword}', $searchKeyword, $sentence)}
					 		{else}
					 			<input type="hidden" name="s" value="">
					 		{/if}

					 		{var $sentence = str_replace('{search-category}', $searchCategory, $sentence)}
					 		{var $sentence = str_replace('{search-location}', $searchLocation, $sentence)}

					 		{var $sentence = str_replace('{search-radius}', $searchRadius, $sentence)}

					 		{!$sentence}

					 	{elseif $type == 3}

					 		<div class="search-inputs-wrap">
					 			{if $el->option('enableKeywordSearch')}
					 				{!$searchKeyword}
					 			{else}
									<input type="hidden" name="s" value="">
								{/if}

					 			<!--<div class="searchsubmit-wrapper">-->
					 				<div class="submit-main-button">
										<div class="searchsubmit2">{__ 'Search'}</div>
										<input type="submit" value="{__ 'Search'}" class="searchsubmit">
									</div>
								<!--</div>-->
					 		</div>

					 		{if $el->option('type') == 3}
						 		{if ($el->hasOption(description) and $el->option->description)}
									{if $el->option->description}
										<p class="elm-maindesc">{!$el->option->description}</p>
									{/if}
								{/if}
							{/if}

					 		<div class="search-inputs-buttons-wrap">

					 			{if $el->option('enableCategorySearch')}
					 				{!$searchCategory}
					 			{/if}

					 			{if $el->option('enableLocationSearch')}
									{!$searchLocation}
								{/if}

								{if $el->option('enableRadiusSearch')}
									{!$searchRadius}
								{/if}

					 		</div>

					 	{else}
					 		<div class="search-inputs-wrap">
								{if $el->option('enableKeywordSearch')}
									{!$searchKeyword}
								{else}
									<input type="hidden" name="s" value="">
								{/if}

								{if $el->option('enableCategorySearch')}
									{!$searchCategory}
								{/if}

								{if $el->option('enableLocationSearch')}
									{!$searchLocation}
								{/if}
							</div>

							{if $el->option('enableRadiusSearch')}
								{!$searchRadius}
							{/if}

						{/if}

						<input type="hidden" name="a" value="true"> <!-- Advanced search -->
						<!-- <input type="hidden" name="lang" value="{AitLangs::getCurrentLanguageCode()}"> --> <!-- Advanced search -->

						{if $selectedKey}
						<div class="searchinput search-input-width-hack" style="position: fixed; z-index: 99999; visibility: hidden" data-defaulttext="{__ 'Search keyword'}">{$selectedKey}</div>
						{else}
						<div class="searchinput search-input-width-hack" style="position: fixed; z-index: 99999; visibility: hidden" data-defaulttext="{__ 'Search keyword'}">{__ 'Search keyword'}</div>
						{/if}
					</div>
					{if $type != 3}
					<div class="searchsubmit-wrapper">
						<div class="submit-main-button">
							<div class="searchsubmit2">{__ 'Search'}</div>
							<input type="submit" value="{__ 'Search'}" class="searchsubmit">
						</div>
					</div>
					{/if}

				</div>
			</div>

		</form>
	</div>

</div>

{includePart "ait-theme/elements/search-form/javascript"}

</div>